<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/bluedevil-5.8.6.tar.xz">bluedevil-5.8.6</a></td>
   <td align="right">141kB</td>
   <td><tt>927e05fa0ac6c3c0131cb325744fd787ce30d2397544a8431e5a9c9e79d9e963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/breeze-5.8.6.tar.xz">breeze-5.8.6</a></td>
   <td align="right">31MB</td>
   <td><tt>559f1b80daed76d45a6f7fc5c370ddce35299983487ea3ae9aa98c496dcd9d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/breeze-grub-5.8.6.tar.xz">breeze-grub-5.8.6</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d505f9deef67bb27a9ef8be9b38612800e8cd66086759933f94889d1e26794fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/breeze-gtk-5.8.6.tar.xz">breeze-gtk-5.8.6</a></td>
   <td align="right">206kB</td>
   <td><tt>f4f6db0e9a8fc8dedb1aec1e7b61077a61cedbb21085dfea4c5b346490d3fdde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/breeze-plymouth-5.8.6.tar.xz">breeze-plymouth-5.8.6</a></td>
   <td align="right">92kB</td>
   <td><tt>689fe7709423af61ee3f6b735d87c5862966759d702c8e1a5dbf2c1233a0b931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/discover-5.8.6.tar.xz">discover-5.8.6</a></td>
   <td align="right">8.7MB</td>
   <td><tt>19683ab1b8fee934b007e139912d2a5e29726b69b3586db05c42e70becc05513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kactivitymanagerd-5.8.6.tar.xz">kactivitymanagerd-5.8.6</a></td>
   <td align="right">81kB</td>
   <td><tt>043efd8b9c0c9193b9d98bb40bb1cf206c3ebd5c3ed4474435570921d570b733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kde-cli-tools-5.8.6.tar.xz">kde-cli-tools-5.8.6</a></td>
   <td align="right">478kB</td>
   <td><tt>9a815aca6919e79b77bd95df491a1fed49e737cea53a49236fb99267ecad4622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kdecoration-5.8.6.tar.xz">kdecoration-5.8.6</a></td>
   <td align="right">33kB</td>
   <td><tt>de729ef251a6abe5a6c4318a77c57c5f4d57ec1bd836156890857df7e0057059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kde-gtk-config-5.8.6.tar.xz">kde-gtk-config-5.8.6</a></td>
   <td align="right">146kB</td>
   <td><tt>4d54fa4b579c717e8c9792ce7f6b5ed1a728162df2faf50f79781ecb153a361e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kdeplasma-addons-5.8.6.tar.xz">kdeplasma-addons-5.8.6</a></td>
   <td align="right">1.9MB</td>
   <td><tt>fd1a701e434b22a56ea05455a5d8a7dbcba4c01aaecdc2f077eb2a338e15707b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kgamma5-5.8.6.tar.xz">kgamma5-5.8.6</a></td>
   <td align="right">59kB</td>
   <td><tt>3fee7212bb608f3a2b2b33d5fdab8c22310eda5ac1f55727a9ef59189f5f69ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/khotkeys-5.8.6.tar.xz">khotkeys-5.8.6</a></td>
   <td align="right">591kB</td>
   <td><tt>b2533537aa9e8ec99a73929f76eee0371b9c1573ca1e8a3df88cddbf8b00df74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kinfocenter-5.8.6.tar.xz">kinfocenter-5.8.6</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8bcc2438efb20106c9f0c8cae3a66ff202f71bf9acaaab940ffaf816002c10b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kmenuedit-5.8.6.tar.xz">kmenuedit-5.8.6</a></td>
   <td align="right">638kB</td>
   <td><tt>3c586c8fd5772905dd0eb279d4e727633b1ff4311188623edf84bd571dcb717f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kscreen-5.8.6.tar.xz">kscreen-5.8.6</a></td>
   <td align="right">110kB</td>
   <td><tt>99948bf562f6dbde5a4fc33a6c0aee3a47874cfce52cd2c7c29d7a3143bd6896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kscreenlocker-5.8.6.tar.xz">kscreenlocker-5.8.6</a></td>
   <td align="right">105kB</td>
   <td><tt>ed519a5c30bc350438d5b8418b484ae72513baf77645fe286f1ac14f302f14b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/ksshaskpass-5.8.6.tar.xz">ksshaskpass-5.8.6</a></td>
   <td align="right">19kB</td>
   <td><tt>0f195e6344b17cacb8ee0499c36f911970edd968b6dbbc008ccff4b659132179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/ksysguard-5.8.6.tar.xz">ksysguard-5.8.6</a></td>
   <td align="right">479kB</td>
   <td><tt>89806dacdd9e9c0de3626f96640dae504dd1c933a49bcc3ff6f14f50cbee0b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kwallet-pam-5.8.6.tar.xz">kwallet-pam-5.8.6</a></td>
   <td align="right">17kB</td>
   <td><tt>63bc9333a89d545465ab7cfb7d7a5cd61d8c098e454e06ea9a1b77c4cb0021c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kwayland-integration-5.8.6.tar.xz">kwayland-integration-5.8.6</a></td>
   <td align="right">17kB</td>
   <td><tt>db14f5405dbee1231aaa08a8b0aa8a5650db9b34b3fa8cc1fc146b93b185a82d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kwin-5.8.6.tar.xz">kwin-5.8.6</a></td>
   <td align="right">3.8MB</td>
   <td><tt>e549dd4e6ab3c8e4779209fe3583615e9e87d3f251a66edf0a0416d10c7c2ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/kwrited-5.8.6.tar.xz">kwrited-5.8.6</a></td>
   <td align="right">19kB</td>
   <td><tt>a59de4adc45120d2bdff5dfc5681a9bb5fdf48a744803da22611e2effe5bd921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/libkscreen-5.8.6.tar.xz">libkscreen-5.8.6</a></td>
   <td align="right">91kB</td>
   <td><tt>aeb663412141c5869b56f44a53f477f4140b64526aae21b73e95a7a9b7a72008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/libksysguard-5.8.6.tar.xz">libksysguard-5.8.6</a></td>
   <td align="right">562kB</td>
   <td><tt>a8ae640da5fedae7b59735a745d6da36eb4a3231afb116f2b453ff443f2c6244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/milou-5.8.6.tar.xz">milou-5.8.6</a></td>
   <td align="right">53kB</td>
   <td><tt>7a6d224fd0fca331e3a696ad8bd03cfb4be2fcb31bb939fb3335a89bdc895b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/oxygen-5.8.6.tar.xz">oxygen-5.8.6</a></td>
   <td align="right">4.2MB</td>
   <td><tt>15cc949a44b80f37d5af96c2fd31337ce16b3de04e8b4f97d9d6565fe5af57b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/plasma-desktop-5.8.6.tar.xz">plasma-desktop-5.8.6</a></td>
   <td align="right">6.1MB</td>
   <td><tt>de5c0a2dc8bcf79cec95d660ba535d5d236f11bcee2c5a72e328f3734e0e1f83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/plasma-integration-5.8.6.tar.xz">plasma-integration-5.8.6</a></td>
   <td align="right">49kB</td>
   <td><tt>ccb22bc771940ec9b6ef7a742af18b8b456ccc05b50b1d29b8b9ecde4b8a076c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/plasma-nm-5.8.6.tar.xz">plasma-nm-5.8.6</a></td>
   <td align="right">638kB</td>
   <td><tt>e81819b2d7f19749d4b9046953b6ab7b4bbe103ca69b8e7809c4c52cb2294798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/plasma-pa-5.8.6.tar.xz">plasma-pa-5.8.6</a></td>
   <td align="right">68kB</td>
   <td><tt>e8ca46cdbfefbf8a3067a5a6e153835a2bd44257f30eb94dba9a542bf4147c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/plasma-sdk-5.8.6.tar.xz">plasma-sdk-5.8.6</a></td>
   <td align="right">706kB</td>
   <td><tt>19716fff4b3519843d3e53113131c90429112a927f38e5577163e42136774ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/plasma-tests-5.8.6.tar.xz">plasma-tests-5.8.6</a></td>
   <td align="right">1kB</td>
   <td><tt>703f443da9390838e91b5ea259fddf719f3cad99e9a889559dc7cb609075582d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/plasma-workspace-5.8.6.tar.xz">plasma-workspace-5.8.6</a></td>
   <td align="right">6.6MB</td>
   <td><tt>51ab8b5f4c33c83fb64eb3f27561f3699b12b5e5c9fa7d38b73d93e57da50192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/plasma-workspace-wallpapers-5.8.6.tar.xz">plasma-workspace-wallpapers-5.8.6</a></td>
   <td align="right">43MB</td>
   <td><tt>2d8e11063378a7569701195b3f2fe9102ac32785767bb0bc4327da7e06d34287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/polkit-kde-agent-1-5.8.6.tar.xz">polkit-kde-agent-1-5.8.6</a></td>
   <td align="right">40kB</td>
   <td><tt>8227e8ccd12d799c7ec25940afa121d3df5fe4f66e1645a85ba96e7df2a26f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/powerdevil-5.8.6.tar.xz">powerdevil-5.8.6</a></td>
   <td align="right">349kB</td>
   <td><tt>64db4d23c631397632cc84183008290e86fe1ffdf8df662fc627a47f8ce8be32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/sddm-kcm-5.8.6.tar.xz">sddm-kcm-5.8.6</a></td>
   <td align="right">47kB</td>
   <td><tt>8cc61258cbd4c2d2a23383bd3cdc663b28feff0eb66c1edd4e808075cf08a875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/systemsettings-5.8.6.tar.xz">systemsettings-5.8.6</a></td>
   <td align="right">154kB</td>
   <td><tt>3b1c4a59df96c1623d02bbac6731f52a8deaaac30b9a30de5f3d71b4ee19c0ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.6/user-manager-5.8.6.tar.xz">user-manager-5.8.6</a></td>
   <td align="right">530kB</td>
   <td><tt>371edab0a7588236e17ec3694d46ed12196f70036fe7bdd68c3d17ba59910afc</tt></td>
</tr>

</table>
