<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/bluedevil-5.14.4.tar.xz">bluedevil-5.14.4</a></td>
   <td align="right">154kB</td>
   <td><tt>7b725e7adc88df65b88fa0044bff06a4dbb49a169f27dfbbc4b54d5e29b78711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/breeze-5.14.4.tar.xz">breeze-5.14.4</a></td>
   <td align="right">23MB</td>
   <td><tt>ce1e0d54309341eac8279e5f91f1458a4a827bc01c1ce389e526f93fb775b675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/breeze-grub-5.14.4.tar.xz">breeze-grub-5.14.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>619d5961c13f64c51a060fa2c06e833117e1f587518c6e72a15e3ea6687641e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/breeze-gtk-5.14.4.tar.xz">breeze-gtk-5.14.4</a></td>
   <td align="right">197kB</td>
   <td><tt>24619603b62b449df3ba7440d7e44ca83e918c3a7ddd10c494ea2619ae22122b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/breeze-plymouth-5.14.4.tar.xz">breeze-plymouth-5.14.4</a></td>
   <td align="right">102kB</td>
   <td><tt>67724c35f16cd96390194756620b3c8ca8f39540718f27e7a8a8e66c522b3fe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/discover-5.14.4.tar.xz">discover-5.14.4</a></td>
   <td align="right">9.9MB</td>
   <td><tt>d172ce8a5288e64920512a975985382e09c202b454633ffd88fedfe785f63b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/drkonqi-5.14.4.tar.xz">drkonqi-5.14.4</a></td>
   <td align="right">720kB</td>
   <td><tt>b1dada2c6ab6e23ff9425c77d1adc273dbf2dcaf8644927a0059d1583b2fdfbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kactivitymanagerd-5.14.4.tar.xz">kactivitymanagerd-5.14.4</a></td>
   <td align="right">83kB</td>
   <td><tt>f5698b015569e22538d69056db685611a48afe2c231ad48a779a51fe30d60eaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kde-cli-tools-5.14.4.tar.xz">kde-cli-tools-5.14.4</a></td>
   <td align="right">571kB</td>
   <td><tt>de8b4f6fd3e80d0b7eb6c2b9ace965da6c8c40864263905b468795642dbdf385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kde-gtk-config-5.14.4.tar.xz">kde-gtk-config-5.14.4</a></td>
   <td align="right">153kB</td>
   <td><tt>c8f746ea7b09fdc0b7d4debc55d1af56d87e9bec003e7ee6005e1240da4dbdb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kdecoration-5.14.4.tar.xz">kdecoration-5.14.4</a></td>
   <td align="right">41kB</td>
   <td><tt>f3ffc122b52aae490f4efb1ecc131e2d2575a9305dd8df6adead48892cd4d882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kdeplasma-addons-5.14.4.tar.xz">kdeplasma-addons-5.14.4</a></td>
   <td align="right">588kB</td>
   <td><tt>499267cc978610c38961848f8870567f017265463ad544763c912802b59cb969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kgamma5-5.14.4.tar.xz">kgamma5-5.14.4</a></td>
   <td align="right">77kB</td>
   <td><tt>2134ff79b14550c448b497126b4d7b587fa43bdb231878d617ec227380a40a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/khotkeys-5.14.4.tar.xz">khotkeys-5.14.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a267fac05ace69522a5972f6e5cba2436ffc9ac8e386d30c8da0f15aa2f47a0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kinfocenter-5.14.4.tar.xz">kinfocenter-5.14.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>2cc73fac179bd9bcf5c9ed82c9aec6c861e414d70d0042435882da76c66b09da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kmenuedit-5.14.4.tar.xz">kmenuedit-5.14.4</a></td>
   <td align="right">753kB</td>
   <td><tt>8fa4548ac8cfe1c30223279dd09b1f7270ea1ed64f52026a21678bddd9738a26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kscreen-5.14.4.tar.xz">kscreen-5.14.4</a></td>
   <td align="right">119kB</td>
   <td><tt>26b107c07ded53d1dd7c93814c59c76086cfd9019d18997f1491e290498414b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kscreenlocker-5.14.4.tar.xz">kscreenlocker-5.14.4</a></td>
   <td align="right">119kB</td>
   <td><tt>e2731b79f26910dda11c281705d0eb4db404f8a9610e20da3099862644b3f3ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/ksshaskpass-5.14.4.tar.xz">ksshaskpass-5.14.4</a></td>
   <td align="right">20kB</td>
   <td><tt>f502f79cba90867d21bc8d23a0c5d9b75a6e7c3f42d8d60feef83c8967e246b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/ksysguard-5.14.4.tar.xz">ksysguard-5.14.4</a></td>
   <td align="right">489kB</td>
   <td><tt>214eedfc8f341b2b13218da67bbdb843d52c7638be38937f427adf308588123f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kwallet-pam-5.14.4.tar.xz">kwallet-pam-5.14.4</a></td>
   <td align="right">18kB</td>
   <td><tt>384a0c5fcfefb94a83163a0ab47cf567d292ef08c8c62ae4e9c9d30e4a35c594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kwayland-integration-5.14.4.tar.xz">kwayland-integration-5.14.4</a></td>
   <td align="right">18kB</td>
   <td><tt>98f3d07b4c8dc2ff9c4d7b49479d68ef44aab28ff4ca8ad79db11a331c22800b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kwin-5.14.4.tar.xz">kwin-5.14.4</a></td>
   <td align="right">6.2MB</td>
   <td><tt>d146dd3742400684328b5ae268b24ebfb118b2cce75ab1b8994ea883491a323d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/kwrited-5.14.4.tar.xz">kwrited-5.14.4</a></td>
   <td align="right">19kB</td>
   <td><tt>5b5a5260763dd9d3999a24ceeef70495225554e50163241bf9418963d8e61fb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/libkscreen-5.14.4.tar.xz">libkscreen-5.14.4</a></td>
   <td align="right">78kB</td>
   <td><tt>1f20ab00ec5d8a2e99dd400c3cace8d84347a527449fb0e838d0cbaecd72a6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/libksysguard-5.14.4.tar.xz">libksysguard-5.14.4</a></td>
   <td align="right">562kB</td>
   <td><tt>2233a024aa1d19c0f0d4142ae436df44cf98e0de3203da1a62556891779ad4d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/milou-5.14.4.tar.xz">milou-5.14.4</a></td>
   <td align="right">56kB</td>
   <td><tt>6e567177f3deccc5794e7c214e68e811a26c7ed3a1e63488ff41451b7fc973b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/oxygen-5.14.4.tar.xz">oxygen-5.14.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>1f4c1e7c94204af3d146670df4a6a271b433b23b4543b6ad5adcfb9aad8ebde5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-browser-integration-5.14.4.tar.xz">plasma-browser-integration-5.14.4</a></td>
   <td align="right">107kB</td>
   <td><tt>b50c4ac698070ec57ee5446e2166aa9bab037c679d4eb8da85675787ab898d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-desktop-5.14.4.1.tar.xz">plasma-desktop-5.14.4.1</a></td>
   <td align="right">8.7MB</td>
   <td><tt>842105a5d86d953074790db0cbd7f8e0b0a5e7658bfe629b93dd3cd552c59561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-integration-5.14.4.tar.xz">plasma-integration-5.14.4</a></td>
   <td align="right">52kB</td>
   <td><tt>68a43e222ed8c6d6f8dca780a6ad59a5d46fc040fff7542ca3ef87d21f584e4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-nm-5.14.4.tar.xz">plasma-nm-5.14.4</a></td>
   <td align="right">703kB</td>
   <td><tt>b3cfa41e0116b896a121ffe5ae0d6bc4cbc0f599d89e7fddff0feb8595525292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-pa-5.14.4.tar.xz">plasma-pa-5.14.4</a></td>
   <td align="right">92kB</td>
   <td><tt>e3629b417d4830c0e4c5f4a4a26392c4e44e98c54bd51676a56391ff940aaca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-sdk-5.14.4.tar.xz">plasma-sdk-5.14.4</a></td>
   <td align="right">244kB</td>
   <td><tt>dab7d29b99b0f6879bfcb5b2de0fc200a3b1af4781005550971f6cd69310e1d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-tests-5.14.4.tar.xz">plasma-tests-5.14.4</a></td>
   <td align="right">1kB</td>
   <td><tt>8723e63eb9c4e6da2f7b412a2204c585b0fddae6cb9e06fe111b129b62ee359e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-vault-5.14.4.tar.xz">plasma-vault-5.14.4</a></td>
   <td align="right">117kB</td>
   <td><tt>9975923ff4985d0dbce5d2746bf977246605fd6f010f81662da20d5b12478abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-workspace-5.14.4.tar.xz">plasma-workspace-5.14.4</a></td>
   <td align="right">4.3MB</td>
   <td><tt>c5391f714d50828e10b58616ea8a9873cd6bd183039b8693bfc968c68d98af36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plasma-workspace-wallpapers-5.14.4.tar.xz">plasma-workspace-wallpapers-5.14.4</a></td>
   <td align="right">43MB</td>
   <td><tt>268e936fe184c74e46e1de99b419bb5d189d7dbdeca5ec3e71b34799c1066ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/plymouth-kcm-5.14.4.tar.xz">plymouth-kcm-5.14.4</a></td>
   <td align="right">38kB</td>
   <td><tt>1d10f575059f076c6c75ca6b23aa4409475a15557434a08f5f83a4a165d28709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/polkit-kde-agent-1-5.14.4.tar.xz">polkit-kde-agent-1-5.14.4</a></td>
   <td align="right">41kB</td>
   <td><tt>abda7dcd87a57430a0174e76d0e81fd8612df40960a90c95d920941b9eec7edf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/powerdevil-5.14.4.tar.xz">powerdevil-5.14.4</a></td>
   <td align="right">585kB</td>
   <td><tt>634858948fbee9054a8d28a91d26c4355a9d15f52ae6767331d25b66e5f91e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/sddm-kcm-5.14.4.tar.xz">sddm-kcm-5.14.4</a></td>
   <td align="right">59kB</td>
   <td><tt>9fbd6af14d2c3b8be917c94a3c09f38a8de2730250d51edd2f6820f481d3b10f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/systemsettings-5.14.4.tar.xz">systemsettings-5.14.4</a></td>
   <td align="right">175kB</td>
   <td><tt>9e7a49e4448b708e6e62891f5bc2b8205f78cd828cb2da1cd0574d944e9a9e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/user-manager-5.14.4.tar.xz">user-manager-5.14.4</a></td>
   <td align="right">533kB</td>
   <td><tt>4bdfd365c6af222d0982fc02a36d8df6d341d81e1eafca288d4bfe3091351c84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.4/xdg-desktop-portal-kde-5.14.4.tar.xz">xdg-desktop-portal-kde-5.14.4</a></td>
   <td align="right">50kB</td>
   <td><tt>30ae4a2d668451957c7ff59f169a382d20da9874514329d374f4f3fd703e50dc</tt></td>
</tr>

</table>
