
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/attica-5.30.0.tar.xz">attica-5.30.0</a></td>
   <td align="right">58kB</td>
   <td><tt>c8cacc93314ca3a29eeb638225553b5c6d5d0daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/baloo-5.30.0.tar.xz">baloo-5.30.0</a></td>
   <td align="right">185kB</td>
   <td><tt>a6ed8d95baf08ea257e97fca4eac82e53794a25f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/bluez-qt-5.30.0.tar.xz">bluez-qt-5.30.0</a></td>
   <td align="right">72kB</td>
   <td><tt>6757e335d8a8f5ec316815b7e68d83e0b396fa51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/breeze-icons-5.30.0.tar.xz">breeze-icons-5.30.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dd5db7563b5d0e1a112da65f97f57842233d87ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/extra-cmake-modules-5.30.0.tar.xz">extra-cmake-modules-5.30.0</a></td>
   <td align="right">298kB</td>
   <td><tt>7c38484c1dd0e5afcaca717a6e3006f9dd4dd35a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/frameworkintegration-5.30.0.tar.xz">frameworkintegration-5.30.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7c7bd869ea86e669ded6657df6e72cf50119d643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kactivities-5.30.0.tar.xz">kactivities-5.30.0</a></td>
   <td align="right">59kB</td>
   <td><tt>a4df1533d8ad655a95d9e2af38ced0c09e1bfba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kactivities-stats-5.30.0.tar.xz">kactivities-stats-5.30.0</a></td>
   <td align="right">57kB</td>
   <td><tt>edeaf7128ccd1b15d23d30e2fa188c812f0a3cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kapidox-5.30.0.tar.xz">kapidox-5.30.0</a></td>
   <td align="right">386kB</td>
   <td><tt>031c5f0e0eb5483bda900d7cde9ff5b0be57a931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/karchive-5.30.0.tar.xz">karchive-5.30.0</a></td>
   <td align="right">109kB</td>
   <td><tt>48d1511593ed1a0755b19796205c5722c771f72e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kauth-5.30.0.tar.xz">kauth-5.30.0</a></td>
   <td align="right">80kB</td>
   <td><tt>e0df1dc4522c8a71d9f016a20cc4e33d52884edc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kbookmarks-5.30.0.tar.xz">kbookmarks-5.30.0</a></td>
   <td align="right">113kB</td>
   <td><tt>e266f96f849fd11f5e172a8fb2d19228f6e51bff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kcmutils-5.30.0.tar.xz">kcmutils-5.30.0</a></td>
   <td align="right">230kB</td>
   <td><tt>2c0db0d974bc5ef9239710a433a18da78787be6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kcodecs-5.30.0.tar.xz">kcodecs-5.30.0</a></td>
   <td align="right">214kB</td>
   <td><tt>16956555be32f97166f090267deab6780af89dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kcompletion-5.30.0.tar.xz">kcompletion-5.30.0</a></td>
   <td align="right">113kB</td>
   <td><tt>91d57b6bf5e6776af9383654044a7ab9155a5b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kconfig-5.30.0.tar.xz">kconfig-5.30.0</a></td>
   <td align="right">223kB</td>
   <td><tt>d12e60439778922b28b2e0903aa863bd99805909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kconfigwidgets-5.30.0.tar.xz">kconfigwidgets-5.30.0</a></td>
   <td align="right">362kB</td>
   <td><tt>2cefe9a4c27204201f9f2d196d3f2189ca4d806d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kcoreaddons-5.30.0.tar.xz">kcoreaddons-5.30.0</a></td>
   <td align="right">325kB</td>
   <td><tt>fe4a4531d2ac063be7bb3731f6a00530d74927eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kcrash-5.30.0.tar.xz">kcrash-5.30.0</a></td>
   <td align="right">20kB</td>
   <td><tt>5ef140a3c295c83a0bce22b598303c255ddb4494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kdbusaddons-5.30.0.tar.xz">kdbusaddons-5.30.0</a></td>
   <td align="right">34kB</td>
   <td><tt>4460128ac1439aa9af37e8d387924ec830ba9b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kdeclarative-5.30.0.tar.xz">kdeclarative-5.30.0</a></td>
   <td align="right">165kB</td>
   <td><tt>9a6b59b2f6bc62690955a11f63d4a41723d6f747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kded-5.30.0.tar.xz">kded-5.30.0</a></td>
   <td align="right">35kB</td>
   <td><tt>0b139094d1f95101bb2588f2e2723e0fea969f69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kdesignerplugin-5.30.0.tar.xz">kdesignerplugin-5.30.0</a></td>
   <td align="right">87kB</td>
   <td><tt>60c75c3206d219fcd7a404bce9b00eca5b09f640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kdesu-5.30.0.tar.xz">kdesu-5.30.0</a></td>
   <td align="right">43kB</td>
   <td><tt>4029b5ff9a57229697cf0ba11e3eff527354f48f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kdewebkit-5.30.0.tar.xz">kdewebkit-5.30.0</a></td>
   <td align="right">28kB</td>
   <td><tt>af82c2efe6efca685bd0b991c0905a8d7f3f50ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kdnssd-5.30.0.tar.xz">kdnssd-5.30.0</a></td>
   <td align="right">55kB</td>
   <td><tt>7979654d12d02b6cd479e4c9db8c23f2a5188be5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kdoctools-5.30.0.tar.xz">kdoctools-5.30.0</a></td>
   <td align="right">404kB</td>
   <td><tt>0a3076e26c4ce8b91d50257591eb0b12f30bc8ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kemoticons-5.30.0.tar.xz">kemoticons-5.30.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>63cb424c48d7871032e7e2c66481586e3568981e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kfilemetadata-5.30.0.tar.xz">kfilemetadata-5.30.0</a></td>
   <td align="right">130kB</td>
   <td><tt>8d7410c32144dfd671e8f356e5eab7638fedac77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kglobalaccel-5.30.0.tar.xz">kglobalaccel-5.30.0</a></td>
   <td align="right">81kB</td>
   <td><tt>204249db5dcf998fa664bba3a51c5518f3c74013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kguiaddons-5.30.0.tar.xz">kguiaddons-5.30.0</a></td>
   <td align="right">38kB</td>
   <td><tt>bc4afddb2237dfd01b808005ac9858f0754af9a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/ki18n-5.30.0.tar.xz">ki18n-5.30.0</a></td>
   <td align="right">590kB</td>
   <td><tt>698d839db64837aa34df31a8a62bb0f197aa0d1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kiconthemes-5.30.0.tar.xz">kiconthemes-5.30.0</a></td>
   <td align="right">199kB</td>
   <td><tt>ee86c6d538ed2938f16a147963d79cd8afc87ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kidletime-5.30.0.tar.xz">kidletime-5.30.0</a></td>
   <td align="right">25kB</td>
   <td><tt>f12f7124e5e990c9f3c1fbe638a91755809efd45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kimageformats-5.30.0.tar.xz">kimageformats-5.30.0</a></td>
   <td align="right">199kB</td>
   <td><tt>589dc063501a3878fcd9a22e9ef62fa90055dcd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kinit-5.30.0.tar.xz">kinit-5.30.0</a></td>
   <td align="right">117kB</td>
   <td><tt>87881698b4549754fe0c9c456be1dd433b415b89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kio-5.30.0.tar.xz">kio-5.30.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8c5a6a8b04578c26eb7671eb793a27aec387175f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kitemmodels-5.30.0.tar.xz">kitemmodels-5.30.0</a></td>
   <td align="right">379kB</td>
   <td><tt>cf815eb2582fe728fd0e1c3d82846538598d75c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kitemviews-5.30.0.tar.xz">kitemviews-5.30.0</a></td>
   <td align="right">72kB</td>
   <td><tt>6dbf54170391a7f9fcc580b9c5ab4caab5855614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kjobwidgets-5.30.0.tar.xz">kjobwidgets-5.30.0</a></td>
   <td align="right">87kB</td>
   <td><tt>657a16773246559cb0cbd16fcf76b7fae3c6dcdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/knewstuff-5.30.0.tar.xz">knewstuff-5.30.0</a></td>
   <td align="right">858kB</td>
   <td><tt>5b813b092a4acfc7b0ab03486567730ea3eb0b91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/knotifications-5.30.0.tar.xz">knotifications-5.30.0</a></td>
   <td align="right">94kB</td>
   <td><tt>6a88b24428e4c37320c56bc00c6a636fdc93403e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/knotifyconfig-5.30.0.tar.xz">knotifyconfig-5.30.0</a></td>
   <td align="right">81kB</td>
   <td><tt>65eb3a7cb91be6c34f8745069d4cb90c61869d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kpackage-5.30.0.tar.xz">kpackage-5.30.0</a></td>
   <td align="right">115kB</td>
   <td><tt>de4b5eec687b8562aa58ed41009449c3b6bfa941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kparts-5.30.0.tar.xz">kparts-5.30.0</a></td>
   <td align="right">151kB</td>
   <td><tt>89a47c543e1fa1c703a2f02fc9c9e09a02cf3ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kpeople-5.30.0.tar.xz">kpeople-5.30.0</a></td>
   <td align="right">57kB</td>
   <td><tt>a17870bfd53b10638d87bf678459edb6ad4344f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kplotting-5.30.0.tar.xz">kplotting-5.30.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f6fb63fa53f8b9482bc09d64ada5a6fc66a0e21f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kpty-5.30.0.tar.xz">kpty-5.30.0</a></td>
   <td align="right">56kB</td>
   <td><tt>288901b67e0be2704745055b13e6a13a20da76e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/krunner-5.30.0.tar.xz">krunner-5.30.0</a></td>
   <td align="right">65kB</td>
   <td><tt>c1dae77dbc81559383f24992a04ffbe1550df021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kservice-5.30.0.tar.xz">kservice-5.30.0</a></td>
   <td align="right">241kB</td>
   <td><tt>b24fb86998e7cd8b8e34e30ffe9eaff6f81e8aec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/ktexteditor-5.30.0.tar.xz">ktexteditor-5.30.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>10ca7d50b881257482f86151e96222ce3bd56d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/ktextwidgets-5.30.0.tar.xz">ktextwidgets-5.30.0</a></td>
   <td align="right">300kB</td>
   <td><tt>aa049fa744f60fdb1dd4315d7ab44ae006e06a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kunitconversion-5.30.0.tar.xz">kunitconversion-5.30.0</a></td>
   <td align="right">757kB</td>
   <td><tt>e166f3b03b51b4ca06285803a66084d35f86bab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kwallet-5.30.0.tar.xz">kwallet-5.30.0</a></td>
   <td align="right">295kB</td>
   <td><tt>208cb90a5e5c9b2e5701c2abbb5d626c72c9e265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kwayland-5.30.0.tar.xz">kwayland-5.30.0</a></td>
   <td align="right">253kB</td>
   <td><tt>1f05101ddf443fad972ad41109efd067999686a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kwidgetsaddons-5.30.0.tar.xz">kwidgetsaddons-5.30.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c7490f3cb112a5b7a823e2e87817791e8e187ef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kwindowsystem-5.30.0.tar.xz">kwindowsystem-5.30.0</a></td>
   <td align="right">163kB</td>
   <td><tt>22a40a3cd7c3fdbe29592c1e66c034bcf3721380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kxmlgui-5.30.0.tar.xz">kxmlgui-5.30.0</a></td>
   <td align="right">858kB</td>
   <td><tt>0a886d69c095be3d99c61c6c5acee61b9c137607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/kxmlrpcclient-5.30.0.tar.xz">kxmlrpcclient-5.30.0</a></td>
   <td align="right">27kB</td>
   <td><tt>9618d6822b7fc6ba50f643bc21e959b147f6bbb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/modemmanager-qt-5.30.0.tar.xz">modemmanager-qt-5.30.0</a></td>
   <td align="right">95kB</td>
   <td><tt>5a3888e58fe2131fac9c2090b86f6e18acc7ffb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/networkmanager-qt-5.30.0.tar.xz">networkmanager-qt-5.30.0</a></td>
   <td align="right">153kB</td>
   <td><tt>1770afe5c491f65fdd27b82cbe7ed328ec71eb17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/oxygen-icons5-5.30.0.tar.xz">oxygen-icons5-5.30.0</a></td>
   <td align="right">223MB</td>
   <td><tt>1ef75ccd2606f0b7b9c1716b3b70610c5f2969b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/plasma-framework-5.30.0.tar.xz">plasma-framework-5.30.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>9009897afc16a10d9b318b3730ff36fbc6be094c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/prison-5.30.0.tar.xz">prison-5.30.0</a></td>
   <td align="right">13kB</td>
   <td><tt>d6ed4babe41f4c459a7ed60636b96a983ddc8deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/solid-5.30.0.tar.xz">solid-5.30.0</a></td>
   <td align="right">240kB</td>
   <td><tt>1fcea45da0247fec80798b7cea26e85b3e16e331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/sonnet-5.30.0.tar.xz">sonnet-5.30.0</a></td>
   <td align="right">275kB</td>
   <td><tt>08abff3b74f30122d7757c4b792f867178fde310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/syntax-highlighting-5.30.0.tar.xz">syntax-highlighting-5.30.0</a></td>
   <td align="right">951kB</td>
   <td><tt>9d6711414a0cde9fbb6dde3f307c9cc077ddc065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.30/threadweaver-5.30.0.tar.xz">threadweaver-5.30.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f982e9df561bc57bbd4268243e44cf904a1e56cc</tt></td>
</tr>

</table>
