<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akonadi-16.11.90.tar.xz">akonadi-16.11.90</a></td>
   <td align="right">1011kB</td>
   <td><tt>176572519b469a1ad9014bacc36a2ecd7c1d048c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akonadi-calendar-16.11.90.tar.xz">akonadi-calendar-16.11.90</a></td>
   <td align="right">112kB</td>
   <td><tt>8afe9bea78be8f1f37bdfc2478cc4b7cab523c7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akonadi-calendar-tools-16.11.90.tar.xz">akonadi-calendar-tools-16.11.90</a></td>
   <td align="right">60kB</td>
   <td><tt>2ed9eef96f1e648fe2df39fab96aeef3d76e5d2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akonadiconsole-16.11.90.tar.xz">akonadiconsole-16.11.90</a></td>
   <td align="right">173kB</td>
   <td><tt>e88a8b861bf6fd65927a586f9790df4627dddcc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akonadi-contacts-16.11.90.tar.xz">akonadi-contacts-16.11.90</a></td>
   <td align="right">145kB</td>
   <td><tt>f671fc28aa4767517b5386148f72e31dc6c3ccca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akonadi-import-wizard-16.11.90.tar.xz">akonadi-import-wizard-16.11.90</a></td>
   <td align="right">234kB</td>
   <td><tt>864bc3b049d711536f6afca05374a6a12b768da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akonadi-mime-16.11.90.tar.xz">akonadi-mime-16.11.90</a></td>
   <td align="right">54kB</td>
   <td><tt>ec739ebffc3859d4ab8626b8afcf00b418d974af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akonadi-notes-16.11.90.tar.xz">akonadi-notes-16.11.90</a></td>
   <td align="right">18kB</td>
   <td><tt>3f172c28666326d5790e22fff95d9f4ff3466abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akonadi-search-16.11.90.tar.xz">akonadi-search-16.11.90</a></td>
   <td align="right">70kB</td>
   <td><tt>e61109d2fa4fab0ca348a73aa1cfbdf4a02bb70b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/akregator-16.11.90.tar.xz">akregator-16.11.90</a></td>
   <td align="right">864kB</td>
   <td><tt>91746656e816c51ea02d901096a002d2038444ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/analitza-16.11.90.tar.xz">analitza-16.11.90</a></td>
   <td align="right">228kB</td>
   <td><tt>0be5817fa3e8a8e2c3103e682096933034bcfad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ark-16.11.90.tar.xz">ark-16.11.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>47e808488288fa014f1780248e267e68d3c37a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/artikulate-16.11.90.tar.xz">artikulate-16.11.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>febb9ea6bad10b1e301159b43d92942b1bcb1b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/audiocd-kio-16.11.90.tar.xz">audiocd-kio-16.11.90</a></td>
   <td align="right">52kB</td>
   <td><tt>a35c5f9fe76553bd684cc324825b69fe30250855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/baloo-widgets-16.11.90.tar.xz">baloo-widgets-16.11.90</a></td>
   <td align="right">55kB</td>
   <td><tt>b10ccbf0b7409f48c39a3a636eab950802502b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/blinken-16.11.90.tar.xz">blinken-16.11.90</a></td>
   <td align="right">549kB</td>
   <td><tt>6acdcd2fc775fbeb2d808b6551bd89b4576fee99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/blogilo-16.11.90.tar.xz">blogilo-16.11.90</a></td>
   <td align="right">323kB</td>
   <td><tt>f2e4e4702aeb98753f29974c1a3fe36115057cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/bomber-16.11.90.tar.xz">bomber-16.11.90</a></td>
   <td align="right">698kB</td>
   <td><tt>c50e6e7e37c3962fda8987ffdbf1e032b121a350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/bovo-16.11.90.tar.xz">bovo-16.11.90</a></td>
   <td align="right">136kB</td>
   <td><tt>eff41f872b067f00eb487dcf43e72cc96b7cd3cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/calendarsupport-16.11.90.tar.xz">calendarsupport-16.11.90</a></td>
   <td align="right">98kB</td>
   <td><tt>e9967e1860c2116a76e70df1344db74318ca8b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/cantor-16.11.90.tar.xz">cantor-16.11.90</a></td>
   <td align="right">369kB</td>
   <td><tt>63ecdbb54695e745b9f2eebecf88cf22ea4bbe30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/cervisia-16.11.90.tar.xz">cervisia-16.11.90</a></td>
   <td align="right">463kB</td>
   <td><tt>9444def6edfcf8ff305956281af80ce02bff7770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/dolphin-16.11.90.tar.xz">dolphin-16.11.90</a></td>
   <td align="right">660kB</td>
   <td><tt>b66424e0f1d531d1e9cee3cee309b35c7c0d3027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/dolphin-plugins-16.11.90.tar.xz">dolphin-plugins-16.11.90</a></td>
   <td align="right">59kB</td>
   <td><tt>38bcb10dc9c7035873c86d21c6ddd5571d2a7b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/dragon-16.11.90.tar.xz">dragon-16.11.90</a></td>
   <td align="right">467kB</td>
   <td><tt>668fe4212558256162a3f5ae876af1b1dd48d612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/eventviews-16.11.90.tar.xz">eventviews-16.11.90</a></td>
   <td align="right">143kB</td>
   <td><tt>654ebad54c78c31a44600c9792b7443792de6931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ffmpegthumbs-16.11.90.tar.xz">ffmpegthumbs-16.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>1aab84cb5d5fa88b4885ac742e482849279e1a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/filelight-16.11.90.tar.xz">filelight-16.11.90</a></td>
   <td align="right">206kB</td>
   <td><tt>6d3d6452f883dc50fd164d45fb53d22accf3179b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/granatier-16.11.90.tar.xz">granatier-16.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>710e8113f7890714351eb9b6482e9e64e5dfa733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/grantlee-editor-16.11.90.tar.xz">grantlee-editor-16.11.90</a></td>
   <td align="right">44kB</td>
   <td><tt>943686be66faa01d2300b5eac370d38f5c2a35ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/grantleetheme-16.11.90.tar.xz">grantleetheme-16.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>972f65571922d735dc08bff584a45d0b4b4675e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/gwenview-16.11.90.tar.xz">gwenview-16.11.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>84a8044e53c14f4dd88cf4f84b78301fe3f0066f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/incidenceeditor-16.11.90.tar.xz">incidenceeditor-16.11.90</a></td>
   <td align="right">118kB</td>
   <td><tt>47ce007e2d88d740f25da125fadd58128f574fea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/jovie-16.11.90.tar.xz">jovie-16.11.90</a></td>
   <td align="right">385kB</td>
   <td><tt>dfbca87f4af2054488d281df8fe6c5aa884e2e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/juk-16.11.90.tar.xz">juk-16.11.90</a></td>
   <td align="right">435kB</td>
   <td><tt>a31dbfff69fc639c6eeaa8d6d248a64f1642dda8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kaccessible-16.11.90.tar.xz">kaccessible-16.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>eff377bbd5aaa881ca24abf1f6d29cdedbe04cdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kaccounts-integration-16.11.90.tar.xz">kaccounts-integration-16.11.90</a></td>
   <td align="right">45kB</td>
   <td><tt>e1e917a1950fdf641be51f4d9f02da2a9dcc8c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kaccounts-providers-16.11.90.tar.xz">kaccounts-providers-16.11.90</a></td>
   <td align="right">16kB</td>
   <td><tt>891669733d3f4e5b909d83977fdd7e2a89d3781e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kaddressbook-16.11.90.tar.xz">kaddressbook-16.11.90</a></td>
   <td align="right">161kB</td>
   <td><tt>93064f9fbf81c89fafb5aa76a8804a4628e6e709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kajongg-16.11.90.tar.xz">kajongg-16.11.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>909230a180548b898571ce032a908bf51fa3ca5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kalarm-16.11.90.tar.xz">kalarm-16.11.90</a></td>
   <td align="right">552kB</td>
   <td><tt>2ea354b5084437d45b9d4938726ed0ede41a2354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kalarmcal-16.11.90.tar.xz">kalarmcal-16.11.90</a></td>
   <td align="right">85kB</td>
   <td><tt>1fb0412d518a068cf8a27c1edb026043ec111fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kalgebra-16.11.90.tar.xz">kalgebra-16.11.90</a></td>
   <td align="right">315kB</td>
   <td><tt>cd4c4a58ef3d8ad400f395127e6d63cc771cc9e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kalzium-16.11.90.tar.xz">kalzium-16.11.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>eaaa276855ff7b9e19c9e9c94cb2ace06b07fbfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kamera-16.11.90.tar.xz">kamera-16.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>e57830665de6eb8faee4baa3cd44434939713196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kanagram-16.11.90.tar.xz">kanagram-16.11.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>8405ab2a25c9de27055b27ecc2f95e7ed35ec9d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kapman-16.11.90.tar.xz">kapman-16.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9218668bd1d23b8e8589e7ab213e550d2e704ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kapptemplate-16.11.90.tar.xz">kapptemplate-16.11.90</a></td>
   <td align="right">474kB</td>
   <td><tt>bd7866d4f2e8f7f76d8e06ddc1606bf103866e4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kate-16.11.90.tar.xz">kate-16.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>db2c3e947f9d55db775e5ec145a04602586f4313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/katomic-16.11.90.tar.xz">katomic-16.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>96a4b87127bd081424add4e88eb3ca13397c59c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kblackbox-16.11.90.tar.xz">kblackbox-16.11.90</a></td>
   <td align="right">216kB</td>
   <td><tt>9ced4a847f8717c93759dd268c9eacd3b707a92d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kblocks-16.11.90.tar.xz">kblocks-16.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6d4e39c1ea4d9575fc0bbc70af3e302ccafe6955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kblog-16.11.90.tar.xz">kblog-16.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>2aa75c2450360d81abd602ea1f5231060daad2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kbounce-16.11.90.tar.xz">kbounce-16.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>41e9da2ae618e11be61c7ddda1bb13eab04d99c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kbreakout-16.11.90.tar.xz">kbreakout-16.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8a563c0c98a4e664307e5d9591f3bbfc1f9e910f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kbruch-16.11.90.tar.xz">kbruch-16.11.90</a></td>
   <td align="right">701kB</td>
   <td><tt>ae8e8c4dd595b751e3cae3f022f44696b8da199c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kcachegrind-16.11.90.tar.xz">kcachegrind-16.11.90</a></td>
   <td align="right">234kB</td>
   <td><tt>fdc1afc5ce660e8cdc4c106bb15c9c72e80a7e0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kcalc-16.11.90.tar.xz">kcalc-16.11.90</a></td>
   <td align="right">82kB</td>
   <td><tt>48f2b5e43002dc9facec5f0ea6ba87e57bb673e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kcalcore-16.11.90.tar.xz">kcalcore-16.11.90</a></td>
   <td align="right">287kB</td>
   <td><tt>9eb1e36b25721b0fecc8f4ec63e953301bb9567d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kcalutils-16.11.90.tar.xz">kcalutils-16.11.90</a></td>
   <td align="right">92kB</td>
   <td><tt>8fb5309ee58a0e003a9284898016d62f8456c46c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kcharselect-16.11.90.tar.xz">kcharselect-16.11.90</a></td>
   <td align="right">81kB</td>
   <td><tt>db4a6800fc88bb9bd3df3f40b7bde8061a765b9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kcolorchooser-16.11.90.tar.xz">kcolorchooser-16.11.90</a></td>
   <td align="right">4kB</td>
   <td><tt>1b1ad3f757b38bd295756dca215204b13a8781b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kcontacts-16.11.90.tar.xz">kcontacts-16.11.90</a></td>
   <td align="right">144kB</td>
   <td><tt>0bd2e3fa93d2edb84f61081dd18d32db2ab6d651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kcron-16.11.90.tar.xz">kcron-16.11.90</a></td>
   <td align="right">136kB</td>
   <td><tt>e562edd87e2c1d80d432d6b9cd54b20c1e2cac98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdebugsettings-16.11.90.tar.xz">kdebugsettings-16.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>3480ca0d8daa2f6858bacc8eecefa516eaa8ea73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-dev-scripts-16.11.90.tar.xz">kde-dev-scripts-16.11.90</a></td>
   <td align="right">304kB</td>
   <td><tt>c52610500e606f90a7805f3c2b548fd8567a1831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-dev-utils-16.11.90.tar.xz">kde-dev-utils-16.11.90</a></td>
   <td align="right">50kB</td>
   <td><tt>1c547ddb66f2508c21772b51dba0de2f1934bfcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdeedu-data-16.11.90.tar.xz">kdeedu-data-16.11.90</a></td>
   <td align="right">94kB</td>
   <td><tt>4db3dd628206587145b8398b0d7395117566a2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdegraphics-mobipocket-16.11.90.tar.xz">kdegraphics-mobipocket-16.11.90</a></td>
   <td align="right">13kB</td>
   <td><tt>40836cf48d3765d0e6d8dba16b8aa2238246f1f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdegraphics-thumbnailers-16.11.90.tar.xz">kdegraphics-thumbnailers-16.11.90</a></td>
   <td align="right">40kB</td>
   <td><tt>96911e29d0c52d8c64161aa259ff1cf82a773dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdenetwork-filesharing-16.11.90.tar.xz">kdenetwork-filesharing-16.11.90</a></td>
   <td align="right">27kB</td>
   <td><tt>4c0cd79ced516a1cfc4c17f65e22b7891a54912b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdenlive-16.11.90.tar.xz">kdenlive-16.11.90</a></td>
   <td align="right">6.3MB</td>
   <td><tt>9ea7146945aef28d2712f1d37826436c568f5609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdepim-addons-16.11.90.tar.xz">kdepim-addons-16.11.90</a></td>
   <td align="right">322kB</td>
   <td><tt>edb48ab67b44b34e6fa8859680c1ac2126e4e853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdepim-apps-libs-16.11.90.tar.xz">kdepim-apps-libs-16.11.90</a></td>
   <td align="right">46kB</td>
   <td><tt>05590fd61b465033538724c9fd2a3b6df31dedc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdepim-runtime-16.11.90.tar.xz">kdepim-runtime-16.11.90</a></td>
   <td align="right">720kB</td>
   <td><tt>26d589f658378f98c6417bff6c0e20e0fb3fb61c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-runtime-16.11.90.tar.xz">kde-runtime-16.11.90</a></td>
   <td align="right">7.5MB</td>
   <td><tt>a69c9d2173249cd724560f29427ac653945cd225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdesdk-kioslaves-16.11.90.tar.xz">kdesdk-kioslaves-16.11.90</a></td>
   <td align="right">353kB</td>
   <td><tt>46481338f8f8cb22f3134791af842fa955ce7329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdesdk-thumbnailers-16.11.90.tar.xz">kdesdk-thumbnailers-16.11.90</a></td>
   <td align="right">11kB</td>
   <td><tt>c8ec52e2e62a13dc309ac9e7029b1c2228054a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdf-16.11.90.tar.xz">kdf-16.11.90</a></td>
   <td align="right">140kB</td>
   <td><tt>e2ebac0f56215925f0df5468561959aa50c00a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdialog-16.11.90.tar.xz">kdialog-16.11.90</a></td>
   <td align="right">30kB</td>
   <td><tt>eaf527e936eca9f60556636315f2dbd91f74c3e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kdiamond-16.11.90.tar.xz">kdiamond-16.11.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d48638b317c0b00148193815ce1776020dcfc032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/keditbookmarks-16.11.90.tar.xz">keditbookmarks-16.11.90</a></td>
   <td align="right">62kB</td>
   <td><tt>717e9868aa695df286c52b2efc3afe4d553131ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kfilereplace-16.11.90.tar.xz">kfilereplace-16.11.90</a></td>
   <td align="right">745kB</td>
   <td><tt>78427bd522e13bf191c2e16e0317a2916dd4b14a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kfind-16.11.90.tar.xz">kfind-16.11.90</a></td>
   <td align="right">59kB</td>
   <td><tt>7483cde5424722c5cd8170038202faa63b6021e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kfloppy-16.11.90.tar.xz">kfloppy-16.11.90</a></td>
   <td align="right">52kB</td>
   <td><tt>873250516d26c83cc2a29e7d47a668d006276b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kfourinline-16.11.90.tar.xz">kfourinline-16.11.90</a></td>
   <td align="right">449kB</td>
   <td><tt>df4522eb30e6e0af37f692070f989ed6f83c3c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kgeography-16.11.90.tar.xz">kgeography-16.11.90</a></td>
   <td align="right">6.4MB</td>
   <td><tt>39e1556af06a7aba80071975ee3c62dae907eaeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kget-16.11.90.tar.xz">kget-16.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>48307356f9daceb42d97d933b37ca52482982653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kgoldrunner-16.11.90.tar.xz">kgoldrunner-16.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>774d5f609b65bf38b6e9a3db4098190a696a4cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kgpg-16.11.90.tar.xz">kgpg-16.11.90</a></td>
   <td align="right">798kB</td>
   <td><tt>435b558c94d947ee430320d4d4f2f421bddccba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/khangman-16.11.90.tar.xz">khangman-16.11.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>0e676c7a3d6b5b04b2f5b020ddffaf0aa472f032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/khelpcenter-16.11.90.tar.xz">khelpcenter-16.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6eea769d2a46a96087156faf57fce0758bbe93a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kholidays-16.11.90.tar.xz">kholidays-16.11.90</a></td>
   <td align="right">171kB</td>
   <td><tt>e796c439f20c2d316965b2f6e9352dc8637c57e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kidentitymanagement-16.11.90.tar.xz">kidentitymanagement-16.11.90</a></td>
   <td align="right">37kB</td>
   <td><tt>bd1e906e5c6d1fcc631c71d264a9ab94bdcfe589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kig-16.11.90.tar.xz">kig-16.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c64a0d7d06e84039c2e53c107f504d699963ba21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kigo-16.11.90.tar.xz">kigo-16.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4712172f68e68495b5137de63a314adccb0e863b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/killbots-16.11.90.tar.xz">killbots-16.11.90</a></td>
   <td align="right">941kB</td>
   <td><tt>96d739b66a3c6e33744628e5a13ddf42bca62b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kimagemapeditor-16.11.90.tar.xz">kimagemapeditor-16.11.90</a></td>
   <td align="right">397kB</td>
   <td><tt>47e4ef07b9b94f7742767cc40c98734958760e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kimap-16.11.90.tar.xz">kimap-16.11.90</a></td>
   <td align="right">90kB</td>
   <td><tt>7fe4876416aad51c28afbcd33e415ac6f9d84744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kio-extras-16.11.90.tar.xz">kio-extras-16.11.90</a></td>
   <td align="right">273kB</td>
   <td><tt>6c19cea5d6b90b3b9cf1221776c683804cc2b565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kiriki-16.11.90.tar.xz">kiriki-16.11.90</a></td>
   <td align="right">253kB</td>
   <td><tt>ae4721118676ec4ae47e4480480df5b09637778e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kiten-16.11.90.tar.xz">kiten-16.11.90</a></td>
   <td align="right">10MB</td>
   <td><tt>2e63e27b2bdde117b7ac232e86f3061f45539487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kjumpingcube-16.11.90.tar.xz">kjumpingcube-16.11.90</a></td>
   <td align="right">135kB</td>
   <td><tt>8e7fd2fff6fd29f8ecdb6d508c9d8365e1268616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kldap-16.11.90.tar.xz">kldap-16.11.90</a></td>
   <td align="right">58kB</td>
   <td><tt>01cc55a39d29d7872ed51e7e1abfa65b57c5d986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kleopatra-16.11.90.tar.xz">kleopatra-16.11.90</a></td>
   <td align="right">694kB</td>
   <td><tt>f280b88c46f815ab38c58a13fc3f2e77b75db3fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/klettres-16.11.90.tar.xz">klettres-16.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>c067a8cabc7d9c56744f42319d979ae27bc76ee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/klickety-16.11.90.tar.xz">klickety-16.11.90</a></td>
   <td align="right">650kB</td>
   <td><tt>9f79714788917a8aa0e7fae6e0f517ab8a19320f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/klines-16.11.90.tar.xz">klines-16.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c86bc80bf8ff4ffa5823719053ea24810ec6a3a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/klinkstatus-16.11.90.tar.xz">klinkstatus-16.11.90</a></td>
   <td align="right">440kB</td>
   <td><tt>1907b10aa13bafc84c0fa987be34cc097fd35550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmag-16.11.90.tar.xz">kmag-16.11.90</a></td>
   <td align="right">84kB</td>
   <td><tt>b6edde34846bca22a7908a94c990657dc64d4215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmahjongg-16.11.90.tar.xz">kmahjongg-16.11.90</a></td>
   <td align="right">989kB</td>
   <td><tt>02f94fab0956aa581a8976be6cd2ed0e9352f39e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmail-16.11.90.tar.xz">kmail-16.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3819427b7c64aff0e5d60e0e62666e7a3cc51c4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmail-account-wizard-16.11.90.tar.xz">kmail-account-wizard-16.11.90</a></td>
   <td align="right">59kB</td>
   <td><tt>73d38e90b7a6540b711d9b360ad9d752b09e03fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmailtransport-16.11.90.tar.xz">kmailtransport-16.11.90</a></td>
   <td align="right">89kB</td>
   <td><tt>66157708bcab3a3f69137f2d0ccd965c8006bfbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmbox-16.11.90.tar.xz">kmbox-16.11.90</a></td>
   <td align="right">23kB</td>
   <td><tt>4ef819b1f299533e537473f636296f31016a807b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmime-16.11.90.tar.xz">kmime-16.11.90</a></td>
   <td align="right">119kB</td>
   <td><tt>a55afbff1f895c2b0853d4e79868de42b1fbc891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmines-16.11.90.tar.xz">kmines-16.11.90</a></td>
   <td align="right">647kB</td>
   <td><tt>d7ce2750cd092d78056b73f4ec6df627e82feb6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmix-16.11.90.tar.xz">kmix-16.11.90</a></td>
   <td align="right">379kB</td>
   <td><tt>12365e973a319e693ca0050abcb9934886a5b673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmousetool-16.11.90.tar.xz">kmousetool-16.11.90</a></td>
   <td align="right">35kB</td>
   <td><tt>79d06e9e52dbd8045ca0e92cdbf3a22276802262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmouth-16.11.90.tar.xz">kmouth-16.11.90</a></td>
   <td align="right">271kB</td>
   <td><tt>6ae6fbd8eb29094ffc58336ab01082d105d4a891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kmplot-16.11.90.tar.xz">kmplot-16.11.90</a></td>
   <td align="right">558kB</td>
   <td><tt>3a9dc7fe6c643b677acd3d5ffa04afc457a72eb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/knavalbattle-16.11.90.tar.xz">knavalbattle-16.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>da81efd0980d4ecf5b546698cf592522e684723d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/knetwalk-16.11.90.tar.xz">knetwalk-16.11.90</a></td>
   <td align="right">883kB</td>
   <td><tt>91771ed22c33914a35989d65f1586c3ddcbeb428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/knotes-16.11.90.tar.xz">knotes-16.11.90</a></td>
   <td align="right">159kB</td>
   <td><tt>c4a049d0c329522b4c70eef07c095b249b4ee510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kolf-16.11.90.tar.xz">kolf-16.11.90</a></td>
   <td align="right">751kB</td>
   <td><tt>e58da1c1a2e794c3872a59ed966a77e899370fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kollision-16.11.90.tar.xz">kollision-16.11.90</a></td>
   <td align="right">221kB</td>
   <td><tt>308052a90f5a9c21c1a8c9c520bd40aa3d03ee3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kolourpaint-16.11.90.tar.xz">kolourpaint-16.11.90</a></td>
   <td align="right">858kB</td>
   <td><tt>35cd25f8ea39c55a958e10cd8d3f19fafd662518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kommander-16.11.90.tar.xz">kommander-16.11.90</a></td>
   <td align="right">925kB</td>
   <td><tt>41b8b801b05c401d02bf2e623e1963107a864332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kompare-16.11.90.tar.xz">kompare-16.11.90</a></td>
   <td align="right">231kB</td>
   <td><tt>01db378c8f67efddd2ca4545e9796f0f81e0a725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/konqueror-16.11.90.tar.xz">konqueror-16.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a90e318a7ccfd5f2b5cfb70bab47e9407d3ddcad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/konquest-16.11.90.tar.xz">konquest-16.11.90</a></td>
   <td align="right">396kB</td>
   <td><tt>244f621a75095e97588ceda8dbd0e8e4694b05e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/konsole-16.11.90.tar.xz">konsole-16.11.90</a></td>
   <td align="right">453kB</td>
   <td><tt>e10c5ac36f1c5101fd71ce5196ff326f3d6fca5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kontact-16.11.90.tar.xz">kontact-16.11.90</a></td>
   <td align="right">804kB</td>
   <td><tt>75ab92d311688da6f9801d55f19aa0cdd6067dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kontactinterface-16.11.90.tar.xz">kontactinterface-16.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>b79b8c65113ba377574af4633335c44ec8b532eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kopete-16.11.90.tar.xz">kopete-16.11.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>4c239b14fbe9ee8d78cf41e2051751fb09b6bd9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/korganizer-16.11.90.tar.xz">korganizer-16.11.90</a></td>
   <td align="right">811kB</td>
   <td><tt>a1044051e89f90b8884506ca97e23c4e99eab6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kpat-16.11.90.tar.xz">kpat-16.11.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>ded463a1d4145a12b123d0a37a1bae076f6a8621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kpimtextedit-16.11.90.tar.xz">kpimtextedit-16.11.90</a></td>
   <td align="right">77kB</td>
   <td><tt>2ebad6bf17fcc29b4bbf72883854f45957a93e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kppp-16.11.90.tar.xz">kppp-16.11.90</a></td>
   <td align="right">684kB</td>
   <td><tt>d68f862122937cbb76b0e148f2a152f9f3ce1815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kqtquickcharts-16.11.90.tar.xz">kqtquickcharts-16.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>96300b3a871173352bc60dece39e5860ab40c9bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/krdc-16.11.90.tar.xz">krdc-16.11.90</a></td>
   <td align="right">284kB</td>
   <td><tt>f26ac207b022efb4a5089e95bf0adffe74097a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kremotecontrol-16.11.90.tar.xz">kremotecontrol-16.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ceb3a0833fdb78602f32a86287780ac61ebf1f36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kreversi-16.11.90.tar.xz">kreversi-16.11.90</a></td>
   <td align="right">463kB</td>
   <td><tt>40b6062ff43a39047f4b9963aa8d1ac9219fdfda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/krfb-16.11.90.tar.xz">krfb-16.11.90</a></td>
   <td align="right">161kB</td>
   <td><tt>4c420733506dfe0c1ccff1a05c9f17920ec9e6f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kross-interpreters-16.11.90.tar.xz">kross-interpreters-16.11.90</a></td>
   <td align="right">141kB</td>
   <td><tt>1ab5d649a65e7466dea8855af5e37981cad48a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kruler-16.11.90.tar.xz">kruler-16.11.90</a></td>
   <td align="right">122kB</td>
   <td><tt>0d65a235da280d8b75051014252c6e810963959e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ksaneplugin-16.11.90.tar.xz">ksaneplugin-16.11.90</a></td>
   <td align="right">12kB</td>
   <td><tt>695cfe0930cbac86e9436ffe4dbec6015121d7a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kscd-16.11.90.tar.xz">kscd-16.11.90</a></td>
   <td align="right">90kB</td>
   <td><tt>1a175f7950ccce49cdd821920a6e5dff7aa52565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kshisen-16.11.90.tar.xz">kshisen-16.11.90</a></td>
   <td align="right">336kB</td>
   <td><tt>2104c9a383639741db7fff99ef9c146e214807ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ksirk-16.11.90.tar.xz">ksirk-16.11.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>7ad76a65ad25a97549d6b357c8fdb2b8f91923b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ksnakeduel-16.11.90.tar.xz">ksnakeduel-16.11.90</a></td>
   <td align="right">291kB</td>
   <td><tt>38f8424b78539e87595de58e612fb8611f8c7b8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kspaceduel-16.11.90.tar.xz">kspaceduel-16.11.90</a></td>
   <td align="right">247kB</td>
   <td><tt>b3b09f8f6aa9928f059b643fa9e7039bdb3462c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ksquares-16.11.90.tar.xz">ksquares-16.11.90</a></td>
   <td align="right">133kB</td>
   <td><tt>bbb399e501a94c9230bba966380db37fae510804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kstars-16.11.90.tar.xz">kstars-16.11.90</a></td>
   <td align="right">37MB</td>
   <td><tt>cd571a68ee2dd33d90f306b06b489e657bf51fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ksudoku-16.11.90.tar.xz">ksudoku-16.11.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>32a68bf571ca7e44016407f8e1c9ea7e5105480c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ksystemlog-16.11.90.tar.xz">ksystemlog-16.11.90</a></td>
   <td align="right">342kB</td>
   <td><tt>2d353a4cf2c64e1ff9876f67e58d8063217e2f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kteatime-16.11.90.tar.xz">kteatime-16.11.90</a></td>
   <td align="right">88kB</td>
   <td><tt>03eeb73218e086617873c57c3a565e195b6b3b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktimer-16.11.90.tar.xz">ktimer-16.11.90</a></td>
   <td align="right">157kB</td>
   <td><tt>f2dcc074779a018bd6d3d965e866850ae2b6208a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktnef-16.11.90.tar.xz">ktnef-16.11.90</a></td>
   <td align="right">227kB</td>
   <td><tt>e3f31988c6c5b07f37a6b86c8668c1d59c6bf91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktouch-16.11.90.tar.xz">ktouch-16.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>0127f64ab842775e7ab84de81a2290bbad164c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-accounts-kcm-16.11.90.tar.xz">ktp-accounts-kcm-16.11.90</a></td>
   <td align="right">87kB</td>
   <td><tt>a39e6b3110afab7669c154fb70f49cc5be35ab09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-approver-16.11.90.tar.xz">ktp-approver-16.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>71151c8899d8db82e760bf2fd5315e13b07e970b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-auth-handler-16.11.90.tar.xz">ktp-auth-handler-16.11.90</a></td>
   <td align="right">25kB</td>
   <td><tt>10a6b446cb17c758803f7f9137016fd0b7f8249d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-call-ui-16.11.90.tar.xz">ktp-call-ui-16.11.90</a></td>
   <td align="right">44kB</td>
   <td><tt>e49da5d963d98cf5a4d228fb11375fd3043ddc06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-common-internals-16.11.90.tar.xz">ktp-common-internals-16.11.90</a></td>
   <td align="right">309kB</td>
   <td><tt>ae6b7b02e739e4d03c0bbd96cbac6c4da3183359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-contact-list-16.11.90.tar.xz">ktp-contact-list-16.11.90</a></td>
   <td align="right">47kB</td>
   <td><tt>0d35281da11ce7436e65a293e4ec4dc228609d66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-contact-runner-16.11.90.tar.xz">ktp-contact-runner-16.11.90</a></td>
   <td align="right">16kB</td>
   <td><tt>dc3f6a882e4f1a0f4acac7aa589d5cfbc4007f68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-desktop-applets-16.11.90.tar.xz">ktp-desktop-applets-16.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>a6c7f9cefb8e01a48e0e1a48713a614c2d3b70f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-filetransfer-handler-16.11.90.tar.xz">ktp-filetransfer-handler-16.11.90</a></td>
   <td align="right">22kB</td>
   <td><tt>c1ed80c17fb6a77678129a13611a213dedb8edbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-kded-module-16.11.90.tar.xz">ktp-kded-module-16.11.90</a></td>
   <td align="right">37kB</td>
   <td><tt>fc618f87f4918150c24db4de7c0796d499e6dd21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-send-file-16.11.90.tar.xz">ktp-send-file-16.11.90</a></td>
   <td align="right">14kB</td>
   <td><tt>011bd475373efd997cc46879c505449c0c76019e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktp-text-ui-16.11.90.tar.xz">ktp-text-ui-16.11.90</a></td>
   <td align="right">288kB</td>
   <td><tt>5c5e0b36164594209a8348e5efa06ac4411aa73d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/ktuberling-16.11.90.tar.xz">ktuberling-16.11.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>deee92804ab1c5a1e57996570e31cd1f832bffe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kturtle-16.11.90.tar.xz">kturtle-16.11.90</a></td>
   <td align="right">192kB</td>
   <td><tt>111139dbc1ed9f1a8f1a8f3f709ab010396766d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kubrick-16.11.90.tar.xz">kubrick-16.11.90</a></td>
   <td align="right">105kB</td>
   <td><tt>221ef81a3ba6f2ac0f813cbba1e001cfa26fe204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kwalletmanager-16.11.90.tar.xz">kwalletmanager-16.11.90</a></td>
   <td align="right">372kB</td>
   <td><tt>c6c42ed9e5b2b42cf3361b8caa8f13ab239ace5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kwave-16.11.90.tar.xz">kwave-16.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ef612a42d956ca2f85bc0ba31c15fb574a34c42a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kwordquiz-16.11.90.tar.xz">kwordquiz-16.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>65bc6aba2685c984b5829f593eb27842c65feb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libgravatar-16.11.90.tar.xz">libgravatar-16.11.90</a></td>
   <td align="right">21kB</td>
   <td><tt>3644c8d67dd645e3763d4b35926cd14399ff3d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkcddb-16.11.90.tar.xz">libkcddb-16.11.90</a></td>
   <td align="right">155kB</td>
   <td><tt>6759f5d325f86be0adfb938a347588871ce32214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkcompactdisc-16.11.90.tar.xz">libkcompactdisc-16.11.90</a></td>
   <td align="right">75kB</td>
   <td><tt>d77898da8072f3b9b977ac92a31a0b9a55dce7ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkdcraw-16.11.90.tar.xz">libkdcraw-16.11.90</a></td>
   <td align="right">41kB</td>
   <td><tt>f92adcfc80496871b5e655f7cacfe20df96cec80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkdegames-16.11.90.tar.xz">libkdegames-16.11.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>1564beb87f7ab46e5e3574676bd86e927b71e73c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkdepim-16.11.90.tar.xz">libkdepim-16.11.90</a></td>
   <td align="right">112kB</td>
   <td><tt>8cc18c6411e9788b2b78d1ad38d018cdd5e5a16c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkeduvocdocument-16.11.90.tar.xz">libkeduvocdocument-16.11.90</a></td>
   <td align="right">89kB</td>
   <td><tt>dd08ef1387d3396500c82f1d599dc14eeddbe676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkexiv2-16.11.90.tar.xz">libkexiv2-16.11.90</a></td>
   <td align="right">63kB</td>
   <td><tt>5d471f659aecc23e4a2ecef7890f9c7ddf0003d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkface-16.11.90.tar.xz">libkface-16.11.90</a></td>
   <td align="right">8.5MB</td>
   <td><tt>990bb2952d9c27628fc938e431a38d890fa60acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkgeomap-16.11.90.tar.xz">libkgeomap-16.11.90</a></td>
   <td align="right">122kB</td>
   <td><tt>b2e8f10038045e29eac4daf20f2fa59a46a79223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkipi-16.11.90.tar.xz">libkipi-16.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>c64d1ef1f2cfb5ca27fc0a7027144310c246341b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkleo-16.11.90.tar.xz">libkleo-16.11.90</a></td>
   <td align="right">127kB</td>
   <td><tt>c17a49c4eb05ff862b56a68de1f6fc03a74daef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkmahjongg-16.11.90.tar.xz">libkmahjongg-16.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c05376339149d7af8ffab75137b71fbfc3093fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libkomparediff2-16.11.90.tar.xz">libkomparediff2-16.11.90</a></td>
   <td align="right">55kB</td>
   <td><tt>3dc05b0b67f7356819b4acd019bc62cf770cd916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libksane-16.11.90.tar.xz">libksane-16.11.90</a></td>
   <td align="right">79kB</td>
   <td><tt>2c0dead4dd4dfdcf296c272ccf980aac39dedaf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/libksieve-16.11.90.tar.xz">libksieve-16.11.90</a></td>
   <td align="right">165kB</td>
   <td><tt>9f8da6fdead0664b18218665f0e127a8ad83cff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/lokalize-16.11.90.tar.xz">lokalize-16.11.90</a></td>
   <td align="right">936kB</td>
   <td><tt>26b617e96ee526e254707de7a46d766f07225e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/lskat-16.11.90.tar.xz">lskat-16.11.90</a></td>
   <td align="right">906kB</td>
   <td><tt>a0c09e6be07303104f1e1d86e6c14a56bfdd7a0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/mailcommon-16.11.90.tar.xz">mailcommon-16.11.90</a></td>
   <td align="right">184kB</td>
   <td><tt>b6b613c4acdb5ba8052110f72d5a594281fb2278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/mailimporter-16.11.90.tar.xz">mailimporter-16.11.90</a></td>
   <td align="right">373kB</td>
   <td><tt>1928c2357af07c513fafc9e0ac1b4c48c6a49222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/marble-16.11.90.tar.xz">marble-16.11.90</a></td>
   <td align="right">22MB</td>
   <td><tt>9231b53fe26100d7043a5aa00248f28573d53a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/mbox-importer-16.11.90.tar.xz">mbox-importer-16.11.90</a></td>
   <td align="right">22kB</td>
   <td><tt>ea4b0d795d73cffadb46e4e2970a5b9643016f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/messagelib-16.11.90.tar.xz">messagelib-16.11.90</a></td>
   <td align="right">4.4MB</td>
   <td><tt>562f0b8f1b21d5beae54413eb574ac3684c4e27f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/minuet-16.11.90.tar.xz">minuet-16.11.90</a></td>
   <td align="right">26MB</td>
   <td><tt>e326ae4375f6ddfbcba71886c4f51c9319599aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/okteta-16.11.90.tar.xz">okteta-16.11.90</a></td>
   <td align="right">495kB</td>
   <td><tt>cf4f8b1403ddcbdf2797749c85bc87a55a25f988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/okular-16.11.90.tar.xz">okular-16.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>90bc0b3bac3bd140b5253211863d0b808c197207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/palapeli-16.11.90.tar.xz">palapeli-16.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ef1c5a9546019b73f191d02397d57e7d47f21450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/parley-16.11.90.tar.xz">parley-16.11.90</a></td>
   <td align="right">5.0MB</td>
   <td><tt>68a3432ae014560be81ce570991028dc60ca6fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/picmi-16.11.90.tar.xz">picmi-16.11.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bdfd9c7bb865d3ea66685e89acc3e711a2047812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/pimcommon-16.11.90.tar.xz">pimcommon-16.11.90</a></td>
   <td align="right">155kB</td>
   <td><tt>2248c37e610c31118fc6ab172cd521a2803a84cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/pim-data-exporter-16.11.90.tar.xz">pim-data-exporter-16.11.90</a></td>
   <td align="right">100kB</td>
   <td><tt>4041155cadc6937b88de0f442e1b5c96dce4b81d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/pim-sieve-editor-16.11.90.tar.xz">pim-sieve-editor-16.11.90</a></td>
   <td align="right">309kB</td>
   <td><tt>143cfa70c3428123de7b2b4d7458373574773e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/pim-storage-service-manager-16.11.90.tar.xz">pim-storage-service-manager-16.11.90</a></td>
   <td align="right">35kB</td>
   <td><tt>6678454c3d7f915aadf23d9477a3c09b972a628e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/poxml-16.11.90.tar.xz">poxml-16.11.90</a></td>
   <td align="right">31kB</td>
   <td><tt>6212d89f63c495f40899eae04ba8954e5bf02798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/print-manager-16.11.90.tar.xz">print-manager-16.11.90</a></td>
   <td align="right">92kB</td>
   <td><tt>1b28b4d5858832df1e447768318d4ed9dfaa0fca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/rocs-16.11.90.tar.xz">rocs-16.11.90</a></td>
   <td align="right">520kB</td>
   <td><tt>574eb52ae3900492de3a4dfc6477bb8ca5769438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/signon-kwallet-extension-16.11.90.tar.xz">signon-kwallet-extension-16.11.90</a></td>
   <td align="right">10kB</td>
   <td><tt>98381f6c48124fe38a5be9b6e3d22bd8aa75b929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/spectacle-16.11.90.tar.xz">spectacle-16.11.90</a></td>
   <td align="right">979kB</td>
   <td><tt>7b88bfe4a1feb59a372b46115c766285b4879172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/step-16.11.90.tar.xz">step-16.11.90</a></td>
   <td align="right">380kB</td>
   <td><tt>a14e3a8be393e18f8c0ff20da3a7b4eb48721133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/svgpart-16.11.90.tar.xz">svgpart-16.11.90</a></td>
   <td align="right">8kB</td>
   <td><tt>3abe80cdc517300045a95e1a4e92b9131bcce90d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/sweeper-16.11.90.tar.xz">sweeper-16.11.90</a></td>
   <td align="right">80kB</td>
   <td><tt>800683a80f04ce63339f82a82988e32ef9a737dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/syndication-16.11.90.tar.xz">syndication-16.11.90</a></td>
   <td align="right">156kB</td>
   <td><tt>e6c107d71d58a5820e6b3ac797ca14f482114b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/umbrello-16.11.90.tar.xz">umbrello-16.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9504135f285d425ed87c01cd7951031d8280cf83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/zeroconf-ioslave-16.11.90.tar.xz">zeroconf-ioslave-16.11.90</a></td>
   <td align="right">25kB</td>
   <td><tt>58014cd349721946623726f603d66738912cf928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ar-16.11.90.tar.xz">kde-l10n-ar-16.11.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>b999a3f27bdab30196bb4c8e07aa13b29ecd32a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ast-16.11.90.tar.xz">kde-l10n-ast-16.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6e6e7e4b68e164d59a3a8edc582c060994aff1a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-bg-16.11.90.tar.xz">kde-l10n-bg-16.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fdeb30a00b7375cf6f048bcf4dbeb4517366db38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-bs-16.11.90.tar.xz">kde-l10n-bs-16.11.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>29b80418026235af322340aa5756db40b19f5cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ca-16.11.90.tar.xz">kde-l10n-ca-16.11.90</a></td>
   <td align="right">19MB</td>
   <td><tt>a4bfef1ee33164e10600af58db71c951e1f29dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ca@valencia-16.11.90.tar.xz">kde-l10n-ca@valencia-16.11.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e504c0569202a878d8ef145445625eee20deeea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-cs-16.11.90.tar.xz">kde-l10n-cs-16.11.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c21bb3e3683c5378a1720b25fa1eb58e3bbc8d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-da-16.11.90.tar.xz">kde-l10n-da-16.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>0232749fd5bb9f2865de572cad294feefa4162f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-de-16.11.90.tar.xz">kde-l10n-de-16.11.90</a></td>
   <td align="right">30MB</td>
   <td><tt>f36a8d9919009ed4f9c4786e27888a8f5eeff922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-el-16.11.90.tar.xz">kde-l10n-el-16.11.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b399d580a7517e68c791dd8a55f2501c74a25839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-en_GB-16.11.90.tar.xz">kde-l10n-en_GB-16.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>00c2449e17e2a8275502c6fd4222cdbf462eaf30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-eo-16.11.90.tar.xz">kde-l10n-eo-16.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>aa1972ee7deca8b3de2a83f4c7a228f28d53b924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-es-16.11.90.tar.xz">kde-l10n-es-16.11.90</a></td>
   <td align="right">16MB</td>
   <td><tt>4b80f2ab1255fb4d5230f8efa1605bee7718ccf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-et-16.11.90.tar.xz">kde-l10n-et-16.11.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>5dd91cd417efa35926044320a873ca431f9e67cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-eu-16.11.90.tar.xz">kde-l10n-eu-16.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>55da5c57b567351c1149bad33d8f575c0324a5fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-fa-16.11.90.tar.xz">kde-l10n-fa-16.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f4eb8e78aa476e2c9c2b7e4f9873ac68ea3fcf87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-fi-16.11.90.tar.xz">kde-l10n-fi-16.11.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a0096ce3e24773c840e602e955ebd512ed22c5c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-fr-16.11.90.tar.xz">kde-l10n-fr-16.11.90</a></td>
   <td align="right">29MB</td>
   <td><tt>75075d1f8e9e8af85d890e6cf3562482507e42c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ga-16.11.90.tar.xz">kde-l10n-ga-16.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5a9476479f8e3ca34008ec33e32821b103858d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-gl-16.11.90.tar.xz">kde-l10n-gl-16.11.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>52ab74a4ece53841442c0bb770660edac55be337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-he-16.11.90.tar.xz">kde-l10n-he-16.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1437583601b91e7b11e6594116bfacc29b568bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-hi-16.11.90.tar.xz">kde-l10n-hi-16.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4aaa399c35f38af955edfd13c12867c664ea5b91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-hr-16.11.90.tar.xz">kde-l10n-hr-16.11.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>06fdea2e3610f70467a4740dba54f97e071d1db9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-hu-16.11.90.tar.xz">kde-l10n-hu-16.11.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>f5fc7fb3ff1fdb1defebb0d397c1c19b6ab1005d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ia-16.11.90.tar.xz">kde-l10n-ia-16.11.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8d741aae02a0b47f6f96298954806402cf7ec462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-id-16.11.90.tar.xz">kde-l10n-id-16.11.90</a></td>
   <td align="right">375kB</td>
   <td><tt>c64fe297cf8e3117b339f0fc05ac4b40e202b90a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-is-16.11.90.tar.xz">kde-l10n-is-16.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b2821b6a2e8785da34be9e3aaa631399ebf72dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-it-16.11.90.tar.xz">kde-l10n-it-16.11.90</a></td>
   <td align="right">7.5MB</td>
   <td><tt>a573f4b8447ebff1de3e25cc039f6acdc67be037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ja-16.11.90.tar.xz">kde-l10n-ja-16.11.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4c356c192cbbcbd13beef07683409bd7317e160f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-kk-16.11.90.tar.xz">kde-l10n-kk-16.11.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>cef7178550ef1d2a0f4359a58ea3fdee019a4852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-km-16.11.90.tar.xz">kde-l10n-km-16.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>dde727e25d2bd09829ea67c52fc4d0e8e07946e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ko-16.11.90.tar.xz">kde-l10n-ko-16.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>529df55042a91a238bc26a27fc2a9400b734da6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-lt-16.11.90.tar.xz">kde-l10n-lt-16.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>c7da3a4334e6fe85f735107534ac88372078242f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-lv-16.11.90.tar.xz">kde-l10n-lv-16.11.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>aa41ab463eaf57ea1212b3d2bcd2401342ccaca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-mr-16.11.90.tar.xz">kde-l10n-mr-16.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f9792c8baaf28176acbfabce6f7d9fad515aa79a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-nb-16.11.90.tar.xz">kde-l10n-nb-16.11.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e69c8a3b21a9b1c76296afbf252f04cc5127763e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-nds-16.11.90.tar.xz">kde-l10n-nds-16.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>aedbea2fb3b8f017ffbd59fa887c1416e3c48162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-nl-16.11.90.tar.xz">kde-l10n-nl-16.11.90</a></td>
   <td align="right">12MB</td>
   <td><tt>faf0e15432de5adec2855704c62fe41c678b0f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-nn-16.11.90.tar.xz">kde-l10n-nn-16.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8717ab1a90ea5bce26b04433fd3fc0d8e2c0fe79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-pa-16.11.90.tar.xz">kde-l10n-pa-16.11.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a01327990ca0f773f3fec74f32fde5ddb924af7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-pl-16.11.90.tar.xz">kde-l10n-pl-16.11.90</a></td>
   <td align="right">14MB</td>
   <td><tt>628525485b6715d890a3b72aea333a130e769c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-pt-16.11.90.tar.xz">kde-l10n-pt-16.11.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>0ed26e0d6a30b1d1817b2458ee86996f31abd3e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-pt_BR-16.11.90.tar.xz">kde-l10n-pt_BR-16.11.90</a></td>
   <td align="right">20MB</td>
   <td><tt>7723f0fbcbe1edae360456fd757ae6a0a3872d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ro-16.11.90.tar.xz">kde-l10n-ro-16.11.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>0f2949b96a235cf18e6cf53042cb1108c086562c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ru-16.11.90.tar.xz">kde-l10n-ru-16.11.90</a></td>
   <td align="right">20MB</td>
   <td><tt>c2611a42d31daa302ba3b5fa1cabb200ca87e917</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-sk-16.11.90.tar.xz">kde-l10n-sk-16.11.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>e67301aac8ddd069396a8b409ad026b386039ea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-sl-16.11.90.tar.xz">kde-l10n-sl-16.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>442fd29a7f21b9c210dd9005772c8ad03457bbd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-sr-16.11.90.tar.xz">kde-l10n-sr-16.11.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>f22f18065959cd0aa385a414caf8a46050604453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-sv-16.11.90.tar.xz">kde-l10n-sv-16.11.90</a></td>
   <td align="right">10MB</td>
   <td><tt>8251735ad54e24cd6467e097b75985900bc0b440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-tr-16.11.90.tar.xz">kde-l10n-tr-16.11.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>415f81b73368c0b36510cd0fd92471d48cf32d81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-ug-16.11.90.tar.xz">kde-l10n-ug-16.11.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>09efc3a868e508cba5447ef786bd19bcd48c7aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-uk-16.11.90.tar.xz">kde-l10n-uk-16.11.90</a></td>
   <td align="right">22MB</td>
   <td><tt>4ec39a992a112d1923a1fb222fbe7e03ef0ae63b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-wa-16.11.90.tar.xz">kde-l10n-wa-16.11.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>905a61615a2cb755b231bf5db765ca15deff0ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-zh_CN-16.11.90.tar.xz">kde-l10n-zh_CN-16.11.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>b80eb49775326e3c81c2f03347b5db09826c3b42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.11.90/src/kde-l10n/kde-l10n-zh_TW-16.11.90.tar.xz">kde-l10n-zh_TW-16.11.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>dbd2dc512611adf4bd6496bd9880d58b5c3fc553</tt></td>
</tr>

</table>
