<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/bluedevil-5.13.4.tar.xz">bluedevil-5.13.4</a></td>
   <td align="right">145kB</td>
   <td><tt>7362a8fc82740e2b4bced08c662797356028e5ebe5e38771dd17d9728794ebb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/breeze-5.13.4.tar.xz">breeze-5.13.4</a></td>
   <td align="right">23MB</td>
   <td><tt>04e157d3468a85190cb7c8acff09c382830d9c15fc53200394359d393f6aaccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/breeze-grub-5.13.4.tar.xz">breeze-grub-5.13.4</a></td>
   <td align="right">3.0MB</td>
   <td><tt>09786a834c2b7290cc25db604d4cee93618ba84594df58b8a453362b1611beef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/breeze-gtk-5.13.4.tar.xz">breeze-gtk-5.13.4</a></td>
   <td align="right">197kB</td>
   <td><tt>400fc8e892e77523b26b117854d553c39a0cd7fcd3dbc04e8010d79863da4069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/breeze-plymouth-5.13.4.tar.xz">breeze-plymouth-5.13.4</a></td>
   <td align="right">103kB</td>
   <td><tt>40ecabeb08c02eb1f4cbcc971b9fe6c35a0230272a88cb7adca533de075c02ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/discover-5.13.4.tar.xz">discover-5.13.4</a></td>
   <td align="right">9.7MB</td>
   <td><tt>cccfa93198b7631a5c8623655e42180cff1db957400b861fb345a51c786afcd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/drkonqi-5.13.4.tar.xz">drkonqi-5.13.4</a></td>
   <td align="right">721kB</td>
   <td><tt>9f1379e789ff14d70e2f71c86a988852c77ac394e55ff330040da304958eb8b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kactivitymanagerd-5.13.4.tar.xz">kactivitymanagerd-5.13.4</a></td>
   <td align="right">83kB</td>
   <td><tt>2dbdb4deff0075da74c303fb423ee0fd98781a40b5a388f35ecdb6af6d5f0547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kde-cli-tools-5.13.4.tar.xz">kde-cli-tools-5.13.4</a></td>
   <td align="right">573kB</td>
   <td><tt>6768ee62ee1df6e1d441dd41747d6a6eab781cbb84180fc12f7591682590f6b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kdecoration-5.13.4.tar.xz">kdecoration-5.13.4</a></td>
   <td align="right">40kB</td>
   <td><tt>8d1fe32df7a23a574dcf8e8107bf570d8c9128896347c47beff6e2f3d2488eb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kde-gtk-config-5.13.4.tar.xz">kde-gtk-config-5.13.4</a></td>
   <td align="right">152kB</td>
   <td><tt>05188ae525e7ff3cda1fa72496b52d0f399d41da74f501b1085e4e33dff6a50f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kdeplasma-addons-5.13.4.tar.xz">kdeplasma-addons-5.13.4</a></td>
   <td align="right">584kB</td>
   <td><tt>04f8cd16f5af53b2fa45663d3d19832adb7de12187aaa56cdc24a83afdacf6cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kgamma5-5.13.4.tar.xz">kgamma5-5.13.4</a></td>
   <td align="right">77kB</td>
   <td><tt>dc1b5efc9185aaf79c01427ca763ee29e52a3bcf2dba683800fdfe7f26759641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/khotkeys-5.13.4.tar.xz">khotkeys-5.13.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7d9c0d54804c8275ae69d1fee159b4c5e7a5c90aabd801df40637803965302db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kinfocenter-5.13.4.tar.xz">kinfocenter-5.13.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>29cacdce61a80bae42fa60be365648d126366c65321b1eaecdfadec02281ccee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kmenuedit-5.13.4.tar.xz">kmenuedit-5.13.4</a></td>
   <td align="right">756kB</td>
   <td><tt>284d5bec41cdfe8d3b0411b006fe31a7467f524dcb4d48b659d736415823cb4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kscreen-5.13.4.tar.xz">kscreen-5.13.4</a></td>
   <td align="right">110kB</td>
   <td><tt>43f78c55cca7c14aa1ae697fbda2f2179e73e65c8850d5e38ad164d538854b51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kscreenlocker-5.13.4.tar.xz">kscreenlocker-5.13.4</a></td>
   <td align="right">118kB</td>
   <td><tt>99bc2e0b80a12d143c8ca48897f348586342ebdc6a3c6d95891652c639f06605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/ksshaskpass-5.13.4.tar.xz">ksshaskpass-5.13.4</a></td>
   <td align="right">20kB</td>
   <td><tt>662cb5694016e4bf7b1c16fe68076f1eea6452c55dcf85d7938f62c4d43125b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/ksysguard-5.13.4.tar.xz">ksysguard-5.13.4</a></td>
   <td align="right">486kB</td>
   <td><tt>8037e7bec958ab2603a6bc94536a9f3fc8ccb4d9c0d7621627b0385a0f32e5dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kwallet-pam-5.13.4.tar.xz">kwallet-pam-5.13.4</a></td>
   <td align="right">18kB</td>
   <td><tt>1758256a4d377f4c494179d70e0df506312a98f515a77a2eca4d8170c6793739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kwayland-integration-5.13.4.tar.xz">kwayland-integration-5.13.4</a></td>
   <td align="right">18kB</td>
   <td><tt>01a6d19f8ec7ccb4e2fe63789359bbeeb9232c51e3973d5a2a8f977d7f8b1a56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kwin-5.13.4.tar.xz">kwin-5.13.4</a></td>
   <td align="right">6.2MB</td>
   <td><tt>86b5129a06636c31cdb3bbed2d9fc33d5866acc6929400ec0edb02043b10d0c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/kwrited-5.13.4.tar.xz">kwrited-5.13.4</a></td>
   <td align="right">19kB</td>
   <td><tt>0bdf59ac13c7a868c9b1025a788bbcc28d3074ffb5a74c56f3bf16399aa12fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/libkscreen-5.13.4.tar.xz">libkscreen-5.13.4</a></td>
   <td align="right">76kB</td>
   <td><tt>098cd91aa15916ad9aa1e7b00e00d2db4bc59e103c6cae3fd206802a07bbecab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/libksysguard-5.13.4.tar.xz">libksysguard-5.13.4</a></td>
   <td align="right">558kB</td>
   <td><tt>70af98a88c0d0b7981c069708b82d19829b4531a2c786b073bdbff34fb2a184d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/milou-5.13.4.tar.xz">milou-5.13.4</a></td>
   <td align="right">56kB</td>
   <td><tt>4d7d9f9ac1dacf0c4fbd2e022555fb6e422b1cf29d40d778bca71715d2921c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/oxygen-5.13.4.tar.xz">oxygen-5.13.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>426e621984e64f77ea477a1397550d3fcd2ef10efb3dc564a16d39b249fa6500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-browser-integration-5.13.4.tar.xz">plasma-browser-integration-5.13.4</a></td>
   <td align="right">97kB</td>
   <td><tt>4b8238b66ee3e62246b26bef2afb1f0883701f563f189a8b5bfabbb9f8b078a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-desktop-5.13.4.tar.xz">plasma-desktop-5.13.4</a></td>
   <td align="right">8.7MB</td>
   <td><tt>bd394a063481a153edc71ff72972b5f480c3913ce17ec3e49b494db986aebef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-integration-5.13.4.tar.xz">plasma-integration-5.13.4</a></td>
   <td align="right">52kB</td>
   <td><tt>58df5ac47d4fdb2aed7d47b2e93ae3134f2a01503bc823e93a98ef2681c4bc5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-nm-5.13.4.tar.xz">plasma-nm-5.13.4</a></td>
   <td align="right">688kB</td>
   <td><tt>3813e9b557a00352ec9c98d7ee69577913842291bd8b9807c944215e7faf4d61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-pa-5.13.4.tar.xz">plasma-pa-5.13.4</a></td>
   <td align="right">88kB</td>
   <td><tt>f3a4de3e184762c111423c86f16983570df025c892246daffaeebdd952b815f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-sdk-5.13.4.tar.xz">plasma-sdk-5.13.4</a></td>
   <td align="right">243kB</td>
   <td><tt>ca5d8912dd4893a32f13f3c54e16ab6b2d1083536f250b678d43d188908dad8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-tests-5.13.4.tar.xz">plasma-tests-5.13.4</a></td>
   <td align="right">1kB</td>
   <td><tt>4e9356e60982705ec01fbde5cbae7bec68ac3437e4cb2e12a943e9d4e3e0f83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-vault-5.13.4.tar.xz">plasma-vault-5.13.4</a></td>
   <td align="right">112kB</td>
   <td><tt>9254c5b549b8199b4c287e028a06b267c1487d06ae77dbc1508598b513b197a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-workspace-5.13.4.tar.xz">plasma-workspace-5.13.4</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d0e2f16e07275cd706d48d30d4a3f5f49db9360602604ad1a6f4700cd73574cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plasma-workspace-wallpapers-5.13.4.tar.xz">plasma-workspace-wallpapers-5.13.4</a></td>
   <td align="right">43MB</td>
   <td><tt>9585df8a4c9a262e41002b732e0e28be4608868d54af29cbfa6fed00bc8ee887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/plymouth-kcm-5.13.4.tar.xz">plymouth-kcm-5.13.4</a></td>
   <td align="right">38kB</td>
   <td><tt>061455a7619461a6ddaa173cd47918f9c6b13a9c1805554e6a5503b484f628b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/polkit-kde-agent-1-5.13.4.tar.xz">polkit-kde-agent-1-5.13.4</a></td>
   <td align="right">41kB</td>
   <td><tt>6620c171e73c612a7a12f955552dd32c3d550cfce3427d1eb6ff31ced54df271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/powerdevil-5.13.4.tar.xz">powerdevil-5.13.4</a></td>
   <td align="right">584kB</td>
   <td><tt>f483e53e638250ef086ca28f63d5a9dcb35f062b9f9dcbaa2b0772087ea9f083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/sddm-kcm-5.13.4.tar.xz">sddm-kcm-5.13.4</a></td>
   <td align="right">59kB</td>
   <td><tt>c00180af3ee7fae9fb3f86ebaea3634d6361001aa8ffc5867b5d71f4a8a5ca3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/systemsettings-5.13.4.tar.xz">systemsettings-5.13.4</a></td>
   <td align="right">175kB</td>
   <td><tt>04a3f95421bb2e271ab7301cd5c7aeafe54a943792151c35366745f0d534ccfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/user-manager-5.13.4.tar.xz">user-manager-5.13.4</a></td>
   <td align="right">532kB</td>
   <td><tt>75702632ce0796ed3a19758451703474b18346d087e005d6d839a77b1c4426e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.4/xdg-desktop-portal-kde-5.13.4.tar.xz">xdg-desktop-portal-kde-5.13.4</a></td>
   <td align="right">48kB</td>
   <td><tt>116f7528f3715c3accef424ab6e44a8504838d7df88bcab808056674ce0edb09</tt></td>
</tr>

</table>
