<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/bluedevil-5.11.1.tar.xz">bluedevil-5.11.1</a></td>
   <td align="right">143kB</td>
   <td><tt>58a0a4bfbd99ef4535b7ee6380dc3a53644f367932205b8694f9bc7ed01d3e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/breeze-5.11.1.tar.xz">breeze-5.11.1</a></td>
   <td align="right">21MB</td>
   <td><tt>970a0e9a50dfb49252cbf341e6fe3ee88c5e6870a490edd667d5e208e4c90b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/breeze-grub-5.11.1.tar.xz">breeze-grub-5.11.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>8076f04bd98a2c5c0df70db3a1a3ffdaa6c6b7929e59b3b8a9c5c64a7e88995d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/breeze-gtk-5.11.1.tar.xz">breeze-gtk-5.11.1</a></td>
   <td align="right">206kB</td>
   <td><tt>f9090029dbe316a176fa7ab668a87234904fd8f5b62b9dd58d81b71adcf46361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/breeze-plymouth-5.11.1.tar.xz">breeze-plymouth-5.11.1</a></td>
   <td align="right">102kB</td>
   <td><tt>191e8693c71bb6cd7286b175c4420725373b5b3d9e3fb377c36aa0624e2827fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/discover-5.11.1.tar.xz">discover-5.11.1</a></td>
   <td align="right">9.7MB</td>
   <td><tt>8ce0f8de803e64b4621a444bc638407e6ff16c8e47f1e32807a8479ab81d257f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/drkonqi-5.11.1.tar.xz">drkonqi-5.11.1</a></td>
   <td align="right">719kB</td>
   <td><tt>6560453eed9c6bee39d214b60693d043a6d02d775832b2527818d534be36004f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kactivitymanagerd-5.11.1.tar.xz">kactivitymanagerd-5.11.1</a></td>
   <td align="right">82kB</td>
   <td><tt>0fd6af491e3e75e53949f1ef8b012216076c57e0cd860a7b1789a8f7ecaa66c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kde-cli-tools-5.11.1.tar.xz">kde-cli-tools-5.11.1</a></td>
   <td align="right">558kB</td>
   <td><tt>4c205e6a9cff7283ca727d12827c983d456f49948b82089bba8fa806fdf52736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kdecoration-5.11.1.tar.xz">kdecoration-5.11.1</a></td>
   <td align="right">34kB</td>
   <td><tt>f08e053589879dd2a16ce5a0fcde710105e336d7041d21e4f6d5175f996efbca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kde-gtk-config-5.11.1.tar.xz">kde-gtk-config-5.11.1</a></td>
   <td align="right">151kB</td>
   <td><tt>549d0828a5bdc6e46c9d08fd0c2b03c2aaada8b64ffbee39162aed2673e3cba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kdeplasma-addons-5.11.1.tar.xz">kdeplasma-addons-5.11.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>967eb0f08195e4a8b8b2f3b6c42b6afa18106974276dbfda9e3bc6a842abbc25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kgamma5-5.11.1.tar.xz">kgamma5-5.11.1</a></td>
   <td align="right">59kB</td>
   <td><tt>cd6f3c3074dbf3da4418d1a57dd287f9da08b9d37c3a21ab8c7ff8627f5735d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/khotkeys-5.11.1.tar.xz">khotkeys-5.11.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>850e226ca36549c560a5ee94a2fefe48f9e0b48c32898a86a66de3a4a20e3734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kinfocenter-5.11.1.tar.xz">kinfocenter-5.11.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>88b1da98f2e27edfe8c1d6f55188ffd8512bfad4bbc1db30d978200f0c717047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kmenuedit-5.11.1.tar.xz">kmenuedit-5.11.1</a></td>
   <td align="right">637kB</td>
   <td><tt>4621d2f7fc70c3ea82693422b107bd5a0c2009373c251714bca4a0c90ac43420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kscreen-5.11.1.tar.xz">kscreen-5.11.1</a></td>
   <td align="right">114kB</td>
   <td><tt>19bd0d5b17562c1ca9be952c76ad5fd451e289b581bdf17d9cbd338553796dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kscreenlocker-5.11.1.tar.xz">kscreenlocker-5.11.1</a></td>
   <td align="right">115kB</td>
   <td><tt>6f0f4bb27183e99857d12dbd363b1596cd350394e1bbea68e32486f80f17f849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/ksshaskpass-5.11.1.tar.xz">ksshaskpass-5.11.1</a></td>
   <td align="right">20kB</td>
   <td><tt>bdb23e4eeafe15eb8c828478a54c53f6de42f25cc9dba7b9ac883d5525f3f001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/ksysguard-5.11.1.tar.xz">ksysguard-5.11.1</a></td>
   <td align="right">477kB</td>
   <td><tt>e11b75b4ccfe325cb988eca0e6c8070438c457b240bfa7f82b014559124fe287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kwallet-pam-5.11.1.tar.xz">kwallet-pam-5.11.1</a></td>
   <td align="right">18kB</td>
   <td><tt>fed02d1a4592f6b0e80e8f1ddc6a3dfd5c7c019b3def2345fdaa8e2771a3377e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kwayland-integration-5.11.1.tar.xz">kwayland-integration-5.11.1</a></td>
   <td align="right">18kB</td>
   <td><tt>70ae95bb9ccc43ca407ec3fc55dca6de20e0ff9d7e48583444c238b6fe6634c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kwin-5.11.1.tar.xz">kwin-5.11.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>154387df916451236e9c6fb0ebabd59ddfe74c948360bbe97968e94bd745ccaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/kwrited-5.11.1.tar.xz">kwrited-5.11.1</a></td>
   <td align="right">19kB</td>
   <td><tt>40b2f195cac34ff7380bdd1ac635fd55079f86fb8d8814a0b2013ca0e56dc287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/libkscreen-5.11.1.tar.xz">libkscreen-5.11.1</a></td>
   <td align="right">91kB</td>
   <td><tt>bb71f493c021e73657696197ac8658e736769ecd388c7b2ecf91c6ff90333b37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/libksysguard-5.11.1.tar.xz">libksysguard-5.11.1</a></td>
   <td align="right">554kB</td>
   <td><tt>15424161b6cd133503a285cfef37d6b71405162e46fb7efd720711b1250905d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/milou-5.11.1.tar.xz">milou-5.11.1</a></td>
   <td align="right">55kB</td>
   <td><tt>97a1e69cce3a61386e16647e60869ef2849bb3061ac10e0cdded8688b85cf9ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/oxygen-5.11.1.tar.xz">oxygen-5.11.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>3f0544c0376ac98f063dca14f7c0414a69cff775b1e67e4033922d5630a17e2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plasma-desktop-5.11.1.tar.xz">plasma-desktop-5.11.1</a></td>
   <td align="right">7.9MB</td>
   <td><tt>fa667688f7c4de051dde79edcfdadd68df62cc65788432413102fbe9e386ece4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plasma-integration-5.11.1.tar.xz">plasma-integration-5.11.1</a></td>
   <td align="right">51kB</td>
   <td><tt>9e9662d8d89f98fae1a5682e831abf068a564d720cd8bbd8e99ececb6884fa4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plasma-nm-5.11.1.tar.xz">plasma-nm-5.11.1</a></td>
   <td align="right">678kB</td>
   <td><tt>37fc1e8f343d61badfd257bd21176df33cc2f279b2850075cc7380723c66e910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plasma-pa-5.11.1.tar.xz">plasma-pa-5.11.1</a></td>
   <td align="right">81kB</td>
   <td><tt>8c741b1867131c7e23cbc8bd2f5fed69e4f224dd4ddc60ef95c632dec82ea63c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plasma-sdk-5.11.1.tar.xz">plasma-sdk-5.11.1</a></td>
   <td align="right">242kB</td>
   <td><tt>76d0b6e88b63fcb21e44c1be00975d203f32ae1db8793167beff97173d22416b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plasma-tests-5.11.1.tar.xz">plasma-tests-5.11.1</a></td>
   <td align="right">1kB</td>
   <td><tt>f35204ed7b1d8ab7c00450d08d292ac304b3de3713c0a3c57b11c7b43e6b250f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plasma-vault-5.11.1.tar.xz">plasma-vault-5.11.1</a></td>
   <td align="right">87kB</td>
   <td><tt>20cc07f21af1dad5dc6a43340d4ac652d5a876e3fe95166c815e2ebdc0948b27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plasma-workspace-5.11.1.tar.xz">plasma-workspace-5.11.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>3e72409aa480079325905d36ceadafc9cbdfaf955d62c16c12b6a29f7b5bc4bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plasma-workspace-wallpapers-5.11.1.tar.xz">plasma-workspace-wallpapers-5.11.1</a></td>
   <td align="right">43MB</td>
   <td><tt>8c36af9f557320065982bbb557c86bd5a62aca9e91d61fafea6e90229aca8e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/plymouth-kcm-5.11.1.tar.xz">plymouth-kcm-5.11.1</a></td>
   <td align="right">23kB</td>
   <td><tt>1069f5b3b0baef8013953f4d082fce7c30aba009920ee6c34c3a9dbebe827e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/polkit-kde-agent-1-5.11.1.tar.xz">polkit-kde-agent-1-5.11.1</a></td>
   <td align="right">40kB</td>
   <td><tt>dc98fb142b19cbfe181ec15cc5d7a8f164b2cec7afcc8ed152635a983a96cc13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/powerdevil-5.11.1.tar.xz">powerdevil-5.11.1</a></td>
   <td align="right">370kB</td>
   <td><tt>18aad71908a2253339a44865029f7b9ceaa30cb5b321a43b3a8c5d2d7e442e0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/sddm-kcm-5.11.1.tar.xz">sddm-kcm-5.11.1</a></td>
   <td align="right">58kB</td>
   <td><tt>29404a38fa1ea931cc34da516dafae5f7663a75201a7a2d036a21e6c27134c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/systemsettings-5.11.1.tar.xz">systemsettings-5.11.1</a></td>
   <td align="right">166kB</td>
   <td><tt>3c1367fa2a32261601d445dcb193e0b116235b1b0f8387d459e39437567dde2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/user-manager-5.11.1.tar.xz">user-manager-5.11.1</a></td>
   <td align="right">532kB</td>
   <td><tt>f552cc895a8d36ad01fc8ed7925deeafd68ff6612bc0a5eb4956d2d150e5e5c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.1/xdg-desktop-portal-kde-5.11.1.tar.xz">xdg-desktop-portal-kde-5.11.1</a></td>
   <td align="right">29kB</td>
   <td><tt>cef61fa5a200e1ee51e6e9bf172b26c12cd10b3eb5aa0f4e8df840f0a8140271</tt></td>
</tr>

</table>
