<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/bluedevil-5.9.5.tar.xz">bluedevil-5.9.5</a></td>
   <td align="right">139kB</td>
   <td><tt>7910135f285e35e7c3de6695c98559841dd7ededc61e2a0d963f31926a74ed6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/breeze-5.9.5.tar.xz">breeze-5.9.5</a></td>
   <td align="right">29MB</td>
   <td><tt>83312b854282636bc6d10a1e579c5a13538394b76af5963f3e79b0d235053e3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/breeze-grub-5.9.5.tar.xz">breeze-grub-5.9.5</a></td>
   <td align="right">3.0MB</td>
   <td><tt>440b40a42b334456f8f015c01b5cdd4d4613f958ccf31578dba4c6acc706b40a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/breeze-gtk-5.9.5.tar.xz">breeze-gtk-5.9.5</a></td>
   <td align="right">206kB</td>
   <td><tt>32dfa87f0cdf713962c22415a0ed8b2e1eff89a6fd517407738056ff32064459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/breeze-plymouth-5.9.5.tar.xz">breeze-plymouth-5.9.5</a></td>
   <td align="right">94kB</td>
   <td><tt>d30f665db09907d39b942177ed74a7e884a824162dcc979fe3ebe47b1cc1d8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/discover-5.9.5.tar.xz">discover-5.9.5</a></td>
   <td align="right">9.2MB</td>
   <td><tt>231ec1ba751769e3a382e8e44841c2ac0b8f8f5c0c9d68ce4d5b03dfa6ee8620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kactivitymanagerd-5.9.5.tar.xz">kactivitymanagerd-5.9.5</a></td>
   <td align="right">81kB</td>
   <td><tt>07b46fe7f5101f2cf5291c4b9a05c9d3a574d131bf1690a71b0b30ff789fc049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kde-cli-tools-5.9.5.tar.xz">kde-cli-tools-5.9.5</a></td>
   <td align="right">489kB</td>
   <td><tt>56e4835deed5d81c37a69efbb399d5f59bb894da33077d251a2374ecf423d0a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kdecoration-5.9.5.tar.xz">kdecoration-5.9.5</a></td>
   <td align="right">34kB</td>
   <td><tt>d4529161bfe989f4a6c3f7e5dbf0f727119a8f7abe4ae9565fe04504e54352ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kde-gtk-config-5.9.5.tar.xz">kde-gtk-config-5.9.5</a></td>
   <td align="right">147kB</td>
   <td><tt>9e1dd2a3e1d0396159dec24191793cc163fdbc7f2e6d30504f1fab9c7f624ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kdeplasma-addons-5.9.5.tar.xz">kdeplasma-addons-5.9.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>94529ea504f98f10d238e96a4c8d02d1f3458bf062386123668451ddbf1ef280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kgamma5-5.9.5.tar.xz">kgamma5-5.9.5</a></td>
   <td align="right">59kB</td>
   <td><tt>45b612d3b92f71322e6795104f3ee00a0ca355e51eeb99bea327407c528ff8cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/khotkeys-5.9.5.tar.xz">khotkeys-5.9.5</a></td>
   <td align="right">592kB</td>
   <td><tt>a995c3b0a1a86c79c64342ae17a45fd664205592d3cd541bcd7453b5d89ac617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kinfocenter-5.9.5.tar.xz">kinfocenter-5.9.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>4f6f37b29e9f29850389fec2708dd7733051095e0ff9b842327d73bc151e7149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kmenuedit-5.9.5.tar.xz">kmenuedit-5.9.5</a></td>
   <td align="right">637kB</td>
   <td><tt>12d8fc839d584c4824e7f61f98af2bacdc7b622257620401e983bb0fce0fded5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kscreen-5.9.5.tar.xz">kscreen-5.9.5</a></td>
   <td align="right">110kB</td>
   <td><tt>d1f1fe291763fbe14ccdffaf48c2540ecd4dc1b9fa88da1930c02ca36580c0b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kscreenlocker-5.9.5.tar.xz">kscreenlocker-5.9.5</a></td>
   <td align="right">106kB</td>
   <td><tt>718511aecad9928987e0dbe10906da6eb95b0d1f678ab9aa8dfbb4d7dcfbc0c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/ksshaskpass-5.9.5.tar.xz">ksshaskpass-5.9.5</a></td>
   <td align="right">19kB</td>
   <td><tt>21bed81030113b5e2f4b6b363128bed7ca98b49880319c7b615e6862986b9ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/ksysguard-5.9.5.tar.xz">ksysguard-5.9.5</a></td>
   <td align="right">478kB</td>
   <td><tt>0693e662ef70aa6cdee79bf1e5eeba37a29b88bb555550bd48342396479d1fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kwallet-pam-5.9.5.tar.xz">kwallet-pam-5.9.5</a></td>
   <td align="right">17kB</td>
   <td><tt>361b2b53c8e1cf00b57ef17f9b15e6db9b3161e935f43abedec7775ff8ba9059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kwayland-integration-5.9.5.tar.xz">kwayland-integration-5.9.5</a></td>
   <td align="right">17kB</td>
   <td><tt>f9700c4f796b0c311c2eecd1354b5f32adc1028e5a4ccacc6edad7dd0c3e8a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kwin-5.9.5.tar.xz">kwin-5.9.5</a></td>
   <td align="right">4.4MB</td>
   <td><tt>4d4e06e956cd8c180ffcbd7b49ce5da65ff5c13c33c78a5fedb753e46d6ec98d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/kwrited-5.9.5.tar.xz">kwrited-5.9.5</a></td>
   <td align="right">19kB</td>
   <td><tt>aaad41bf140717f8bfa87381de9e1baad639afc30e06566a238f58767bd4ecea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/libkscreen-5.9.5.tar.xz">libkscreen-5.9.5</a></td>
   <td align="right">91kB</td>
   <td><tt>040031f4fdcae638e92b8af32ad4cb8d2c96648ac31a6032d1e36f14333a00eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/libksysguard-5.9.5.tar.xz">libksysguard-5.9.5</a></td>
   <td align="right">561kB</td>
   <td><tt>7c1ed82df3ac46f3fc2e9e0a3bc45cf7d783fae145299e57b7b2e9a2f5dd142c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/milou-5.9.5.tar.xz">milou-5.9.5</a></td>
   <td align="right">53kB</td>
   <td><tt>fca5e8c2652f68b9f632a99f27bdbc32ba0e84d34ae62909c7f7bdae8d50f8e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/oxygen-5.9.5.tar.xz">oxygen-5.9.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e3930de3af907a58a72b15849fc205751f6acc904a3e147df0eb20f4bc6fe35c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/plasma-desktop-5.9.5.tar.xz">plasma-desktop-5.9.5</a></td>
   <td align="right">5.7MB</td>
   <td><tt>e1f437ac86e91e7f18a1e36dc93c3e8e57a0e183f343765f3772a902f0c135b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/plasma-integration-5.9.5.tar.xz">plasma-integration-5.9.5</a></td>
   <td align="right">48kB</td>
   <td><tt>1c84fdf4bd2d285485d0703248d3ae502443737f0cbc9870171560e872ce1d17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/plasma-nm-5.9.5.tar.xz">plasma-nm-5.9.5</a></td>
   <td align="right">654kB</td>
   <td><tt>1c605e69b08b12439191e417c9ad43809c203f9a7541a2cfe5dfb9ee6c3dafad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/plasma-pa-5.9.5.tar.xz">plasma-pa-5.9.5</a></td>
   <td align="right">69kB</td>
   <td><tt>3efbc5c46e4b67a8d153d7525502434c09108b4ffaff20c0b1bb9ad16c1e5575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/plasma-sdk-5.9.5.tar.xz">plasma-sdk-5.9.5</a></td>
   <td align="right">705kB</td>
   <td><tt>bd8648e609947f58df6af1b8a7d514216ec02f6160c8e43e36c8de62d6e17d37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/plasma-tests-5.9.5.tar.xz">plasma-tests-5.9.5</a></td>
   <td align="right">1kB</td>
   <td><tt>8fef0214d50fabc6917b209f4a84fc730055c553385f0569d4b6ea5bfe3b561b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/plasma-workspace-5.9.5.1.tar.xz">plasma-workspace-5.9.5.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>857770a27d3cd4af027078050d36cefc843e47f4bd92b93a712b0238d6c08b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/plasma-workspace-wallpapers-5.9.5.tar.xz">plasma-workspace-wallpapers-5.9.5</a></td>
   <td align="right">43MB</td>
   <td><tt>56d7461e1449a7e842080200429ba2743581e9e861ea9a7ee3007658f5366516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/polkit-kde-agent-1-5.9.5.tar.xz">polkit-kde-agent-1-5.9.5</a></td>
   <td align="right">40kB</td>
   <td><tt>8278f862842af29eff4173aaf3bd5b4df97d0654d97b73054966f1f30ec01f17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/powerdevil-5.9.5.tar.xz">powerdevil-5.9.5</a></td>
   <td align="right">351kB</td>
   <td><tt>9fc15ea3894c83ad1be3b4a07f7b320ef729ab6e15931889b631d56653cc1945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/sddm-kcm-5.9.5.tar.xz">sddm-kcm-5.9.5</a></td>
   <td align="right">55kB</td>
   <td><tt>66ea289f60f6c871fd23532ddc9e118d5ee45ef54e3aabc9da79b534081b1860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/systemsettings-5.9.5.tar.xz">systemsettings-5.9.5</a></td>
   <td align="right">154kB</td>
   <td><tt>e93d5876a4bc6d9fc76d9e7f4db10d562693ba2f881aa8a95b62837a21f2e875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.9.5/user-manager-5.9.5.tar.xz">user-manager-5.9.5</a></td>
   <td align="right">531kB</td>
   <td><tt>b6779666a2adc0066e06c3fd894f215fb39163b3b9a58fa53e7a9b3d14b3d914</tt></td>
</tr>

</table>
