<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/amor-4.13.2.tar.xz">amor-4.13.2</a></td>
   <td align="right">169kB</td>
   <td><tt>571d977abab9f616d54c728c9eca586a52986cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/analitza-4.13.2.tar.xz">analitza-4.13.2</a></td>
   <td align="right">180kB</td>
   <td><tt>d6af0f7c3289ae7cdfab33bbcc451d69ef8cf753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ark-4.13.2.tar.xz">ark-4.13.2</a></td>
   <td align="right">224kB</td>
   <td><tt>450aead29450fa1d17016e4bf8b8e5fdca30de05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/artikulate-4.13.2.tar.xz">artikulate-4.13.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>7964042a4f272b2201a392eaf783cf91abbfeb6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/audiocd-kio-4.13.2.tar.xz">audiocd-kio-4.13.2</a></td>
   <td align="right">50kB</td>
   <td><tt>491be8cd79847184c7d17c06e5f383d1be96b175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/baloo-4.13.2.tar.xz">baloo-4.13.2</a></td>
   <td align="right">123kB</td>
   <td><tt>be2f6fdeb36b78e27652f13504a7d49aa6ddc2d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/baloo-widgets-4.13.2.tar.xz">baloo-widgets-4.13.2</a></td>
   <td align="right">31kB</td>
   <td><tt>9fb52bb8197c064a8cc0f0f462878a8a9fa8bb36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/blinken-4.13.2.tar.xz">blinken-4.13.2</a></td>
   <td align="right">546kB</td>
   <td><tt>7c3045a0abba51cf1e3dcfadd6014d07c07a5512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/bomber-4.13.2.tar.xz">bomber-4.13.2</a></td>
   <td align="right">376kB</td>
   <td><tt>19afef99be11ab0ddbb1646876aa4cac90c871d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/bovo-4.13.2.tar.xz">bovo-4.13.2</a></td>
   <td align="right">98kB</td>
   <td><tt>24747733fd6c3e7398ab7676b4bfb6cb2fb6f341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/cantor-4.13.2.tar.xz">cantor-4.13.2</a></td>
   <td align="right">324kB</td>
   <td><tt>d29df3feb274bc2d7d34b98e4d95b0f9cbfa7fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/cervisia-4.13.2.tar.xz">cervisia-4.13.2</a></td>
   <td align="right">359kB</td>
   <td><tt>c4268ccbfd46f092ff7f4c1fe7f169992bfbc657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/dolphin-plugins-4.13.2.tar.xz">dolphin-plugins-4.13.2</a></td>
   <td align="right">56kB</td>
   <td><tt>9838fa554ae2bcc090f047b23e78867254732e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/dragon-4.13.2.tar.xz">dragon-4.13.2</a></td>
   <td align="right">381kB</td>
   <td><tt>15e068b18502c657afe06c4add996ceed6eab8db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ffmpegthumbs-4.13.2.tar.xz">ffmpegthumbs-4.13.2</a></td>
   <td align="right">19kB</td>
   <td><tt>f70468a2af6228ce2430ea182cb3e61bb0834d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/filelight-4.13.2.tar.xz">filelight-4.13.2</a></td>
   <td align="right">280kB</td>
   <td><tt>e4132eb6296983bc38c9bd42638efe187a089626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/granatier-4.13.2.tar.xz">granatier-4.13.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>419da67683583f195863d444558b01408639f4a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/gwenview-4.13.2.tar.xz">gwenview-4.13.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>f328d4123834a1907266e04bb96bbbc1cf24f076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/jovie-4.13.2.tar.xz">jovie-4.13.2</a></td>
   <td align="right">370kB</td>
   <td><tt>efcc236ba0ba823505e184cfbe1774824ed545db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/juk-4.13.2.tar.xz">juk-4.13.2</a></td>
   <td align="right">418kB</td>
   <td><tt>2b5a22b6b2ba4a8de18243d17d6ff782e36aabb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kaccessible-4.13.2.tar.xz">kaccessible-4.13.2</a></td>
   <td align="right">19kB</td>
   <td><tt>ae72d4b65d62e577b3689257f3ba8ef854a3da2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kactivities-4.13.2.tar.xz">kactivities-4.13.2</a></td>
   <td align="right">85kB</td>
   <td><tt>e717ac5c1a9087cbd18131cead47e1ab3feb778c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kajongg-4.13.2.tar.xz">kajongg-4.13.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>38443a6a17eb3b17e763f95a0b35cfd5f1ad4c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kalgebra-4.13.2.tar.xz">kalgebra-4.13.2</a></td>
   <td align="right">264kB</td>
   <td><tt>906eaacb21cfc760fcefd82ca21a21d72ebdb971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kalzium-4.13.2.tar.xz">kalzium-4.13.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>ca104af5723691990d6216021fd2f41ea28ae5ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kamera-4.13.2.tar.xz">kamera-4.13.2</a></td>
   <td align="right">34kB</td>
   <td><tt>345a51474300da54b10affe8b7e4d8b865a10cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kanagram-4.13.2.tar.xz">kanagram-4.13.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f98ae0bc86dc7b7f09e1f0c4994f7a50b5ac8c21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kapman-4.13.2.tar.xz">kapman-4.13.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3c77104b958b007450f5ffbfc2c07483052bf936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kapptemplate-4.13.2.tar.xz">kapptemplate-4.13.2</a></td>
   <td align="right">682kB</td>
   <td><tt>e5ff76aa8abd01e8b537343079d0c5ea210733a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kate-4.13.2.tar.xz">kate-4.13.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>115ff695de42bb351ce968cdf2f161f53f53e712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/katomic-4.13.2.tar.xz">katomic-4.13.2</a></td>
   <td align="right">642kB</td>
   <td><tt>3c894773e7ca81d4de635517ac43e090a460aebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kblackbox-4.13.2.tar.xz">kblackbox-4.13.2</a></td>
   <td align="right">251kB</td>
   <td><tt>4cf911702b39f48ca832512c74e39a2acb733d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kblocks-4.13.2.tar.xz">kblocks-4.13.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5f9ebf684c68df0d30c0fc2b79b7250cb6fe8dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kbounce-4.13.2.tar.xz">kbounce-4.13.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d541e94351f1c74d314e61ebbbcdad3d6cbc7c29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kbreakout-4.13.2.tar.xz">kbreakout-4.13.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9785c57366a2a2710d593d8cf5d47a71f2384185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kbruch-4.13.2.tar.xz">kbruch-4.13.2</a></td>
   <td align="right">876kB</td>
   <td><tt>7f54f4f7b7341030a00a57c51b7087c5436c232d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kcachegrind-4.13.2.tar.xz">kcachegrind-4.13.2</a></td>
   <td align="right">229kB</td>
   <td><tt>dd8f8b8602f4dede924df113afa74c69df1b3770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kcalc-4.13.2.tar.xz">kcalc-4.13.2</a></td>
   <td align="right">79kB</td>
   <td><tt>c73eac80dd9e731941f7d2efc2eaa750a1e29549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kcharselect-4.13.2.tar.xz">kcharselect-4.13.2</a></td>
   <td align="right">82kB</td>
   <td><tt>8a24eb184a51ee4e122f6d52c82f45af5ec9fcb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kcolorchooser-4.13.2.tar.xz">kcolorchooser-4.13.2</a></td>
   <td align="right">4kB</td>
   <td><tt>21d19c11afc82d0f31cc82cc5f4f9449e2212ad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kcron-4.13.2.tar.xz">kcron-4.13.2</a></td>
   <td align="right">170kB</td>
   <td><tt>31f0e976821ffb35f426795cfeede7accf65fe46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdeartwork-4.13.2.tar.xz">kdeartwork-4.13.2</a></td>
   <td align="right">134MB</td>
   <td><tt>45905d195ead614c9ff5b8ac70676ba1c1c4308f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-baseapps-4.13.2.tar.xz">kde-baseapps-4.13.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>90b4fefcd307df8da6f6eab4da97d9e7be9f2f78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-base-artwork-4.13.2.tar.xz">kde-base-artwork-4.13.2</a></td>
   <td align="right">7.0MB</td>
   <td><tt>006478e5c4c623516ab60ec0c21bdc910fdda34e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-dev-scripts-4.13.2.tar.xz">kde-dev-scripts-4.13.2</a></td>
   <td align="right">254kB</td>
   <td><tt>80f377d26ebef2babb5903b4c0744b6dcfcf2096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-dev-utils-4.13.2.tar.xz">kde-dev-utils-4.13.2</a></td>
   <td align="right">50kB</td>
   <td><tt>d9b7d8bd5c5de065de6712398a1fc65eb4364c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdegraphics-mobipocket-4.13.2.tar.xz">kdegraphics-mobipocket-4.13.2</a></td>
   <td align="right">14kB</td>
   <td><tt>a2ab3110e8d7ea41b131c3b7a60619eee3128e9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdegraphics-strigi-analyzer-4.13.2.tar.xz">kdegraphics-strigi-analyzer-4.13.2</a></td>
   <td align="right">39kB</td>
   <td><tt>2b57f8b1e77d7bc4cbca339937e1e140b96d29c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdegraphics-thumbnailers-4.13.2.tar.xz">kdegraphics-thumbnailers-4.13.2</a></td>
   <td align="right">40kB</td>
   <td><tt>40bc44848a3d57f03e578492a1fab92516cdcf88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdelibs-4.13.2.tar.xz">kdelibs-4.13.2</a></td>
   <td align="right">11MB</td>
   <td><tt>c540edeb7da23f5a8feacb4d775bce43f2060a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdenetwork-filesharing-4.13.2.tar.xz">kdenetwork-filesharing-4.13.2</a></td>
   <td align="right">26kB</td>
   <td><tt>f3991d36e48aa1bc4e03ec190c5a37bf30125967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdenetwork-strigi-analyzers-4.13.2.tar.xz">kdenetwork-strigi-analyzers-4.13.2</a></td>
   <td align="right">14kB</td>
   <td><tt>84b819e353e6a5384679d23e71c71be17629f041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdepim-4.13.2.tar.xz">kdepim-4.13.2</a></td>
   <td align="right">13MB</td>
   <td><tt>ecc10cdec4fbe9a8b2c8179921403cf9b3aedac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdepimlibs-4.13.2.tar.xz">kdepimlibs-4.13.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>232a5be567d041bfcca85c849fcea105de9cb952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdepim-runtime-4.13.2.tar.xz">kdepim-runtime-4.13.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>db31fa444f74478cddef1aa7c4ecf4e509f3407c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdeplasma-addons-4.13.2.tar.xz">kdeplasma-addons-4.13.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1fa727b307a72f4dc30645671dd8cb91ae5a7c30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-runtime-4.13.2.tar.xz">kde-runtime-4.13.2</a></td>
   <td align="right">7.4MB</td>
   <td><tt>3ee6b1d263b7c87a63951a0ebc4d77a93c92214a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdesdk-kioslaves-4.13.2.tar.xz">kdesdk-kioslaves-4.13.2</a></td>
   <td align="right">352kB</td>
   <td><tt>6016635b4d558793b7a8ca3c643bbfcdca9fc11a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdesdk-strigi-analyzers-4.13.2.tar.xz">kdesdk-strigi-analyzers-4.13.2</a></td>
   <td align="right">17kB</td>
   <td><tt>2e142d384bcc62bb4c94de2c166395329091ad4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdesdk-thumbnailers-4.13.2.tar.xz">kdesdk-thumbnailers-4.13.2</a></td>
   <td align="right">11kB</td>
   <td><tt>a4d2e0f8d24fad52026097214ab51a4bf855eca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-wallpapers-4.13.2.tar.xz">kde-wallpapers-4.13.2</a></td>
   <td align="right">86MB</td>
   <td><tt>6847c3a1e3a219cb53131ee671aa7856da6ad319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdewebdev-4.13.2.tar.xz">kdewebdev-4.13.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>326cc841bdf9ed4034b3d644b618a716ecb601f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-workspace-4.11.10.tar.xz">kde-workspace-4.11.10</a></td>
   <td align="right">12MB</td>
   <td><tt>2968043563e25d2d2618c9f49fdfbab5fa14c8cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdf-4.13.2.tar.xz">kdf-4.13.2</a></td>
   <td align="right">145kB</td>
   <td><tt>10025c03807fc9465db1a392a8dce23a9d38fcbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kdiamond-4.13.2.tar.xz">kdiamond-4.13.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>4619cde1c2303b0a9b7830dfc655d7574c7036af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kfilemetadata-4.13.2.tar.xz">kfilemetadata-4.13.2</a></td>
   <td align="right">34kB</td>
   <td><tt>a91f70d5afa8d1f9fcf8b60cfb41e6cb5e94a4a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kfloppy-4.13.2.tar.xz">kfloppy-4.13.2</a></td>
   <td align="right">51kB</td>
   <td><tt>dff695f20186026e92ff3ad7f99b992e08f3296d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kfourinline-4.13.2.tar.xz">kfourinline-4.13.2</a></td>
   <td align="right">275kB</td>
   <td><tt>6fb3cff2d470cf0fc6b1cde8bbf707d58f79e7f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kgamma-4.13.2.tar.xz">kgamma-4.13.2</a></td>
   <td align="right">22kB</td>
   <td><tt>ccba1bedde2dca38c8069c9198ee65d94c07e515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kgeography-4.13.2.tar.xz">kgeography-4.13.2</a></td>
   <td align="right">6.3MB</td>
   <td><tt>3873010c77733d292234a9826574175a3073a108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kget-4.13.2.tar.xz">kget-4.13.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0639c757b3f0b05789ce0d0ea19796d6743614fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kgoldrunner-4.13.2.tar.xz">kgoldrunner-4.13.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a838f19e2d0f9a7bfa2dd13d542b49a8e490f8af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kgpg-4.13.2.tar.xz">kgpg-4.13.2</a></td>
   <td align="right">784kB</td>
   <td><tt>710c0610058e68e5e8b9123576abbf3406454727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/khangman-4.13.2.tar.xz">khangman-4.13.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>5d903fb4d4fe107368eced855e6844f9d34a99f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kig-4.13.2.tar.xz">kig-4.13.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>423190ea5b70d7c6fc77311d7646afde76e06b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kigo-4.13.2.tar.xz">kigo-4.13.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>cc77cdd7360a6e4da4c024ed2b50a1f9e5b71b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/killbots-4.13.2.tar.xz">killbots-4.13.2</a></td>
   <td align="right">938kB</td>
   <td><tt>7f6674b3c3a637e9c8e289b0c41ca3b90d931e1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kimono-4.13.2.tar.xz">kimono-4.13.2</a></td>
   <td align="right">910kB</td>
   <td><tt>7414fb3e7d87c43d64ec58396ce2f282d944af76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kiriki-4.13.2.tar.xz">kiriki-4.13.2</a></td>
   <td align="right">115kB</td>
   <td><tt>be9b329854615552e77c386efbe6a576aeddda1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kiten-4.13.2.tar.xz">kiten-4.13.2</a></td>
   <td align="right">11MB</td>
   <td><tt>aaf75f812c2a5b270eb0c181f8b51bda5d12e8d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kjumpingcube-4.13.2.tar.xz">kjumpingcube-4.13.2</a></td>
   <td align="right">160kB</td>
   <td><tt>cb0d4131d6ad13cccb54cb2a4ae3a453ae7e15b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/klettres-4.13.2.tar.xz">klettres-4.13.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>bafcffd39bdcba41ade50c48b8e77bfe691d5496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/klickety-4.13.2.tar.xz">klickety-4.13.2</a></td>
   <td align="right">765kB</td>
   <td><tt>f42e581058d1e425c1a6e8b90c3ff92eb33c2a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/klines-4.13.2.tar.xz">klines-4.13.2</a></td>
   <td align="right">927kB</td>
   <td><tt>732b6add81a98fe469e7549df83f30338ef36173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kmag-4.13.2.tar.xz">kmag-4.13.2</a></td>
   <td align="right">84kB</td>
   <td><tt>ed0e541647bf516f07a4d391a2dceb59e5f6c939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kmahjongg-4.13.2.tar.xz">kmahjongg-4.13.2</a></td>
   <td align="right">981kB</td>
   <td><tt>80c104f6b279a206ae07dafd3b569213acb993e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kmines-4.13.2.tar.xz">kmines-4.13.2</a></td>
   <td align="right">613kB</td>
   <td><tt>fe802092cde871cd65ab358a3cd856595298e199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kmix-4.13.2.tar.xz">kmix-4.13.2</a></td>
   <td align="right">369kB</td>
   <td><tt>03f676426a9afbc9b0395239d8950319e786a019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kmousetool-4.13.2.tar.xz">kmousetool-4.13.2</a></td>
   <td align="right">35kB</td>
   <td><tt>045ad6f42f3904e9f5c601e8ff11e764ac560948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kmouth-4.13.2.tar.xz">kmouth-4.13.2</a></td>
   <td align="right">300kB</td>
   <td><tt>d5111b1e79c52b03efed6b3f576dfb99b14ded81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kmplot-4.13.2.tar.xz">kmplot-4.13.2</a></td>
   <td align="right">639kB</td>
   <td><tt>374f661b2acd9b4694bfb025a6b8f93e4fc3b605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/knavalbattle-4.13.2.tar.xz">knavalbattle-4.13.2</a></td>
   <td align="right">834kB</td>
   <td><tt>b30607d4e85739df6936a6c7f10297cf6b4872e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/knetwalk-4.13.2.tar.xz">knetwalk-4.13.2</a></td>
   <td align="right">763kB</td>
   <td><tt>703b93469685bac3faaa3cfcc693021bde4a4216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kolf-4.13.2.tar.xz">kolf-4.13.2</a></td>
   <td align="right">749kB</td>
   <td><tt>49c3f5aac5b41594f511d4b13ffbff6c6dd16fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kollision-4.13.2.tar.xz">kollision-4.13.2</a></td>
   <td align="right">202kB</td>
   <td><tt>b39d7282f4a98db0d99c181b04860109909b21a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kolourpaint-4.13.2.tar.xz">kolourpaint-4.13.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>efd77830a4f8bddaab364455d361035963501a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kompare-4.13.2.tar.xz">kompare-4.13.2</a></td>
   <td align="right">336kB</td>
   <td><tt>3aaa3026b5c1b4aeb13c5a77e48cb7866d2f0b91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/konquest-4.13.2.tar.xz">konquest-4.13.2</a></td>
   <td align="right">395kB</td>
   <td><tt>3be29078435e6b87acfee576aa903b818072b010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/konsole-4.13.2.tar.xz">konsole-4.13.2</a></td>
   <td align="right">444kB</td>
   <td><tt>93a09ad597dc00e6f01a06b6c4e5e69578b91daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kopete-4.13.2.tar.xz">kopete-4.13.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>bf520ce1fd08eb0464753675405b0f362fef2606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/korundum-4.13.2.tar.xz">korundum-4.13.2</a></td>
   <td align="right">156kB</td>
   <td><tt>a83df152d6b1fa1e5ea1559d5200f628aba914fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kpat-4.13.2.tar.xz">kpat-4.13.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0312f2169a54e5c49a2e73099a33b8c21d0eb74d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kppp-4.13.2.tar.xz">kppp-4.13.2</a></td>
   <td align="right">680kB</td>
   <td><tt>772d5488ab4c697f85ec3395d7f3f838f0a3fb0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kqtquickcharts-4.13.2.tar.xz">kqtquickcharts-4.13.2</a></td>
   <td align="right">16kB</td>
   <td><tt>1834c899bfdde845e0c3d9dadd5684816c4c2f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/krdc-4.13.2.tar.xz">krdc-4.13.2</a></td>
   <td align="right">388kB</td>
   <td><tt>b2187a7d9f9b5c8df795dff364565bbd19a80cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kremotecontrol-4.13.2.tar.xz">kremotecontrol-4.13.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>32102166564d4a70c611d11637f6af5eabb644bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kreversi-4.13.2.tar.xz">kreversi-4.13.2</a></td>
   <td align="right">463kB</td>
   <td><tt>a6e6e5835bebb534ab21f1756ce69ca10f4e9acc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/krfb-4.13.2.tar.xz">krfb-4.13.2</a></td>
   <td align="right">456kB</td>
   <td><tt>d8d551e02e2665564090a267735a0a5a0af7f9ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kross-interpreters-4.13.2.tar.xz">kross-interpreters-4.13.2</a></td>
   <td align="right">127kB</td>
   <td><tt>07a96971e7c915065e5ef16f04fdb0181b74baaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kruler-4.13.2.tar.xz">kruler-4.13.2</a></td>
   <td align="right">125kB</td>
   <td><tt>91f9e8843f58920e16ad7b64845f1387a06c33dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ksaneplugin-4.13.2.tar.xz">ksaneplugin-4.13.2</a></td>
   <td align="right">12kB</td>
   <td><tt>dd0079bcc14d15e876671050247c74d07c15782b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kscd-4.13.2.tar.xz">kscd-4.13.2</a></td>
   <td align="right">90kB</td>
   <td><tt>99c21e73c2bbdd999aa1ede1093611cb30a7daf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kshisen-4.13.2.tar.xz">kshisen-4.13.2</a></td>
   <td align="right">132kB</td>
   <td><tt>3354114405187f28da6f9384ab1b37ca679c93a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ksirk-4.13.2.tar.xz">ksirk-4.13.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>7e5075bc9032545a112f75b6bc07fd1f081cfc5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ksnakeduel-4.13.2.tar.xz">ksnakeduel-4.13.2</a></td>
   <td align="right">312kB</td>
   <td><tt>603b073c7192726491a24dbe3c8c24dc8a59de17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ksnapshot-4.13.2.tar.xz">ksnapshot-4.13.2</a></td>
   <td align="right">251kB</td>
   <td><tt>229cb9c6c307842cc849e273720c4dae7134efc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kspaceduel-4.13.2.tar.xz">kspaceduel-4.13.2</a></td>
   <td align="right">246kB</td>
   <td><tt>127217e1af4a1bf6a1f5dfd61ffb2c343f461c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ksquares-4.13.2.tar.xz">ksquares-4.13.2</a></td>
   <td align="right">77kB</td>
   <td><tt>ee15bf56a82b464d2ed9e0545d51fc6f214fa96c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kstars-4.13.2.tar.xz">kstars-4.13.2</a></td>
   <td align="right">11MB</td>
   <td><tt>6dc7fae8cdb4591cef5960a349daad80e1de8f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ksudoku-4.13.2.tar.xz">ksudoku-4.13.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5a8b1207400c4a7c7050f89414e0e7cd0bcbcb27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ksystemlog-4.13.2.tar.xz">ksystemlog-4.13.2</a></td>
   <td align="right">373kB</td>
   <td><tt>d8511d6c115dbffa37da66a6147660382e47daef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kteatime-4.13.2.tar.xz">kteatime-4.13.2</a></td>
   <td align="right">98kB</td>
   <td><tt>c6d2b5d70c5a1a7a8a9bf6dd5d964edcdffc7006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ktimer-4.13.2.tar.xz">ktimer-4.13.2</a></td>
   <td align="right">143kB</td>
   <td><tt>fd91d455135b1b1ba93c776e42c1b57efe2ac525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ktouch-4.13.2.tar.xz">ktouch-4.13.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0bc2ab8984caa686e2a2bcbf34f666ff5954ae7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ktuberling-4.13.2.tar.xz">ktuberling-4.13.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>79b7b49498247162e4911c80c9df70a7260cf2dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kturtle-4.13.2.tar.xz">kturtle-4.13.2</a></td>
   <td align="right">183kB</td>
   <td><tt>3ee50976bf2700f0925cc86dff375a53f5f35fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/ktux-4.13.2.tar.xz">ktux-4.13.2</a></td>
   <td align="right">106kB</td>
   <td><tt>a85ec0358fa63b59dfba5cbec0a8239a8ea93706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kubrick-4.13.2.tar.xz">kubrick-4.13.2</a></td>
   <td align="right">104kB</td>
   <td><tt>d6d3dd31e29e670e666f3e70cf9598809f17e2c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kuser-4.13.2.tar.xz">kuser-4.13.2</a></td>
   <td align="right">131kB</td>
   <td><tt>03409d7e192bcf49367377b9d911f017bee8821c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kwalletmanager-4.13.2.tar.xz">kwalletmanager-4.13.2</a></td>
   <td align="right">445kB</td>
   <td><tt>d3588ef94067102c2bce441b7d4f29673dfdd182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kwordquiz-4.13.2.tar.xz">kwordquiz-4.13.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6cced3ac1368b7bcd4088ca2c9c8d21de34ceead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libkcddb-4.13.2.tar.xz">libkcddb-4.13.2</a></td>
   <td align="right">154kB</td>
   <td><tt>6cbbf278ff5164cb4bf28577f5b24c33d0e43222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libkcompactdisc-4.13.2.tar.xz">libkcompactdisc-4.13.2</a></td>
   <td align="right">73kB</td>
   <td><tt>d6ebab8513c6194b44186a38dda31351b2242dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libkdcraw-4.13.2.tar.xz">libkdcraw-4.13.2</a></td>
   <td align="right">97kB</td>
   <td><tt>82d616f6618f9643553283d292b4175e683f9c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libkdeedu-4.13.2.tar.xz">libkdeedu-4.13.2</a></td>
   <td align="right">204kB</td>
   <td><tt>a5717fc1046ee824885a08fd7c7167cefa1ebfc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libkdegames-4.13.2.tar.xz">libkdegames-4.13.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>8ac2693699be3f656f5b5c025427a5245a9b745d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libkexiv2-4.13.2.tar.xz">libkexiv2-4.13.2</a></td>
   <td align="right">132kB</td>
   <td><tt>2ea95ac98d872083249f9bd4e6ee15bb4c4a7242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libkipi-4.13.2.tar.xz">libkipi-4.13.2</a></td>
   <td align="right">92kB</td>
   <td><tt>b9767ba2fdf41e36288923fd3477c8e268e2fc49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libkmahjongg-4.13.2.tar.xz">libkmahjongg-4.13.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3b5c6c6d378ebb7d836668f713416b42b0f9e926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libkomparediff2-4.13.2.tar.xz">libkomparediff2-4.13.2</a></td>
   <td align="right">54kB</td>
   <td><tt>9b444b5643520864b696d43746ddc8e0c57ba931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/libksane-4.13.2.tar.xz">libksane-4.13.2</a></td>
   <td align="right">78kB</td>
   <td><tt>26687b8e0f408442eeb0a27339a6dd838c0c6439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/lokalize-4.13.2.tar.xz">lokalize-4.13.2</a></td>
   <td align="right">826kB</td>
   <td><tt>112db5ab3c70ca1595e9ce73fddabce33dfcdad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/lskat-4.13.2.tar.xz">lskat-4.13.2</a></td>
   <td align="right">907kB</td>
   <td><tt>ba31bafec3f6671456e3b87775d062d4798927c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/marble-4.13.2.tar.xz">marble-4.13.2</a></td>
   <td align="right">18MB</td>
   <td><tt>007dbe5abc646a1c54b2661fa417db8f63f45b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/mplayerthumbs-4.13.2.tar.xz">mplayerthumbs-4.13.2</a></td>
   <td align="right">26kB</td>
   <td><tt>e10cb8452d083933af21a2cefbd41b01e60277e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/nepomuk-core-4.13.2.tar.xz">nepomuk-core-4.13.2</a></td>
   <td align="right">374kB</td>
   <td><tt>691e691d57fbbca9295defe274115e2a82b7b226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/nepomuk-widgets-4.13.2.tar.xz">nepomuk-widgets-4.13.2</a></td>
   <td align="right">47kB</td>
   <td><tt>b44033c136f5ea3c8482bddcc5a8472f68c783cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/okteta-4.13.2.tar.xz">okteta-4.13.2</a></td>
   <td align="right">481kB</td>
   <td><tt>584e511dde1c8c47b69980cbc9f925bc3668a9a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/okular-4.13.2.tar.xz">okular-4.13.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>693de9388ba1ca55bb91af4921a6aecb92f8c2fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/oxygen-icons-4.13.2.tar.xz">oxygen-icons-4.13.2</a></td>
   <td align="right">219MB</td>
   <td><tt>ec412ae32cb7cb2a0fbd24d8c5a72c1f2d45c97a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/pairs-4.13.2.tar.xz">pairs-4.13.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>efbe1f57f8a71ca6bbf861243ac6017013d0e127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/palapeli-4.13.2.tar.xz">palapeli-4.13.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5b19054ef27f39128bd120cfdc8546b78c456690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/parley-4.13.2.tar.xz">parley-4.13.2</a></td>
   <td align="right">7.8MB</td>
   <td><tt>48f0456405a67e1fc5fb4993d3ecd8607c425a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/perlkde-4.13.2.tar.xz">perlkde-4.13.2</a></td>
   <td align="right">39kB</td>
   <td><tt>c6cb461ec309edbea2532196e1bc8709c34a6ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/perlqt-4.13.2.tar.xz">perlqt-4.13.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c659f166314f7116e4feda62e4f74ba37695d15e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/picmi-4.13.2.tar.xz">picmi-4.13.2</a></td>
   <td align="right">714kB</td>
   <td><tt>d372101e85a1449c30b2649482fd318be95ebdc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/poxml-4.13.2.tar.xz">poxml-4.13.2</a></td>
   <td align="right">30kB</td>
   <td><tt>4f280df55b30e81949abc09dd7364ef34e592c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/print-manager-4.13.2.tar.xz">print-manager-4.13.2</a></td>
   <td align="right">90kB</td>
   <td><tt>ec7bef339a5a4d3b351ee24ddf76b635e40e5b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/pykde4-4.13.2.tar.xz">pykde4-4.13.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d62f3d5f31c061a4e6454ee0aaf5ad329f8e8661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/qtruby-4.13.2.tar.xz">qtruby-4.13.2</a></td>
   <td align="right">517kB</td>
   <td><tt>a499f80a3893255779217aa59620ae9e6bc347a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/qyoto-4.13.2.tar.xz">qyoto-4.13.2</a></td>
   <td align="right">495kB</td>
   <td><tt>e42f55ecf280ad1dbde47da9b5de290d9975013d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/rocs-4.13.2.tar.xz">rocs-4.13.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d4825beb5fd7ad864d117fc41473ba6ae1bf9cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/smokegen-4.13.2.tar.xz">smokegen-4.13.2</a></td>
   <td align="right">143kB</td>
   <td><tt>83d8b39b15aa0692d17390e4bd84cf76f7b9f392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/smokekde-4.13.2.tar.xz">smokekde-4.13.2</a></td>
   <td align="right">36kB</td>
   <td><tt>8f1813c8ae808d94de8c1a7476ea38db8ec5931c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/smokeqt-4.13.2.tar.xz">smokeqt-4.13.2</a></td>
   <td align="right">29kB</td>
   <td><tt>b3c091a3cd59b1b8ce86a15a7bc9cce3972a7ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/step-4.13.2.tar.xz">step-4.13.2</a></td>
   <td align="right">353kB</td>
   <td><tt>c0edeaf69173acb0b7138262649a14979e763992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/superkaramba-4.13.2.tar.xz">superkaramba-4.13.2</a></td>
   <td align="right">374kB</td>
   <td><tt>132745ff6353454df87183b39e4cf7d1a219a1ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/svgpart-4.13.2.tar.xz">svgpart-4.13.2</a></td>
   <td align="right">8kB</td>
   <td><tt>eb42a179a56d59c8a1c88215e56e147a999a3efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/sweeper-4.13.2.tar.xz">sweeper-4.13.2</a></td>
   <td align="right">80kB</td>
   <td><tt>8056a0d0a1317c64cc055255b846b66932e98b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/umbrello-4.13.2.tar.xz">umbrello-4.13.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9365dcf71893131bf884d7fee933c37815894ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/zeroconf-ioslave-4.13.2.tar.xz">zeroconf-ioslave-4.13.2</a></td>
   <td align="right">25kB</td>
   <td><tt>1e18b93775a5dd34c38f8f00cdb55328e247795e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ar-4.13.2.tar.xz">kde-l10n-ar-4.13.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>21a743026dfbb5894c991d8fab9cb496cabcaec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-bg-4.13.2.tar.xz">kde-l10n-bg-4.13.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e652e3881f8cbd927b386a6e762ad2001bdd4bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-bs-4.13.2.tar.xz">kde-l10n-bs-4.13.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>48d5151045d762589af84beb14a6d2b635de2206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ca-4.13.2.tar.xz">kde-l10n-ca-4.13.2</a></td>
   <td align="right">11MB</td>
   <td><tt>e40f765168851649667cfe41234cd293f297d903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ca@valencia-4.13.2.tar.xz">kde-l10n-ca@valencia-4.13.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>db25024da16c5b2b1ffec058dd8a7e200e5b8ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-cs-4.13.2.tar.xz">kde-l10n-cs-4.13.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>557981998bf25272f85a3d3fc267a048efde2370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-da-4.13.2.tar.xz">kde-l10n-da-4.13.2</a></td>
   <td align="right">12MB</td>
   <td><tt>0d895c1b47921426fa513888733c477395ad9c9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-de-4.13.2.tar.xz">kde-l10n-de-4.13.2</a></td>
   <td align="right">34MB</td>
   <td><tt>e049ad91d5f95f03e337ea9f289e56b73145e4bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-el-4.13.2.tar.xz">kde-l10n-el-4.13.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>a2a00a48e0111979b2ccffdf3f3c7ad67c81a959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-en_GB-4.13.2.tar.xz">kde-l10n-en_GB-4.13.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>955566501ce98b448f27fe8e5e1bc0a82a1fc723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-es-4.13.2.tar.xz">kde-l10n-es-4.13.2</a></td>
   <td align="right">20MB</td>
   <td><tt>8ff690f4efc4df9341d1ea64de2977783a038eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-et-4.13.2.tar.xz">kde-l10n-et-4.13.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>da2c0a5bc0702fd5a51fc2acd78f2aa9b9088030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-eu-4.13.2.tar.xz">kde-l10n-eu-4.13.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9154ca9d5c43710bc34866b35780f86d70c6b82a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-fi-4.13.2.tar.xz">kde-l10n-fi-4.13.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ef590b284e7321806282088df91baecc3283ba3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-fr-4.13.2.tar.xz">kde-l10n-fr-4.13.2</a></td>
   <td align="right">44MB</td>
   <td><tt>55bf3fa0cd13f7a4a1b5d501e517c2c1652551d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ga-4.13.2.tar.xz">kde-l10n-ga-4.13.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>58e9b999647cd41ccceffefac73b02a4390d4e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-gl-4.13.2.tar.xz">kde-l10n-gl-4.13.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>788144bede66b5500ac6545c28aea902412f8c01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-he-4.13.2.tar.xz">kde-l10n-he-4.13.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>dbb9fd9c07b4cd84fb66cce10cdffd4ae150d1b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-hi-4.13.2.tar.xz">kde-l10n-hi-4.13.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c2d2047c1102923624af48696c9b5025b63c6165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-hr-4.13.2.tar.xz">kde-l10n-hr-4.13.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9ae739b3bc7d0f80c380982ac216d753eb80dec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-hu-4.13.2.tar.xz">kde-l10n-hu-4.13.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>3e8c4b1a1e3d5473b444bc9d1c852587f7bb0a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ia-4.13.2.tar.xz">kde-l10n-ia-4.13.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c5491270ba7f6683cb98a139e04ff494a95bed4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-id-4.13.2.tar.xz">kde-l10n-id-4.13.2</a></td>
   <td align="right">508kB</td>
   <td><tt>f9328b2b20989e616f7a64393f1d51caa988019b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-is-4.13.2.tar.xz">kde-l10n-is-4.13.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4cf9d0900731c8a88aed21dd2ad9db6cb2b23981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-it-4.13.2.tar.xz">kde-l10n-it-4.13.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>3621aea2ac2ed7d94f1b392b25bce86a075659f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ja-4.13.2.tar.xz">kde-l10n-ja-4.13.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7fb7ef302531619aba9f3273fc70765f1253ffc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-kk-4.13.2.tar.xz">kde-l10n-kk-4.13.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>be51d048128c0e5bd9f84ab8e6b0e823c14de193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-km-4.13.2.tar.xz">kde-l10n-km-4.13.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0b447a67c5c0b37c923e428b8ee868d2bde48912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ko-4.13.2.tar.xz">kde-l10n-ko-4.13.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0748ba3411722eb6ff638fed407dc12247e07509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-lt-4.13.2.tar.xz">kde-l10n-lt-4.13.2</a></td>
   <td align="right">12MB</td>
   <td><tt>7c37854e6e7ebd459b8d898fee9f7323261245f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-lv-4.13.2.tar.xz">kde-l10n-lv-4.13.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e30a105fbc30f8188a1db58cac845c5c022949bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-mr-4.13.2.tar.xz">kde-l10n-mr-4.13.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f8b4042739fc40e45c920c22821ecdfcb98cfeeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-nb-4.13.2.tar.xz">kde-l10n-nb-4.13.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1ce8bcaff667fe93723009f5544d36fefbfc94dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-nds-4.13.2.tar.xz">kde-l10n-nds-4.13.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>eabd4da70de944c00a1d5cb3e5ade14cabf18dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-nl-4.13.2.tar.xz">kde-l10n-nl-4.13.2</a></td>
   <td align="right">13MB</td>
   <td><tt>8f7fb6a4f3fa7c63be23195165c4e6903f98be88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-nn-4.13.2.tar.xz">kde-l10n-nn-4.13.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b3a0c655f1efaca54199f33d81d1e58a48ebd1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-pa-4.13.2.tar.xz">kde-l10n-pa-4.13.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b80790585bbdf44970581773fdefd04602becc6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-pl-4.13.2.tar.xz">kde-l10n-pl-4.13.2</a></td>
   <td align="right">16MB</td>
   <td><tt>526b05701acce710bf2bb4dbf78fd35814158880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-pt-4.13.2.tar.xz">kde-l10n-pt-4.13.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>fc278b92fd39242b07ebdb07dfec06b341aaee6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-pt_BR-4.13.2.tar.xz">kde-l10n-pt_BR-4.13.2</a></td>
   <td align="right">23MB</td>
   <td><tt>d82ce1c343e8dd9ac2bcf79e5e1cb16ca254285c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ro-4.13.2.tar.xz">kde-l10n-ro-4.13.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ecda73d49872e825dde49455370fa02c54e06bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ru-4.13.2.tar.xz">kde-l10n-ru-4.13.2</a></td>
   <td align="right">22MB</td>
   <td><tt>07d7bade465d209f17bccbdc61b72264836d6b81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-sk-4.13.2.tar.xz">kde-l10n-sk-4.13.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>41bb432e475b32eed6fdf7b59af249afdf438c9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-sl-4.13.2.tar.xz">kde-l10n-sl-4.13.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c5ac029c31d1c616347614af12625f6090923133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-sr-4.13.2.tar.xz">kde-l10n-sr-4.13.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>b0856cfeae16bf1c84c8ca10f7e5ed305c558d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-sv-4.13.2.tar.xz">kde-l10n-sv-4.13.2</a></td>
   <td align="right">13MB</td>
   <td><tt>476472e02e11f0a0f2b59fd4e3f172521ec7e9ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-tr-4.13.2.tar.xz">kde-l10n-tr-4.13.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>bdd207ec96cc4c3192fa4f16f7b059cb342be7db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-ug-4.13.2.tar.xz">kde-l10n-ug-4.13.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>388300e92912bd9480f6a0930354672c9d69318c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-uk-4.13.2.tar.xz">kde-l10n-uk-4.13.2</a></td>
   <td align="right">24MB</td>
   <td><tt>6fd208132054f11902462f4d603e976c9755d56a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-vi-4.13.2.tar.xz">kde-l10n-vi-4.13.2</a></td>
   <td align="right">927kB</td>
   <td><tt>2d9b6e8f516cfd3ae8f59b336ff5dce893db846b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-wa-4.13.2.tar.xz">kde-l10n-wa-4.13.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>882f89b8540fe9cc9b25fe3f2fca8a79f185114d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-zh_CN-4.13.2.tar.xz">kde-l10n-zh_CN-4.13.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>4e3691eb19d4191dc398a2fbd3080be33e591f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.2/src/kde-l10n/kde-l10n-zh_TW-4.13.2.tar.xz">kde-l10n-zh_TW-4.13.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d0136fbada6cd91a668b50eeefeac07154cd5b61</tt></td>
</tr>

</table>
