<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/akonadi-16.07.80.tar.xz">akonadi-16.07.80</a></td>
   <td align="right">997kB</td>
   <td><tt>6dcdb96e80584c8c8fc77af6e28f48defc3e6226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/akonadi-calendar-16.07.80.tar.xz">akonadi-calendar-16.07.80</a></td>
   <td align="right">112kB</td>
   <td><tt>dc9f002bd414ff279a6b977b93d68367739e3d0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/akonadi-contacts-16.07.80.tar.xz">akonadi-contacts-16.07.80</a></td>
   <td align="right">145kB</td>
   <td><tt>d71e7a5f06d5d1374822904af797c491770175b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/akonadi-mime-16.07.80.tar.xz">akonadi-mime-16.07.80</a></td>
   <td align="right">54kB</td>
   <td><tt>afefed0a6ffd35a92f6d45fa51330a5def1a9f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/akonadi-notes-16.07.80.tar.xz">akonadi-notes-16.07.80</a></td>
   <td align="right">18kB</td>
   <td><tt>a88d3682f1f5950ba5132b5f1f04941ef7c124df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/akonadi-search-16.07.80.tar.xz">akonadi-search-16.07.80</a></td>
   <td align="right">69kB</td>
   <td><tt>045a4b152c92bb949647c1d69423d44fa10c5357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/analitza-16.07.80.tar.xz">analitza-16.07.80</a></td>
   <td align="right">229kB</td>
   <td><tt>69ca3a6be3a5c0685a50ab4c7bc5b0e57fa666a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ark-16.07.80.tar.xz">ark-16.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ed4eb346cb4bab5f15e9e2629f9621a7d31ce628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/artikulate-16.07.80.tar.xz">artikulate-16.07.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>eb84e9f47a5d3acb256bfcd456e85810a613f5c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/audiocd-kio-16.07.80.tar.xz">audiocd-kio-16.07.80</a></td>
   <td align="right">50kB</td>
   <td><tt>c9f3024a071e819128c08ebad518f6bff0f4fdbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/baloo-widgets-16.07.80.tar.xz">baloo-widgets-16.07.80</a></td>
   <td align="right">55kB</td>
   <td><tt>0c4e9be39807bd324b050c0a9059b5d09c6b8fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/blinken-16.07.80.tar.xz">blinken-16.07.80</a></td>
   <td align="right">549kB</td>
   <td><tt>d9bb2d028673bbff31af5205d06672a680bde755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/bomber-16.07.80.tar.xz">bomber-16.07.80</a></td>
   <td align="right">698kB</td>
   <td><tt>c6425ddfcee0128022d7b3f53c08bedeb5f93b3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/bovo-16.07.80.tar.xz">bovo-16.07.80</a></td>
   <td align="right">135kB</td>
   <td><tt>a4481b3af18ef23a9c2cc1849a586a7b2d81800c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/calendarsupport-16.07.80.tar.xz">calendarsupport-16.07.80</a></td>
   <td align="right">97kB</td>
   <td><tt>4b2d36b64ed3a867a357c8bee25c1177080bd45b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/cantor-16.07.80.tar.xz">cantor-16.07.80</a></td>
   <td align="right">352kB</td>
   <td><tt>1528788c31021c648009661301f5a70f9d8d12fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/cervisia-16.07.80.tar.xz">cervisia-16.07.80</a></td>
   <td align="right">449kB</td>
   <td><tt>e7aff1d727659d1d53f93d783bffca9cc63e39be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/dolphin-16.07.80.tar.xz">dolphin-16.07.80</a></td>
   <td align="right">659kB</td>
   <td><tt>8a64d1026a293619d64375d1e5e854ff80709218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/dolphin-plugins-16.07.80.tar.xz">dolphin-plugins-16.07.80</a></td>
   <td align="right">59kB</td>
   <td><tt>48804845538f9d85e40791ce9a67910912cc2897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/dragon-16.07.80.tar.xz">dragon-16.07.80</a></td>
   <td align="right">466kB</td>
   <td><tt>563cec0d9f954a4e0890dda76531e3d0c3b0a3f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/eventviews-16.07.80.tar.xz">eventviews-16.07.80</a></td>
   <td align="right">143kB</td>
   <td><tt>dcc34aa228e06ae5098187e7c871a0e6d86f6dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ffmpegthumbs-16.07.80.tar.xz">ffmpegthumbs-16.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>b54509b921e9fe0d42789b83fe95ff8838434db5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/filelight-16.07.80.tar.xz">filelight-16.07.80</a></td>
   <td align="right">207kB</td>
   <td><tt>c14a70ccb5fabbd78e5b08118020d92370fbf4d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/gpgmepp-16.07.80.tar.xz">gpgmepp-16.07.80</a></td>
   <td align="right">66kB</td>
   <td><tt>eeb01556e6f4d7dc74d28ff403f1834ce1f7a0e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/granatier-16.07.80.tar.xz">granatier-16.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4555c18a5b5f19a8a994d01cb88b3766efe6abf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/grantleetheme-16.07.80.tar.xz">grantleetheme-16.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>788b96411948a1740123a8744082c07feca1cd70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/gwenview-16.07.80.tar.xz">gwenview-16.07.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>fd67aad415f0d6ce72d310ec1a6ff6082dbda4d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/incidenceeditor-16.07.80.tar.xz">incidenceeditor-16.07.80</a></td>
   <td align="right">117kB</td>
   <td><tt>74165c4d71180d354a0984c4849a6ee1329e7f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/jovie-16.07.80.tar.xz">jovie-16.07.80</a></td>
   <td align="right">384kB</td>
   <td><tt>7c565105279b4faa4f5adc5f6b3c02bc0788e341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/juk-16.07.80.tar.xz">juk-16.07.80</a></td>
   <td align="right">435kB</td>
   <td><tt>017893dde4bbc6089b186e0ab2cfbe18e8ea27b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kaccessible-16.07.80.tar.xz">kaccessible-16.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>8966756db12297272453058fd03ff5f19574ea1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kaccounts-integration-16.07.80.tar.xz">kaccounts-integration-16.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>0cea422cd8b3193cfbf25a815d61e9a0edab72a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kaccounts-providers-16.07.80.tar.xz">kaccounts-providers-16.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>ca76c11f8dcd6c33a6d3073005804bc496e94afc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kajongg-16.07.80.tar.xz">kajongg-16.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0da36c39e1405245c7088cb1f1d8f216b43db6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kalarmcal-16.07.80.tar.xz">kalarmcal-16.07.80</a></td>
   <td align="right">85kB</td>
   <td><tt>9eaaf31079e9af1aa6e7504d449b3291e090c68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kalgebra-16.07.80.tar.xz">kalgebra-16.07.80</a></td>
   <td align="right">316kB</td>
   <td><tt>b3236d52c162f5d0cb2b4a0f2ed6bb8dada450be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kalzium-16.07.80.tar.xz">kalzium-16.07.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>88ff59b683756e7d45cba0fff29582fe93f4d79d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kamera-16.07.80.tar.xz">kamera-16.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>585ab84b6998ad120d8c1c82f156d79440920045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kanagram-16.07.80.tar.xz">kanagram-16.07.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>cd7b64337b7b12ba9ebed72840bc56e930b274f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kapman-16.07.80.tar.xz">kapman-16.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2a2458975b8a3bf37600f6b8e59e32414fee98d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kapptemplate-16.07.80.tar.xz">kapptemplate-16.07.80</a></td>
   <td align="right">390kB</td>
   <td><tt>f3af4b33c69d026ac898ceac3de9864d17cf3159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kate-16.07.80.tar.xz">kate-16.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8662788ca65f0f8a6823e9dc4fa338a3bf5a3a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/katomic-16.07.80.tar.xz">katomic-16.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>527c57493d909076bb245847b5b69fb619e4fb35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kblackbox-16.07.80.tar.xz">kblackbox-16.07.80</a></td>
   <td align="right">216kB</td>
   <td><tt>f93a53b383dff6bba526678bad95d5a11ec75455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kblocks-16.07.80.tar.xz">kblocks-16.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>07a7347f30227251e4a1a8f6a10cd6e717f74596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kblog-16.07.80.tar.xz">kblog-16.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>306747c9b88bcda4ffbc08a49d1919ec34ad7729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kbounce-16.07.80.tar.xz">kbounce-16.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>39071843444530edfe75d675c48cfd920167f7e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kbreakout-16.07.80.tar.xz">kbreakout-16.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c57c2867efd119a593e06a186a62880b0c5559d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kbruch-16.07.80.tar.xz">kbruch-16.07.80</a></td>
   <td align="right">699kB</td>
   <td><tt>61c900ffe05806b772bb04d7c7517b81012534f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kcachegrind-16.07.80.tar.xz">kcachegrind-16.07.80</a></td>
   <td align="right">233kB</td>
   <td><tt>f19aa294d70306c8dfdd9cfcfbd3e11b639a4658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kcalc-16.07.80.tar.xz">kcalc-16.07.80</a></td>
   <td align="right">81kB</td>
   <td><tt>7e1435acd61ab6ba126ca223ac8eb39360bfffae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kcalcore-16.07.80.tar.xz">kcalcore-16.07.80</a></td>
   <td align="right">287kB</td>
   <td><tt>1dc62d9bb49ab3091aee5cac95a75d6734fb76a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kcalutils-16.07.80.tar.xz">kcalutils-16.07.80</a></td>
   <td align="right">92kB</td>
   <td><tt>d9d1c39f7c85654d502a801515755da1081f3067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kcharselect-16.07.80.tar.xz">kcharselect-16.07.80</a></td>
   <td align="right">90kB</td>
   <td><tt>b3eeb84d78f96bba7b2fd0a71e1c30c590aa3e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kcolorchooser-16.07.80.tar.xz">kcolorchooser-16.07.80</a></td>
   <td align="right">4kB</td>
   <td><tt>e2e6d3bc74e1d29560a8ecb8683a2dae361f1b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kcontacts-16.07.80.tar.xz">kcontacts-16.07.80</a></td>
   <td align="right">137kB</td>
   <td><tt>15f033b8c5f79f9a64f9befafc8959869afa88dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kcron-16.07.80.tar.xz">kcron-16.07.80</a></td>
   <td align="right">136kB</td>
   <td><tt>34d1a051d02a5be8cb2a4862f525f6e58572f6ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-baseapps-16.07.80.tar.xz">kde-baseapps-16.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>292a6b0ffbc715b91881b4cfb100d7a5d2f6e90c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdebugsettings-16.07.80.tar.xz">kdebugsettings-16.07.80</a></td>
   <td align="right">27kB</td>
   <td><tt>fc55bb4e380068b1928fb5e40f10ae110cddd114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-dev-scripts-16.07.80.tar.xz">kde-dev-scripts-16.07.80</a></td>
   <td align="right">303kB</td>
   <td><tt>e86062e3dc04b571ff65090fdfcdb8c80d5407eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-dev-utils-16.07.80.tar.xz">kde-dev-utils-16.07.80</a></td>
   <td align="right">50kB</td>
   <td><tt>85a83662b36343eda16e594cf991052edbea60a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdeedu-data-16.07.80.tar.xz">kdeedu-data-16.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>20aed2b7da350107a977747855a073258b8f47ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdegraphics-mobipocket-16.07.80.tar.xz">kdegraphics-mobipocket-16.07.80</a></td>
   <td align="right">14kB</td>
   <td><tt>ea849f313df1b00aa268b5ac8045ab927b6ed3b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdegraphics-thumbnailers-16.07.80.tar.xz">kdegraphics-thumbnailers-16.07.80</a></td>
   <td align="right">40kB</td>
   <td><tt>3895c2623022291b948c09b89c4026b992cb029b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdenetwork-filesharing-16.07.80.tar.xz">kdenetwork-filesharing-16.07.80</a></td>
   <td align="right">27kB</td>
   <td><tt>19d413edd8722d09c193c6b9ba36107ba52a2534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdenlive-16.07.80.tar.xz">kdenlive-16.07.80</a></td>
   <td align="right">6.2MB</td>
   <td><tt>d9d3fc51cd05b198b9bdb7f994d2e9c99f7b2b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdepim-16.07.80.tar.xz">kdepim-16.07.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>fb4c3ae84db67a44c1fb4e0c522c527b39cd1397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdepim-addons-16.07.80.tar.xz">kdepim-addons-16.07.80</a></td>
   <td align="right">275kB</td>
   <td><tt>f399d59da306b032e3d644df23e3b4ab3cd13ba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdepim-apps-libs-16.07.80.tar.xz">kdepim-apps-libs-16.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>81b39b754744cb462e9e41df028bb41b87c0fff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdepim-runtime-16.07.80.tar.xz">kdepim-runtime-16.07.80</a></td>
   <td align="right">726kB</td>
   <td><tt>cbfab9e45fcf06c9a77ce40e8a012640b9083988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-runtime-16.07.80.tar.xz">kde-runtime-16.07.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>960b66602b67cd2e137f5e40a01c19b7b6e1ffc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdesdk-kioslaves-16.07.80.tar.xz">kdesdk-kioslaves-16.07.80</a></td>
   <td align="right">352kB</td>
   <td><tt>616a191a382df9636942b69e079dc21863f32255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdesdk-thumbnailers-16.07.80.tar.xz">kdesdk-thumbnailers-16.07.80</a></td>
   <td align="right">11kB</td>
   <td><tt>80aac490a5cde347f746ab36ff8585fa7c95baa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdewebdev-16.07.80.tar.xz">kdewebdev-16.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ca06cc8f3ad11bedabca20b4e4e4a62fbdca7b49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdf-16.07.80.tar.xz">kdf-16.07.80</a></td>
   <td align="right">140kB</td>
   <td><tt>03f0daa27ded9659e3652c75bf4e9c8893d3a0e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdgantt2-16.07.80.tar.xz">kdgantt2-16.07.80</a></td>
   <td align="right">53kB</td>
   <td><tt>7f62879b7bd2ddeea5a1f6a442a1588d99f7782e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kdiamond-16.07.80.tar.xz">kdiamond-16.07.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b1b702cace6861d241dcb3cbc3f7f66a8b45978e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kfloppy-16.07.80.tar.xz">kfloppy-16.07.80</a></td>
   <td align="right">52kB</td>
   <td><tt>ca31ddb3d9cf58adf158bf78a4f0f4d4176cd1a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kfourinline-16.07.80.tar.xz">kfourinline-16.07.80</a></td>
   <td align="right">449kB</td>
   <td><tt>3bbb038604a2e6d6d6482645e8e10d25339b52ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kgeography-16.07.80.tar.xz">kgeography-16.07.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>8a881c2492810aacda3d858fb98ec7d5079b16f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kget-16.07.80.tar.xz">kget-16.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6e4e1b5c2f3938cae5ac0329ee358a250843df0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kgoldrunner-16.07.80.tar.xz">kgoldrunner-16.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e6000e7b26451a278cc19f3a655ecb86a715e726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kgpg-16.07.80.tar.xz">kgpg-16.07.80</a></td>
   <td align="right">790kB</td>
   <td><tt>2ea982010eaaff371215247a6c0b8b9aedd3cf3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/khangman-16.07.80.tar.xz">khangman-16.07.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>031e2675ebae3fa1d2e9cc34bda6bef0c18815c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/khelpcenter-16.07.80.tar.xz">khelpcenter-16.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f3bd2610a93a73d47aba42f751a27e87ddd2006b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kholidays-16.07.80.tar.xz">kholidays-16.07.80</a></td>
   <td align="right">171kB</td>
   <td><tt>482b7bd941797e4d75c8d1b291e48634ffba6ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kidentitymanagement-16.07.80.tar.xz">kidentitymanagement-16.07.80</a></td>
   <td align="right">35kB</td>
   <td><tt>37ed1b6b1dfeb6d2640e4ae5ca5158d79174f740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kig-16.07.80.tar.xz">kig-16.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e8a1a3d4a7f1a2a814709e4b616a0566654b65dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kigo-16.07.80.tar.xz">kigo-16.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>30d885ecbbb7207d78d9be5836928f7a4f81ca12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/killbots-16.07.80.tar.xz">killbots-16.07.80</a></td>
   <td align="right">940kB</td>
   <td><tt>576b65a07e39a40f22faea1c0f6876d14bc7a074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kimap-16.07.80.tar.xz">kimap-16.07.80</a></td>
   <td align="right">89kB</td>
   <td><tt>7620f9d592bb24d590ef1ac91972bb53c068bd68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kio-extras-16.07.80.tar.xz">kio-extras-16.07.80</a></td>
   <td align="right">271kB</td>
   <td><tt>9dc50c031bb67d324931a5e255089c70b1ddbaa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kiriki-16.07.80.tar.xz">kiriki-16.07.80</a></td>
   <td align="right">252kB</td>
   <td><tt>52426bc1977dc67996227421075a43ec77cb995f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kiten-16.07.80.tar.xz">kiten-16.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>7db356fd4a7ee42c3ab5e3176254b443e45c682e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kjumpingcube-16.07.80.tar.xz">kjumpingcube-16.07.80</a></td>
   <td align="right">132kB</td>
   <td><tt>6cf37cd59af62c822fea504a7f5971862cdf4217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kldap-16.07.80.tar.xz">kldap-16.07.80</a></td>
   <td align="right">58kB</td>
   <td><tt>751e2d4348fdf782d7d7d41777f4e83259317274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kleopatra-16.07.80.tar.xz">kleopatra-16.07.80</a></td>
   <td align="right">714kB</td>
   <td><tt>27cc9635bcce14bd9f8cdcfa24d0ac2947a5313b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/klettres-16.07.80.tar.xz">klettres-16.07.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>bfc6c1d0a7c1ed85e19f14d22941f4cbe0c386f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/klickety-16.07.80.tar.xz">klickety-16.07.80</a></td>
   <td align="right">649kB</td>
   <td><tt>9b1e6b74fd4bcdaf734f240386d2d59cf66dd88e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/klines-16.07.80.tar.xz">klines-16.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0b973908154e9dd6e39a1b8f2cdd60c12545f766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmag-16.07.80.tar.xz">kmag-16.07.80</a></td>
   <td align="right">84kB</td>
   <td><tt>264809cc2d5df2e7a71c00dc3b75016c7ebd2b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmahjongg-16.07.80.tar.xz">kmahjongg-16.07.80</a></td>
   <td align="right">988kB</td>
   <td><tt>fee08a5a497fc4a0d3edeebc6a77b08f123b63e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmailtransport-16.07.80.tar.xz">kmailtransport-16.07.80</a></td>
   <td align="right">88kB</td>
   <td><tt>8bc274929f9f01e22d2020568f1c0c2be0faf534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmbox-16.07.80.tar.xz">kmbox-16.07.80</a></td>
   <td align="right">23kB</td>
   <td><tt>40700c9d420d56895b82f74a90ccf234e5405952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmime-16.07.80.tar.xz">kmime-16.07.80</a></td>
   <td align="right">119kB</td>
   <td><tt>9c8fb68f91596d76a011e29ec4a8dccd6d620854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmines-16.07.80.tar.xz">kmines-16.07.80</a></td>
   <td align="right">646kB</td>
   <td><tt>3fbfe5db6606b30329e5ba9d42e1f1eb2099e599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmix-16.07.80.tar.xz">kmix-16.07.80</a></td>
   <td align="right">380kB</td>
   <td><tt>22db7cf1b6c510d7bc505830e61897c811433cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmousetool-16.07.80.tar.xz">kmousetool-16.07.80</a></td>
   <td align="right">35kB</td>
   <td><tt>7641069650bba221ca5636a4e2164673c9c771a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmouth-16.07.80.tar.xz">kmouth-16.07.80</a></td>
   <td align="right">270kB</td>
   <td><tt>a8294ac05d53fd0ede7343b6e6492af71ec3ab24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kmplot-16.07.80.tar.xz">kmplot-16.07.80</a></td>
   <td align="right">558kB</td>
   <td><tt>8033a1beaf1721f2ded22075be416a38a9c1dae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/knavalbattle-16.07.80.tar.xz">knavalbattle-16.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8f471e1ac5b87ac5b4e2d117b8d24dfb66e4cc47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/knetwalk-16.07.80.tar.xz">knetwalk-16.07.80</a></td>
   <td align="right">884kB</td>
   <td><tt>38969ed04557385cbbec85b717145be76922c366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kolf-16.07.80.tar.xz">kolf-16.07.80</a></td>
   <td align="right">749kB</td>
   <td><tt>e313e9b58db51f79f285849ff8cec4ba2ac7394a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kollision-16.07.80.tar.xz">kollision-16.07.80</a></td>
   <td align="right">221kB</td>
   <td><tt>add2ae53eda038732928d96cf489860544529e82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kolourpaint-16.07.80.tar.xz">kolourpaint-16.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>311849564d515bcf285446a41cead3f338050b1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kompare-16.07.80.tar.xz">kompare-16.07.80</a></td>
   <td align="right">231kB</td>
   <td><tt>049a79a01b22653ccdefd8da95b98b4a3d9afeb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/konquest-16.07.80.tar.xz">konquest-16.07.80</a></td>
   <td align="right">396kB</td>
   <td><tt>cbeae9a847cbb6a034a97e4dffa9f93438aac555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/konsole-16.07.80.tar.xz">konsole-16.07.80</a></td>
   <td align="right">452kB</td>
   <td><tt>c4e3066ade3573f67b5341f4a2432ab09c7ffd23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kontactinterface-16.07.80.tar.xz">kontactinterface-16.07.80</a></td>
   <td align="right">24kB</td>
   <td><tt>d4b7d232833406f16a48447f0d2cbdf67de3bc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kopete-16.07.80.tar.xz">kopete-16.07.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>42f1474d0c9e85e08dae8f6ffd5d29006bb90b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kpat-16.07.80.tar.xz">kpat-16.07.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>34bdbb46f33cd15379f738272fb9e1f8a5bca164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kpimtextedit-16.07.80.tar.xz">kpimtextedit-16.07.80</a></td>
   <td align="right">76kB</td>
   <td><tt>6a16836c4273d2e38ab112ff4748adf45abeb304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kppp-16.07.80.tar.xz">kppp-16.07.80</a></td>
   <td align="right">683kB</td>
   <td><tt>f24e28dee01bd4d500129b492cfedbb127169431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kqtquickcharts-16.07.80.tar.xz">kqtquickcharts-16.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>f3cc9f40333babe0628cc303124eb2d7ad44632b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/krdc-16.07.80.tar.xz">krdc-16.07.80</a></td>
   <td align="right">388kB</td>
   <td><tt>18b7b268555508bae5282209eb3fd738d6aef9f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kremotecontrol-16.07.80.tar.xz">kremotecontrol-16.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>52d97c0734ad9729f1758bc8d87947dcfe141fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kreversi-16.07.80.tar.xz">kreversi-16.07.80</a></td>
   <td align="right">464kB</td>
   <td><tt>9f95af9a0d088397ada62cb558cf0e216c5ebb2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/krfb-16.07.80.tar.xz">krfb-16.07.80</a></td>
   <td align="right">317kB</td>
   <td><tt>f869e7dc474dda0088181c34168114bbba747359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kross-interpreters-16.07.80.tar.xz">kross-interpreters-16.07.80</a></td>
   <td align="right">141kB</td>
   <td><tt>45992550f8a67afb651ed7af73ebf7476cf1fe90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kruler-16.07.80.tar.xz">kruler-16.07.80</a></td>
   <td align="right">120kB</td>
   <td><tt>edef723631f5f7620bbb189cea445729d87c93b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ksaneplugin-16.07.80.tar.xz">ksaneplugin-16.07.80</a></td>
   <td align="right">12kB</td>
   <td><tt>155d354e94d041e6459bb31c4e9d11ff36d9800c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kscd-16.07.80.tar.xz">kscd-16.07.80</a></td>
   <td align="right">90kB</td>
   <td><tt>0e09e2ac3f02651dff0c0a5069e1cd6a6f5a16a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kshisen-16.07.80.tar.xz">kshisen-16.07.80</a></td>
   <td align="right">335kB</td>
   <td><tt>06f39e7288edd9964a4cc7b8503cb9dc7d36e2ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ksirk-16.07.80.tar.xz">ksirk-16.07.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>fd344d7f2d3b6be5ae08359c1c3503132290c98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ksnakeduel-16.07.80.tar.xz">ksnakeduel-16.07.80</a></td>
   <td align="right">290kB</td>
   <td><tt>a60c300c13efec297c0c0a9b62d8f3d233ba3694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kspaceduel-16.07.80.tar.xz">kspaceduel-16.07.80</a></td>
   <td align="right">247kB</td>
   <td><tt>10f7fd66eb43ae1cee1d4929452e01270f0e58fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ksquares-16.07.80.tar.xz">ksquares-16.07.80</a></td>
   <td align="right">133kB</td>
   <td><tt>db2cc94051cb2b6dd61570bc59a3f476d62e6a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kstars-16.07.80.tar.xz">kstars-16.07.80</a></td>
   <td align="right">16MB</td>
   <td><tt>ad5787cdae0fd2b24634a72becf1f2ff08c50dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ksudoku-16.07.80.tar.xz">ksudoku-16.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>58b379925a2f489a112b9d31d3c81c12274e8b34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ksystemlog-16.07.80.tar.xz">ksystemlog-16.07.80</a></td>
   <td align="right">342kB</td>
   <td><tt>11f07899a922184d2d28416c5850e6fcbb387d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kteatime-16.07.80.tar.xz">kteatime-16.07.80</a></td>
   <td align="right">88kB</td>
   <td><tt>3898415ca80da7b6f3ca29eb4a85928fd8c3164c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktimer-16.07.80.tar.xz">ktimer-16.07.80</a></td>
   <td align="right">157kB</td>
   <td><tt>035e82065ae1afc924f99000ab250cc8fe3eb7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktnef-16.07.80.tar.xz">ktnef-16.07.80</a></td>
   <td align="right">227kB</td>
   <td><tt>2dfe718d9a6300533f0a098f1da65afae2ae380b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktouch-16.07.80.tar.xz">ktouch-16.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>90afdc5efcb8efd7acc9c1a23df996a981177c2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-accounts-kcm-16.07.80.tar.xz">ktp-accounts-kcm-16.07.80</a></td>
   <td align="right">87kB</td>
   <td><tt>f6600be04cdb32360c58350525f1604e99114081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-approver-16.07.80.tar.xz">ktp-approver-16.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>b8703e079a4b3cc6aa9e271b4378de61f374d58d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-auth-handler-16.07.80.tar.xz">ktp-auth-handler-16.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>73f4f23ab8bec6765a279c74dc00acc347de78c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-call-ui-16.07.80.tar.xz">ktp-call-ui-16.07.80</a></td>
   <td align="right">44kB</td>
   <td><tt>20e6e0f6439617b9e856ded5ec6f5c4dd61c2cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-common-internals-16.07.80.tar.xz">ktp-common-internals-16.07.80</a></td>
   <td align="right">309kB</td>
   <td><tt>4283179b8d61d50cd4cb5f03aef50333d9b43496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-contact-list-16.07.80.tar.xz">ktp-contact-list-16.07.80</a></td>
   <td align="right">47kB</td>
   <td><tt>97da0540d24e688250290c5de7cc27aca422a6a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-contact-runner-16.07.80.tar.xz">ktp-contact-runner-16.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>827cf00248bff6e24899d6249e172d56b1bc8800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-desktop-applets-16.07.80.tar.xz">ktp-desktop-applets-16.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>f785c5b17453352e7ed89e910dc4a1d27a4970b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-filetransfer-handler-16.07.80.tar.xz">ktp-filetransfer-handler-16.07.80</a></td>
   <td align="right">22kB</td>
   <td><tt>b86d8de9b6ff0b660ec39f381d73c344271b8416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-kded-module-16.07.80.tar.xz">ktp-kded-module-16.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>1e2c36a611cbb250c67c86ba67f72bb2c8b5a84d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-send-file-16.07.80.tar.xz">ktp-send-file-16.07.80</a></td>
   <td align="right">14kB</td>
   <td><tt>be29390201729f0d8127757d5a5aca880ea016bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktp-text-ui-16.07.80.tar.xz">ktp-text-ui-16.07.80</a></td>
   <td align="right">287kB</td>
   <td><tt>18ce61551f50d659a53a8625cb1472614fa50390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/ktuberling-16.07.80.tar.xz">ktuberling-16.07.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>9c742ff825535f66a07a9a271085293ebbb25088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kturtle-16.07.80.tar.xz">kturtle-16.07.80</a></td>
   <td align="right">189kB</td>
   <td><tt>d0693dd9867b2d0badfc2674126083d564b9c14a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kubrick-16.07.80.tar.xz">kubrick-16.07.80</a></td>
   <td align="right">104kB</td>
   <td><tt>92cbb882e23fcd83864aa1eefb4d88fc20e492b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kuser-16.07.80.tar.xz">kuser-16.07.80</a></td>
   <td align="right">132kB</td>
   <td><tt>e03e1a46d8484d63e0de804b95831cb9cac62b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kwalletmanager-16.07.80.tar.xz">kwalletmanager-16.07.80</a></td>
   <td align="right">447kB</td>
   <td><tt>3e108843c767520f786061eb3df1d315d0b6fd3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kwordquiz-16.07.80.tar.xz">kwordquiz-16.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5154afd1f36d81b1a29e6d3ec26e2d5fd82d08e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libgravatar-16.07.80.tar.xz">libgravatar-16.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>fd087ef203cf765c685376be10677dbef9f9d6e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkcddb-16.07.80.tar.xz">libkcddb-16.07.80</a></td>
   <td align="right">154kB</td>
   <td><tt>342ca3d5de5edf3934f03d5cd4547bc1a1d985a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkcompactdisc-16.07.80.tar.xz">libkcompactdisc-16.07.80</a></td>
   <td align="right">74kB</td>
   <td><tt>9da3c189038fb716d612bbcc3eed2a634bb23e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkdcraw-16.07.80.tar.xz">libkdcraw-16.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>a51e1988c62ba67eaa8d4d23380a7c1f112fc4d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkdegames-16.07.80.tar.xz">libkdegames-16.07.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>fee3a7c4b16367b73b0be1a474f9777b199fd93f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkdepim-16.07.80.tar.xz">libkdepim-16.07.80</a></td>
   <td align="right">111kB</td>
   <td><tt>fa8668248b0d2db8c63aa061b854a945863a0c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkeduvocdocument-16.07.80.tar.xz">libkeduvocdocument-16.07.80</a></td>
   <td align="right">89kB</td>
   <td><tt>d8467c2099101e48f0183ded2ec29ef26b66227c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkexiv2-16.07.80.tar.xz">libkexiv2-16.07.80</a></td>
   <td align="right">63kB</td>
   <td><tt>be0b4d59d23b4be7aecef2eac1f68259154bbf25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkface-16.07.80.tar.xz">libkface-16.07.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>b79de06d934276868ede30f24d5d4e98d5fde35e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkgeomap-16.07.80.tar.xz">libkgeomap-16.07.80</a></td>
   <td align="right">122kB</td>
   <td><tt>542f727228074c03b6a3d0cb1d19cc4df0f26dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkipi-16.07.80.tar.xz">libkipi-16.07.80</a></td>
   <td align="right">101kB</td>
   <td><tt>8e3a6034c22e0542e8463ec3fd89dd4388086a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkleo-16.07.80.tar.xz">libkleo-16.07.80</a></td>
   <td align="right">140kB</td>
   <td><tt>b39789f1f1d9c35e58f4715840432d34edae7d14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkmahjongg-16.07.80.tar.xz">libkmahjongg-16.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e2266f494d5a36b2fe4bdd789d888a94fa0bdf10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libkomparediff2-16.07.80.tar.xz">libkomparediff2-16.07.80</a></td>
   <td align="right">55kB</td>
   <td><tt>5541e72daeb8516f18208318b371cf72331387e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libksane-16.07.80.tar.xz">libksane-16.07.80</a></td>
   <td align="right">79kB</td>
   <td><tt>78d76c2ac529feac25be5ee33ce639e2592bfe49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/libksieve-16.07.80.tar.xz">libksieve-16.07.80</a></td>
   <td align="right">159kB</td>
   <td><tt>ff642d342c228f00845f0fb48bfb283f72d11fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/lokalize-16.07.80.tar.xz">lokalize-16.07.80</a></td>
   <td align="right">934kB</td>
   <td><tt>20ae3bc2394eaaade76bad550a4c4aa6ce4a30e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/lskat-16.07.80.tar.xz">lskat-16.07.80</a></td>
   <td align="right">906kB</td>
   <td><tt>4c1c4db3e63092fc7486c8ae70d75a1f0e6677ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/mailcommon-16.07.80.tar.xz">mailcommon-16.07.80</a></td>
   <td align="right">181kB</td>
   <td><tt>7530aa771ef170ef55e70ebfec1a1120f9dfce18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/mailimporter-16.07.80.tar.xz">mailimporter-16.07.80</a></td>
   <td align="right">373kB</td>
   <td><tt>0778450c37d46c4c6cd49ea49d3119bc131400cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/marble-16.07.80.tar.xz">marble-16.07.80</a></td>
   <td align="right">22MB</td>
   <td><tt>26227c55e42ffcfa96f98f99ecde3f7f4df5bf30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/messagelib-16.07.80.tar.xz">messagelib-16.07.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>e84c3434015ea6b845b0b6fc08042921a7ffbf2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/minuet-16.07.80.tar.xz">minuet-16.07.80</a></td>
   <td align="right">25MB</td>
   <td><tt>2b5da91107a14e846d70ec211604aa1cd45ac86f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/okteta-16.07.80.tar.xz">okteta-16.07.80</a></td>
   <td align="right">493kB</td>
   <td><tt>50f577b6f430312963e92756d023ce6188005989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/okular-16.07.80.tar.xz">okular-16.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5c14ccc8a597550a582f7ffb31450cbce84548d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/palapeli-16.07.80.tar.xz">palapeli-16.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e1c1bcae764cb9dc1479ea48b7a0878266facfe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/parley-16.07.80.tar.xz">parley-16.07.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>628276ecdb6697560413d2c85b13ac29fb947fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/picmi-16.07.80.tar.xz">picmi-16.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e42aa438d638afde9bfaf21e3dfd4aef3dd1f149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/pimcommon-16.07.80.tar.xz">pimcommon-16.07.80</a></td>
   <td align="right">149kB</td>
   <td><tt>11dd5cc0f651fea08c78d66adbcf178204539c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/poxml-16.07.80.tar.xz">poxml-16.07.80</a></td>
   <td align="right">31kB</td>
   <td><tt>534ccc10467ab27484fa176ae77d283354c160f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/print-manager-16.07.80.tar.xz">print-manager-16.07.80</a></td>
   <td align="right">91kB</td>
   <td><tt>7c70aa01f1df88fa1230413b161719055bddd870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/rocs-16.07.80.tar.xz">rocs-16.07.80</a></td>
   <td align="right">519kB</td>
   <td><tt>e19eb398aa33a74c10dc3781b3bf1c9e60c5f941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/signon-kwallet-extension-16.07.80.tar.xz">signon-kwallet-extension-16.07.80</a></td>
   <td align="right">10kB</td>
   <td><tt>82f2a3fae4720d91f7380a319e0110dc7cb1b6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/spectacle-16.07.80.tar.xz">spectacle-16.07.80</a></td>
   <td align="right">975kB</td>
   <td><tt>768b65641fda49260938470bf99a547bf4e62258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/step-16.07.80.tar.xz">step-16.07.80</a></td>
   <td align="right">380kB</td>
   <td><tt>65d25e3fd636150f088975bc88e1ae8e59d344be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/svgpart-16.07.80.tar.xz">svgpart-16.07.80</a></td>
   <td align="right">8kB</td>
   <td><tt>7eb10505e6641eb252aababbfb1b32f45542cd3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/sweeper-16.07.80.tar.xz">sweeper-16.07.80</a></td>
   <td align="right">80kB</td>
   <td><tt>2584ce487c1aeb1f45062173d788cf516884aa36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/syndication-16.07.80.tar.xz">syndication-16.07.80</a></td>
   <td align="right">156kB</td>
   <td><tt>05c68e5faa86411681788fb0e0abc0e05e4e2d86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/umbrello-16.07.80.tar.xz">umbrello-16.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d711356aaba69d59746ee331876e889403d5ebe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/zeroconf-ioslave-16.07.80.tar.xz">zeroconf-ioslave-16.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>65cb030643ce7258aff7cc0b0922deafe938b323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ar-16.07.80.tar.xz">kde-l10n-ar-16.07.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>9d731bfe5e1437f03bb811eb09997300b4fc726f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ast-16.07.80.tar.xz">kde-l10n-ast-16.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c76992c5e591de87a1f73b44e5922e7f698318d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-bg-16.07.80.tar.xz">kde-l10n-bg-16.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e80ba778bb9b05a944ff91e7374614c0d641ee06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-bs-16.07.80.tar.xz">kde-l10n-bs-16.07.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>89dcf9a5ab37c2cd78f82f3ac1ac12ad527f6eff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ca-16.07.80.tar.xz">kde-l10n-ca-16.07.80</a></td>
   <td align="right">12MB</td>
   <td><tt>9f66bacf672947bc4b4ae4d622755d935a2e6d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ca@valencia-16.07.80.tar.xz">kde-l10n-ca@valencia-16.07.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>9c9e5f8abd4711809f58bcdb55ab696aebed4f08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-cs-16.07.80.tar.xz">kde-l10n-cs-16.07.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>4476c4078e423e539a396685c81affe63faa66e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-da-16.07.80.tar.xz">kde-l10n-da-16.07.80</a></td>
   <td align="right">12MB</td>
   <td><tt>dcba2751af0faceb1ec4505e53fae331eb1a5b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-de-16.07.80.tar.xz">kde-l10n-de-16.07.80</a></td>
   <td align="right">32MB</td>
   <td><tt>22759a8c1145a1be4bad5fec1e54811c10e28aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-el-16.07.80.tar.xz">kde-l10n-el-16.07.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>5dc184c3c35c2283885de4a65a6ad3f5aa9448cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-en_GB-16.07.80.tar.xz">kde-l10n-en_GB-16.07.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>38ceaf7e6ff54c6c1803515674a4fa8faaaa8e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-eo-16.07.80.tar.xz">kde-l10n-eo-16.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ca2a38fb70125ab3ca6488b32503d35e03293c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-es-16.07.80.tar.xz">kde-l10n-es-16.07.80</a></td>
   <td align="right">17MB</td>
   <td><tt>e9d6ac099b0b29f88dcd4bfe9225caf0075cd829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-et-16.07.80.tar.xz">kde-l10n-et-16.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3c382bd974d402b212f1595049f77357da0ef425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-eu-16.07.80.tar.xz">kde-l10n-eu-16.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4490856e779badc4687d720992fcaded584d5a90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-fa-16.07.80.tar.xz">kde-l10n-fa-16.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>eba50d2a40840ff2f0a762ffc5714fd76a8a3f79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-fi-16.07.80.tar.xz">kde-l10n-fi-16.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>add5a07f82619e6dd9d277a5ea9d9752b6e6f2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-fr-16.07.80.tar.xz">kde-l10n-fr-16.07.80</a></td>
   <td align="right">45MB</td>
   <td><tt>bd752566b969a7b24811b9b51dd83c6a39c77434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ga-16.07.80.tar.xz">kde-l10n-ga-16.07.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d239873236402d05a241caeecc9ece6688848a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-gl-16.07.80.tar.xz">kde-l10n-gl-16.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>6eda06f776a819de9cd9ad7515f57572273606e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-he-16.07.80.tar.xz">kde-l10n-he-16.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d1f4fd16517d767794de38dc42623d86f688d183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-hi-16.07.80.tar.xz">kde-l10n-hi-16.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>42056b7a730d62f21701a965652491c1af22d348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-hr-16.07.80.tar.xz">kde-l10n-hr-16.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d3be31aff7d95253a5a4e7e90c92de13b4c75e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-hu-16.07.80.tar.xz">kde-l10n-hu-16.07.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>b99bc13133b2300b34d53ab5240b320b15d319e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ia-16.07.80.tar.xz">kde-l10n-ia-16.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b56d6d4c9f23806bbeb208d39af715c36e901115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-id-16.07.80.tar.xz">kde-l10n-id-16.07.80</a></td>
   <td align="right">548kB</td>
   <td><tt>70fb2731e4425b088735dda0f991314987a8ea98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-is-16.07.80.tar.xz">kde-l10n-is-16.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>bbb2377e28f5d73d3e331c7938a5de12e2a2c9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-it-16.07.80.tar.xz">kde-l10n-it-16.07.80</a></td>
   <td align="right">7.7MB</td>
   <td><tt>9c0966226f761ff4ce4bfac1b42ecda42020c2a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ja-16.07.80.tar.xz">kde-l10n-ja-16.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2bd7292f0f753d9ef0d7459dcee6b99361bef245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-kk-16.07.80.tar.xz">kde-l10n-kk-16.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>de0fe32193b6fdbe8214395bc5f68febb60dd675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-km-16.07.80.tar.xz">kde-l10n-km-16.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1a6556cd5b68aea2050052a91bbc3929c823cb88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ko-16.07.80.tar.xz">kde-l10n-ko-16.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>697556162c502f13407d0ae4f4a681da07bbeb0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-lt-16.07.80.tar.xz">kde-l10n-lt-16.07.80</a></td>
   <td align="right">12MB</td>
   <td><tt>5e592762a6c992fbab299796f5845a79a22ca884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-lv-16.07.80.tar.xz">kde-l10n-lv-16.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>0b9e2850b11ba2528b465fab5b1381e94e214f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-mr-16.07.80.tar.xz">kde-l10n-mr-16.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>82208c8df65d537e42c856c4e5d8a9fa34444e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-nb-16.07.80.tar.xz">kde-l10n-nb-16.07.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>73bb14147d1743d8a5271d8fb2f35fee72d95a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-nds-16.07.80.tar.xz">kde-l10n-nds-16.07.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>b7ecf8683953fc8035eab20fca006afeca176e2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-nl-16.07.80.tar.xz">kde-l10n-nl-16.07.80</a></td>
   <td align="right">13MB</td>
   <td><tt>7d50f7725a5d27868ce3030de327cb6d3f101503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-nn-16.07.80.tar.xz">kde-l10n-nn-16.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ea90d5128a534445e9db4d55ca85b11f2cc8e6d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-pa-16.07.80.tar.xz">kde-l10n-pa-16.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>656c915e0bf69b42d581b543abbeeb6263a341d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-pl-16.07.80.tar.xz">kde-l10n-pl-16.07.80</a></td>
   <td align="right">18MB</td>
   <td><tt>9b7ab5294481b0d11c0810c8c47d125542b910b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-pt-16.07.80.tar.xz">kde-l10n-pt-16.07.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>91ef30c2c23d42b95675c5c1ceaf7b6061fda5e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-pt_BR-16.07.80.tar.xz">kde-l10n-pt_BR-16.07.80</a></td>
   <td align="right">20MB</td>
   <td><tt>43ab487a7b222fc3ce4a126812c751e37d01f903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ro-16.07.80.tar.xz">kde-l10n-ro-16.07.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b1f27bc1d470a7749dc0e69e74f49cac3908142d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ru-16.07.80.tar.xz">kde-l10n-ru-16.07.80</a></td>
   <td align="right">22MB</td>
   <td><tt>c085f5556349e6ac5f5a22455f7950fd53d436e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-sk-16.07.80.tar.xz">kde-l10n-sk-16.07.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>082b473de25eae2d79cd9d1695c2a0e0c112e2df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-sl-16.07.80.tar.xz">kde-l10n-sl-16.07.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>06e78f136f5325e958565fa3532f25b8e21cfa36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-sr-16.07.80.tar.xz">kde-l10n-sr-16.07.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>36913280c4a6962e962606abfad5365ae4ec9d80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-sv-16.07.80.tar.xz">kde-l10n-sv-16.07.80</a></td>
   <td align="right">13MB</td>
   <td><tt>25fea64ccb5cd0529698eb1656f8992215ac44b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-tr-16.07.80.tar.xz">kde-l10n-tr-16.07.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>7aecf8c49ea3d6f87750cfad748b0bc1394c2019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-ug-16.07.80.tar.xz">kde-l10n-ug-16.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6c131ba4c457896bef77616a4dc33dd1f2a6da7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-uk-16.07.80.tar.xz">kde-l10n-uk-16.07.80</a></td>
   <td align="right">24MB</td>
   <td><tt>6f7440f8ff1c829790db0bcc921a4d07c288014a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-wa-16.07.80.tar.xz">kde-l10n-wa-16.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>aa6c176209e868d2db0ee0f7da4814e71ff61ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-zh_CN-16.07.80.tar.xz">kde-l10n-zh_CN-16.07.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>68fc43540fab3a3cc94d029a935472a6a1de38e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.07.80/src/kde-l10n/kde-l10n-zh_TW-16.07.80.tar.xz">kde-l10n-zh_TW-16.07.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>11419517f1d7cc9f483dd16728445634036f9da3</tt></td>
</tr>

</table>
