<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/akonadi-16.04.3.tar.xz">akonadi-16.04.3</a></td>
   <td align="right">998kB</td>
   <td><tt>8b9e62fcd94e9322ed4661df0c3bba33ec6f7fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/akonadi-calendar-16.04.3.tar.xz">akonadi-calendar-16.04.3</a></td>
   <td align="right">112kB</td>
   <td><tt>d27d1d325355654066bf99e195a031f21e201d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/akonadi-search-16.04.3.tar.xz">akonadi-search-16.04.3</a></td>
   <td align="right">68kB</td>
   <td><tt>9c450649925fb904b10d80ff25102bd6b38cfa4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/analitza-16.04.3.tar.xz">analitza-16.04.3</a></td>
   <td align="right">228kB</td>
   <td><tt>d4f14786810fac0ea60ebfa20194a115cc878ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ark-16.04.3.tar.xz">ark-16.04.3</a></td>
   <td align="right">953kB</td>
   <td><tt>2b7c50f0741f7f790e1931e36232e5dfb14cda50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/artikulate-16.04.3.tar.xz">artikulate-16.04.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>8ec30975394867688498127c882a5f9cdcf5ba2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/audiocd-kio-16.04.3.tar.xz">audiocd-kio-16.04.3</a></td>
   <td align="right">50kB</td>
   <td><tt>9673f3f6c019e0819ac8d2624c8e236b774722aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/baloo-widgets-16.04.3.tar.xz">baloo-widgets-16.04.3</a></td>
   <td align="right">55kB</td>
   <td><tt>39e6a0b00ccd7a3937b711c83f1e3d012226462c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/blinken-16.04.3.tar.xz">blinken-16.04.3</a></td>
   <td align="right">554kB</td>
   <td><tt>037a7aad3d71f05c49179cb250198a84baeeced7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/bomber-16.04.3.tar.xz">bomber-16.04.3</a></td>
   <td align="right">384kB</td>
   <td><tt>525f948f816d2e29d29165923c5751bdc92536d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/bovo-16.04.3.tar.xz">bovo-16.04.3</a></td>
   <td align="right">103kB</td>
   <td><tt>c53117d65d65f37fd401bfa479f776124d0d5171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/calendarsupport-16.04.3.tar.xz">calendarsupport-16.04.3</a></td>
   <td align="right">87kB</td>
   <td><tt>3dc7b6a51d5ab96da97be1f6b83dc78ddebe9d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/cantor-16.04.3.tar.xz">cantor-16.04.3</a></td>
   <td align="right">342kB</td>
   <td><tt>2dafd2e8b4a1ec9ced5bc43f4d12074ec965145d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/cervisia-16.04.3.tar.xz">cervisia-16.04.3</a></td>
   <td align="right">365kB</td>
   <td><tt>f50575f18d15e2c663f4266583d9511dd7894ef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/dolphin-16.04.3.tar.xz">dolphin-16.04.3</a></td>
   <td align="right">644kB</td>
   <td><tt>a2b28cde863ef040a20d246b782614d061ac0d37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/dolphin-plugins-16.04.3.tar.xz">dolphin-plugins-16.04.3</a></td>
   <td align="right">59kB</td>
   <td><tt>405b5b5989755c52f5c7e8de76df2a2bbc488b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/dragon-16.04.3.tar.xz">dragon-16.04.3</a></td>
   <td align="right">394kB</td>
   <td><tt>c29f4f8be23a03c87e0b4478ad06ca4a69bb5044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/eventviews-16.04.3.tar.xz">eventviews-16.04.3</a></td>
   <td align="right">133kB</td>
   <td><tt>615778f823640c4e7866fbd375fd2a0a148f6d80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ffmpegthumbs-16.04.3.tar.xz">ffmpegthumbs-16.04.3</a></td>
   <td align="right">19kB</td>
   <td><tt>ec8f1ae01f890a77a6d2ec7b39e820cffb8c3631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/filelight-16.04.3.tar.xz">filelight-16.04.3</a></td>
   <td align="right">280kB</td>
   <td><tt>9b67cac9b70279709d9a018f51a7b28a71008192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/gpgmepp-16.04.3.tar.xz">gpgmepp-16.04.3</a></td>
   <td align="right">66kB</td>
   <td><tt>8acfc0a78f9ac6071c2c8fff673bcedd2699abb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/granatier-16.04.3.tar.xz">granatier-16.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c1cd158f4e64d605cdc37cad9b7885b717b6908c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/grantleetheme-16.04.3.tar.xz">grantleetheme-16.04.3</a></td>
   <td align="right">31kB</td>
   <td><tt>83086445961fc2fcd3d4d15ff4cef0a7a38fcae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/gwenview-16.04.3.tar.xz">gwenview-16.04.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>f82bd6a3e7018d77ce70de8fbf3eb79e12c67b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/incidenceeditor-16.04.3.tar.xz">incidenceeditor-16.04.3</a></td>
   <td align="right">107kB</td>
   <td><tt>f87d7bbb92eec1faf70e181e41510503d885e533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/jovie-16.04.3.tar.xz">jovie-16.04.3</a></td>
   <td align="right">384kB</td>
   <td><tt>93087bc2be6dc83f13d156ded5266129ddb5dfcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/juk-16.04.3.tar.xz">juk-16.04.3</a></td>
   <td align="right">435kB</td>
   <td><tt>29f54f1e5b15e59c08df36ec5944c7393c981296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kaccessible-16.04.3.tar.xz">kaccessible-16.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>2abf22fcafb456d4eebc597a5d79b5fba95d4c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kaccounts-integration-16.04.3.tar.xz">kaccounts-integration-16.04.3</a></td>
   <td align="right">44kB</td>
   <td><tt>45da49467c867c2373063a2b0419a74cef17f3e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kaccounts-providers-16.04.3.tar.xz">kaccounts-providers-16.04.3</a></td>
   <td align="right">16kB</td>
   <td><tt>08209fb1ac01e7910d036602500e9d03211bb2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kajongg-16.04.3.tar.xz">kajongg-16.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>766db1b968c892ed442fb3f51c224e18bdc08a78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kalarmcal-16.04.3.tar.xz">kalarmcal-16.04.3</a></td>
   <td align="right">85kB</td>
   <td><tt>fc7733a3b6e29b88dbf5bde18c47765779983712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kalgebra-16.04.3.tar.xz">kalgebra-16.04.3</a></td>
   <td align="right">250kB</td>
   <td><tt>3a11b95f0702c878a4cd908efe653c1a8c65d845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kalzium-16.04.3.tar.xz">kalzium-16.04.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>097e1fb0865aabd9ac17b00a41e3d41a550368eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kamera-16.04.3.tar.xz">kamera-16.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>72d4a761eeb4a82e0287412b668d4ec08fc2ab67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kanagram-16.04.3.tar.xz">kanagram-16.04.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d3b6cc7a199406c3e5ca0cbdf0eb5ec9e27998b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kapman-16.04.3.tar.xz">kapman-16.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>01cb00c1c82fa37a89c913da2f220f00ffb0ba24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kapptemplate-16.04.3.tar.xz">kapptemplate-16.04.3</a></td>
   <td align="right">463kB</td>
   <td><tt>1eedeca1bc71768b0070cda0b1f15ae5dda7e854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kate-16.04.3.tar.xz">kate-16.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>82fd6f223cea420302a7de892400f2bc916e9251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/katomic-16.04.3.tar.xz">katomic-16.04.3</a></td>
   <td align="right">645kB</td>
   <td><tt>7b838ffac2ba60f66e901f351e3446b42e48eca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kblackbox-16.04.3.tar.xz">kblackbox-16.04.3</a></td>
   <td align="right">255kB</td>
   <td><tt>5e7b2ed4db484f618cdec13fca1341a3780e13fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kblocks-16.04.3.tar.xz">kblocks-16.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1e901356a665579ea5e5cf803bce226a9788306d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kblog-16.04.3.tar.xz">kblog-16.04.3</a></td>
   <td align="right">42kB</td>
   <td><tt>4a1a771f7718a807afbef219a9afd66072422945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kbounce-16.04.3.tar.xz">kbounce-16.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5f1896a5f482fd73e16cac2c07aab7cfb7b0bfe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kbreakout-16.04.3.tar.xz">kbreakout-16.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>77fac2088f0d3d17a78e82fc23dd60575ab8bb88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kbruch-16.04.3.tar.xz">kbruch-16.04.3</a></td>
   <td align="right">884kB</td>
   <td><tt>d39d54adf5bfc0d5bebeb5e580d0b6f9f954e87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kcachegrind-16.04.3.tar.xz">kcachegrind-16.04.3</a></td>
   <td align="right">232kB</td>
   <td><tt>495a1be2c9f2bc19b13dc6bc579a88c2b729524a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kcalc-16.04.3.tar.xz">kcalc-16.04.3</a></td>
   <td align="right">81kB</td>
   <td><tt>40417856790dd1c220f26064f049a99fb9c93879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kcalcore-16.04.3.tar.xz">kcalcore-16.04.3</a></td>
   <td align="right">289kB</td>
   <td><tt>05df90e3d9776c58385eddb19093e89811a2b08f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kcalutils-16.04.3.tar.xz">kcalutils-16.04.3</a></td>
   <td align="right">68kB</td>
   <td><tt>32551d5f5bd72dec31b200bd70f59a137bebcc6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kcharselect-16.04.3.tar.xz">kcharselect-16.04.3</a></td>
   <td align="right">70kB</td>
   <td><tt>eacff5a319bbd10af864effbc1fa2bd9b74bc146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kcolorchooser-16.04.3.tar.xz">kcolorchooser-16.04.3</a></td>
   <td align="right">4kB</td>
   <td><tt>522b78e4d76c2a177c2a9c9f4e1cf405dc6810c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kcontacts-16.04.3.tar.xz">kcontacts-16.04.3</a></td>
   <td align="right">132kB</td>
   <td><tt>e9cd5d9a638240b5d09197e7cbe441abe0e5a4f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kcron-16.04.3.tar.xz">kcron-16.04.3</a></td>
   <td align="right">136kB</td>
   <td><tt>ef3c235406574f036da13ef4fe34ed0bd0c306f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-baseapps-16.04.3.tar.xz">kde-baseapps-16.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>587261ecb3ec1bc3cf5aeab61d3fdd2a42695601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdebugsettings-16.04.3.tar.xz">kdebugsettings-16.04.3</a></td>
   <td align="right">22kB</td>
   <td><tt>04b08e4b7a990b10278b59e3bf75059ab331c802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-dev-scripts-16.04.3.tar.xz">kde-dev-scripts-16.04.3</a></td>
   <td align="right">302kB</td>
   <td><tt>520db4c22f9930624647f7c5b6423273b44a78ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-dev-utils-16.04.3.tar.xz">kde-dev-utils-16.04.3</a></td>
   <td align="right">50kB</td>
   <td><tt>63a69e39d212602198269c6d5451305e89112ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdeedu-data-16.04.3.tar.xz">kdeedu-data-16.04.3</a></td>
   <td align="right">94kB</td>
   <td><tt>e0f6b8328b7d253c3094502fa39cb5ab67e007ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdegraphics-mobipocket-16.04.3.tar.xz">kdegraphics-mobipocket-16.04.3</a></td>
   <td align="right">14kB</td>
   <td><tt>780eb43a37bbc5857235194542780b9420ef3b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdegraphics-strigi-analyzer-16.04.3.tar.xz">kdegraphics-strigi-analyzer-16.04.3</a></td>
   <td align="right">39kB</td>
   <td><tt>b272e0ca6ee008b09f6e0f4ffccf5f4ee703adbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdegraphics-thumbnailers-16.04.3.tar.xz">kdegraphics-thumbnailers-16.04.3</a></td>
   <td align="right">40kB</td>
   <td><tt>73d68871e2e7e12fbb14fa9618e595f796b4cb81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdelibs-4.14.22.tar.xz">kdelibs-4.14.22</a></td>
   <td align="right">11MB</td>
   <td><tt>c60b3a996da53360892cf7f44cf432f783b73938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdenetwork-filesharing-16.04.3.tar.xz">kdenetwork-filesharing-16.04.3</a></td>
   <td align="right">27kB</td>
   <td><tt>d58df2ab20edeb75e2a8dad3d79eeffc2128633c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdenetwork-strigi-analyzers-16.04.3.tar.xz">kdenetwork-strigi-analyzers-16.04.3</a></td>
   <td align="right">14kB</td>
   <td><tt>912299e59167be5ef4a3b3eb7392ea49a82670e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdenlive-16.04.3.tar.xz">kdenlive-16.04.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>06dfce1d89c43ba29edc98d5e1ca91aa4b425612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdepim-16.04.3.tar.xz">kdepim-16.04.3</a></td>
   <td align="right">5.7MB</td>
   <td><tt>3c107ffa31de10c19ef479630d349708e85813d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdepim-addons-16.04.3.tar.xz">kdepim-addons-16.04.3</a></td>
   <td align="right">206kB</td>
   <td><tt>8e480d3b1449d0460d72c3a3cd358ef85eb6f2f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdepim-apps-libs-16.04.3.tar.xz">kdepim-apps-libs-16.04.3</a></td>
   <td align="right">59kB</td>
   <td><tt>090f9cf1c7dba103924718c6cf67c57769974914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdepimlibs-16.04.3.tar.xz">kdepimlibs-16.04.3</a></td>
   <td align="right">286kB</td>
   <td><tt>0dc5d140f65b22638c7d3ec86e5edc7a48fb81b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdepim-runtime-16.04.3.tar.xz">kdepim-runtime-16.04.3</a></td>
   <td align="right">686kB</td>
   <td><tt>9d257a70c1507b8021cea9091566210ebe028e3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-runtime-16.04.3.tar.xz">kde-runtime-16.04.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>1a760809058b78f51f25bf1e3f53e6bc5f277463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdesdk-kioslaves-16.04.3.tar.xz">kdesdk-kioslaves-16.04.3</a></td>
   <td align="right">352kB</td>
   <td><tt>bafb160f8e2a69ae2ed2c264176203e3b3e9e18d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdesdk-strigi-analyzers-16.04.3.tar.xz">kdesdk-strigi-analyzers-16.04.3</a></td>
   <td align="right">17kB</td>
   <td><tt>df8b9c89564d18c56885a75bb6fddf3dc02eb10b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdesdk-thumbnailers-16.04.3.tar.xz">kdesdk-thumbnailers-16.04.3</a></td>
   <td align="right">11kB</td>
   <td><tt>53d8d28ff13264e6c34b1e340fbcfb251162fc96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdewebdev-16.04.3.tar.xz">kdewebdev-16.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>287d4a8deb3cc277cd607ece82f7b1bec62f98d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdf-16.04.3.tar.xz">kdf-16.04.3</a></td>
   <td align="right">145kB</td>
   <td><tt>78ba8fde2b3f56b72c7c44103dc546f5ded4bf49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdgantt2-16.04.3.tar.xz">kdgantt2-16.04.3</a></td>
   <td align="right">43kB</td>
   <td><tt>a75af1f6edd01857b53b5b00c7a1980a9c02c54a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kdiamond-16.04.3.tar.xz">kdiamond-16.04.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>39e828872e5229e649203567635346da323c80ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kfloppy-16.04.3.tar.xz">kfloppy-16.04.3</a></td>
   <td align="right">52kB</td>
   <td><tt>1a3562ab7e43516f87b7a1f1d913ae9aa2840b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kfourinline-16.04.3.tar.xz">kfourinline-16.04.3</a></td>
   <td align="right">274kB</td>
   <td><tt>96ca3de2caa2995ea6c8822cdb60792a786001ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kgeography-16.04.3.tar.xz">kgeography-16.04.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>cc108b0993b0f830aef4a001b63a5391b3ff1fef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kget-16.04.3.tar.xz">kget-16.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d150b7a5c924938824e4b59e8ca638d0f19f4d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kgoldrunner-16.04.3.tar.xz">kgoldrunner-16.04.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9c74048be71a1665b4b91e8219985d3d11e4828e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kgpg-16.04.3.tar.xz">kgpg-16.04.3</a></td>
   <td align="right">790kB</td>
   <td><tt>56b1a4e9de84bacd1d695b7201fbc075aacf7670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/khangman-16.04.3.tar.xz">khangman-16.04.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>685b32469b791ea1d1acad132d7c96d5144fdabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/khelpcenter-16.04.3.tar.xz">khelpcenter-16.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>98edcf091ba904f84abc75cebedaa3f938f9a011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kholidays-16.04.3.tar.xz">kholidays-16.04.3</a></td>
   <td align="right">171kB</td>
   <td><tt>2b3d88dad3554c4b0676250e0cff32c6806995b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kidentitymanagement-16.04.3.tar.xz">kidentitymanagement-16.04.3</a></td>
   <td align="right">35kB</td>
   <td><tt>2bc2adb6015deb875e91a0559169b68ec4ec7d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kig-16.04.3.tar.xz">kig-16.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5eeaecd05d26cd3f1499d64c991a964884d77ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kigo-16.04.3.tar.xz">kigo-16.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9534dc8655b7145605690657495a25ccafe8db96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/killbots-16.04.3.tar.xz">killbots-16.04.3</a></td>
   <td align="right">940kB</td>
   <td><tt>ab12d3fef554363c8a63f617f80d6461db789026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kimap-16.04.3.tar.xz">kimap-16.04.3</a></td>
   <td align="right">88kB</td>
   <td><tt>83fdcec73c0c33b5c9eb698d417123eb56342a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kio-extras-16.04.3.tar.xz">kio-extras-16.04.3</a></td>
   <td align="right">271kB</td>
   <td><tt>0af9d592323176a55e3ab8d382c2319841e1f8b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kiriki-16.04.3.tar.xz">kiriki-16.04.3</a></td>
   <td align="right">117kB</td>
   <td><tt>944d43d8be9bfd93fdb595bc479e7480241a762b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kiten-16.04.3.tar.xz">kiten-16.04.3</a></td>
   <td align="right">11MB</td>
   <td><tt>ad9165212be1fdc3b7c1ac2eb1ab208f1b71bb4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kjumpingcube-16.04.3.tar.xz">kjumpingcube-16.04.3</a></td>
   <td align="right">161kB</td>
   <td><tt>5efb54ed7449baee390a8cda8560fbda2f47523c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kldap-16.04.3.tar.xz">kldap-16.04.3</a></td>
   <td align="right">52kB</td>
   <td><tt>50b37a59a93dcca1345b5346345a189d02b10d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kleopatra-16.04.3.tar.xz">kleopatra-16.04.3</a></td>
   <td align="right">695kB</td>
   <td><tt>d1312ead8d7515e37e2f8019a5e6d1fa0a176376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/klettres-16.04.3.tar.xz">klettres-16.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ab858332b8571a295f286306300435bc8df6c559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/klickety-16.04.3.tar.xz">klickety-16.04.3</a></td>
   <td align="right">804kB</td>
   <td><tt>a534dd172768e69fa6e32da78aa3c02fc1140c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/klines-16.04.3.tar.xz">klines-16.04.3</a></td>
   <td align="right">985kB</td>
   <td><tt>06e92ceff8a80b1d9c18e23d81d2e0424ca47034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmag-16.04.3.tar.xz">kmag-16.04.3</a></td>
   <td align="right">84kB</td>
   <td><tt>4935450f32b03ea5e9efa4de79825bf587c79abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmahjongg-16.04.3.tar.xz">kmahjongg-16.04.3</a></td>
   <td align="right">988kB</td>
   <td><tt>f84d61a82fc7f450c29433631c82a905527c7a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmailtransport-16.04.3.tar.xz">kmailtransport-16.04.3</a></td>
   <td align="right">63kB</td>
   <td><tt>1bfb86f6e61f1f8daa3e29d297a518f98461d066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmbox-16.04.3.tar.xz">kmbox-16.04.3</a></td>
   <td align="right">23kB</td>
   <td><tt>99beca1c546b8a9e848c6f2ed2de2a60b873048e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmime-16.04.3.tar.xz">kmime-16.04.3</a></td>
   <td align="right">119kB</td>
   <td><tt>80c258a27aaf20faabb92c748b28e756adc1a0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmines-16.04.3.tar.xz">kmines-16.04.3</a></td>
   <td align="right">609kB</td>
   <td><tt>53a77f59c84df4879d654bf982aeb8a4f2688eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmix-16.04.3.tar.xz">kmix-16.04.3</a></td>
   <td align="right">380kB</td>
   <td><tt>91f0aa8fab5b0ed7936b60fee1939f71087f588e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmousetool-16.04.3.tar.xz">kmousetool-16.04.3</a></td>
   <td align="right">34kB</td>
   <td><tt>8b04b66957b4efd1a310bdbf86ce5b950cd4eba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmouth-16.04.3.tar.xz">kmouth-16.04.3</a></td>
   <td align="right">270kB</td>
   <td><tt>8f68400a4852463d868ecac423d8ae905c8b164e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kmplot-16.04.3.tar.xz">kmplot-16.04.3</a></td>
   <td align="right">647kB</td>
   <td><tt>d4046b65174a3c474f661e53f623971068ae7f36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/knavalbattle-16.04.3.tar.xz">knavalbattle-16.04.3</a></td>
   <td align="right">889kB</td>
   <td><tt>f098740dd1e7575af876703e8aa0db53daf2d006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/knetwalk-16.04.3.tar.xz">knetwalk-16.04.3</a></td>
   <td align="right">764kB</td>
   <td><tt>98f16f9f056eb8b3582cd08f42a3886814eeb9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kolf-16.04.3.tar.xz">kolf-16.04.3</a></td>
   <td align="right">748kB</td>
   <td><tt>9412c66733786d71de48c78a48bcb582ec14a03d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kollision-16.04.3.tar.xz">kollision-16.04.3</a></td>
   <td align="right">204kB</td>
   <td><tt>e363d8fd4db52e3ad54171289d22b1faf324177b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kolourpaint-16.04.3.tar.xz">kolourpaint-16.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5c1258af38094356f3f9d20b0b851b65993e3cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kompare-16.04.3.tar.xz">kompare-16.04.3</a></td>
   <td align="right">336kB</td>
   <td><tt>ca2837df8e1d95965b0bce7f5c7617f63fad4a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/konquest-16.04.3.tar.xz">konquest-16.04.3</a></td>
   <td align="right">396kB</td>
   <td><tt>73ec0e04353e8094cde889e23095fc071577f869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/konsole-16.04.3.tar.xz">konsole-16.04.3</a></td>
   <td align="right">449kB</td>
   <td><tt>bc65641361c2f4d7fe0bba0109f96721c0c22a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kontactinterface-16.04.3.tar.xz">kontactinterface-16.04.3</a></td>
   <td align="right">24kB</td>
   <td><tt>d37c3ff283c54d3ca42bc38a3e99e5b5dcdbf2c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kopete-16.04.3.tar.xz">kopete-16.04.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5d0baec9ec35efc8f33322f90ef3d249eefe8a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kpat-16.04.3.tar.xz">kpat-16.04.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e83e3b7ca2211115bd32ec6b011d662975dc5fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kpimtextedit-16.04.3.tar.xz">kpimtextedit-16.04.3</a></td>
   <td align="right">76kB</td>
   <td><tt>e044bf13e3684767169bb82467aefd942f54baaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kppp-16.04.3.tar.xz">kppp-16.04.3</a></td>
   <td align="right">683kB</td>
   <td><tt>d3f62ae25dd5ad1227eeaa4a66fda832b1237869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kqtquickcharts-16.04.3.tar.xz">kqtquickcharts-16.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>2ae0592c60feb61cedeaad3b893a8fd63089c744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/krdc-16.04.3.tar.xz">krdc-16.04.3</a></td>
   <td align="right">388kB</td>
   <td><tt>3de9706ab026376b5f84716a9500da15187953a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kremotecontrol-16.04.3.tar.xz">kremotecontrol-16.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7574eafb3aaae80acfe44b27aa1e549432ae32c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kreversi-16.04.3.tar.xz">kreversi-16.04.3</a></td>
   <td align="right">464kB</td>
   <td><tt>bba8da3770c216ddbbf835a58b230044340f4ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/krfb-16.04.3.tar.xz">krfb-16.04.3</a></td>
   <td align="right">317kB</td>
   <td><tt>d4505b90109313278927f35205f82fd9669579c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kross-interpreters-16.04.3.tar.xz">kross-interpreters-16.04.3</a></td>
   <td align="right">129kB</td>
   <td><tt>c5400a3659d606731e2bedceadf14ede72e7a21d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kruler-16.04.3.tar.xz">kruler-16.04.3</a></td>
   <td align="right">120kB</td>
   <td><tt>620b3dc62bdb91cd109516f8d52b4acf5e2f7d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ksaneplugin-16.04.3.tar.xz">ksaneplugin-16.04.3</a></td>
   <td align="right">12kB</td>
   <td><tt>d220f86a3ff4357d4590cab93cb897a99fa95545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kscd-16.04.3.tar.xz">kscd-16.04.3</a></td>
   <td align="right">90kB</td>
   <td><tt>d5b15ab562e56924f41114ce5440dcd47b5a54eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kshisen-16.04.3.tar.xz">kshisen-16.04.3</a></td>
   <td align="right">135kB</td>
   <td><tt>45e33ef966a8b5ed25d3cb72e9341ea595f9e763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ksirk-16.04.3.tar.xz">ksirk-16.04.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>72e926ac19a15f28c7fa72b32058b421380f66eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ksnakeduel-16.04.3.tar.xz">ksnakeduel-16.04.3</a></td>
   <td align="right">290kB</td>
   <td><tt>58831da2a4479ee01a9e33c92db7fb3326fe5e91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kspaceduel-16.04.3.tar.xz">kspaceduel-16.04.3</a></td>
   <td align="right">247kB</td>
   <td><tt>2a76c78a70910eb200dad6a922bb852b81c2c538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ksquares-16.04.3.tar.xz">ksquares-16.04.3</a></td>
   <td align="right">78kB</td>
   <td><tt>2526243c44d3cd63319a90b07a6e941e8c602403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kstars-16.04.3.tar.xz">kstars-16.04.3</a></td>
   <td align="right">16MB</td>
   <td><tt>4a705a12abfc71a9e5b313aea455957ad4064d6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ksudoku-16.04.3.tar.xz">ksudoku-16.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7a7d1af2db744cc6b512bb614ee0ab9d8851ff9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ksystemlog-16.04.3.tar.xz">ksystemlog-16.04.3</a></td>
   <td align="right">386kB</td>
   <td><tt>6de7a90025a18f15a3282cab09f5547a46aa08d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kteatime-16.04.3.tar.xz">kteatime-16.04.3</a></td>
   <td align="right">102kB</td>
   <td><tt>5b8dea556438cc9f8eaf8c82f2624084b7f182e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktimer-16.04.3.tar.xz">ktimer-16.04.3</a></td>
   <td align="right">157kB</td>
   <td><tt>cedfd0a07eea984cd8a296dfbc49d7628c670713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktnef-16.04.3.tar.xz">ktnef-16.04.3</a></td>
   <td align="right">227kB</td>
   <td><tt>a5b01918e2f40fea29f8a14ba270c085ad1ead2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktouch-16.04.3.tar.xz">ktouch-16.04.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a783ffe76042be3b588e114292bc119599c246a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-accounts-kcm-16.04.3.tar.xz">ktp-accounts-kcm-16.04.3</a></td>
   <td align="right">86kB</td>
   <td><tt>1d533a068e8ca4d045404ede4e13aae4cb4ad199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-approver-16.04.3.tar.xz">ktp-approver-16.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>349320108a42b7937b9060dbb18c6e402354ebb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-auth-handler-16.04.3.tar.xz">ktp-auth-handler-16.04.3</a></td>
   <td align="right">25kB</td>
   <td><tt>da8ca5e3c3dcf738e457c52380339fc19acf9561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-call-ui-16.04.3.tar.xz">ktp-call-ui-16.04.3</a></td>
   <td align="right">44kB</td>
   <td><tt>97e0aa57a797594c995e4c7f3c079761c65b9aca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-common-internals-16.04.3.tar.xz">ktp-common-internals-16.04.3</a></td>
   <td align="right">308kB</td>
   <td><tt>8fad8b5dd0d74933de5c05113aa0536106ae1da0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-contact-list-16.04.3.tar.xz">ktp-contact-list-16.04.3</a></td>
   <td align="right">47kB</td>
   <td><tt>b85089b8b6137e4aae2b3ad266a3e05ca3050774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-contact-runner-16.04.3.tar.xz">ktp-contact-runner-16.04.3</a></td>
   <td align="right">16kB</td>
   <td><tt>5c91ba3fe8d12b2c77d583e2a1b71c21b7e0cb23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-desktop-applets-16.04.3.tar.xz">ktp-desktop-applets-16.04.3</a></td>
   <td align="right">25kB</td>
   <td><tt>72979e6a4794ff3943fa0ae473f508cf21cb2cb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-filetransfer-handler-16.04.3.tar.xz">ktp-filetransfer-handler-16.04.3</a></td>
   <td align="right">22kB</td>
   <td><tt>277cb57b7523b8248417f2cc817dfba4416e5751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-kded-module-16.04.3.tar.xz">ktp-kded-module-16.04.3</a></td>
   <td align="right">37kB</td>
   <td><tt>455b0992167e32edfa63c628ec793cf92f2dd6b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-send-file-16.04.3.tar.xz">ktp-send-file-16.04.3</a></td>
   <td align="right">14kB</td>
   <td><tt>8b9355ab32540b435d9e8617dcb0820f4bd11b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktp-text-ui-16.04.3.tar.xz">ktp-text-ui-16.04.3</a></td>
   <td align="right">287kB</td>
   <td><tt>b63b2a6bdaab688235465d016fded673b3c2f528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/ktuberling-16.04.3.tar.xz">ktuberling-16.04.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>99129cb70922ac6f2e0f11df01e935774cac78c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kturtle-16.04.3.tar.xz">kturtle-16.04.3</a></td>
   <td align="right">189kB</td>
   <td><tt>81bc34b89346e49c82799c79836f81f5d38e289f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kubrick-16.04.3.tar.xz">kubrick-16.04.3</a></td>
   <td align="right">104kB</td>
   <td><tt>43d50865c0d689ee525403b1741006407b492c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kuser-16.04.3.tar.xz">kuser-16.04.3</a></td>
   <td align="right">132kB</td>
   <td><tt>e8bb8624ce6067b713b7eb7b25f70f28283bca8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kwalletmanager-16.04.3.tar.xz">kwalletmanager-16.04.3</a></td>
   <td align="right">446kB</td>
   <td><tt>261e5ffc0a6c536d328f0cbccc2c70a39ed9c428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kwordquiz-16.04.3.tar.xz">kwordquiz-16.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>075514057d9862b150a5b58f941140d4b6d13081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libgravatar-16.04.3.tar.xz">libgravatar-16.04.3</a></td>
   <td align="right">10kB</td>
   <td><tt>0b97ff3eee4fe58ebff1f3c7dedcfef66a837d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkcddb-16.04.3.tar.xz">libkcddb-16.04.3</a></td>
   <td align="right">154kB</td>
   <td><tt>af5be372ea714ba5e0d57e35d3c9640e282c172a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkcompactdisc-16.04.3.tar.xz">libkcompactdisc-16.04.3</a></td>
   <td align="right">74kB</td>
   <td><tt>6007013fd7ca36325727d26abfa7a2f5bf609c76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkdcraw-16.04.3.tar.xz">libkdcraw-16.04.3</a></td>
   <td align="right">41kB</td>
   <td><tt>a2f6b14a90fdf1aff759109735ef402d8c2a977a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkdeedu-16.04.3.tar.xz">libkdeedu-16.04.3</a></td>
   <td align="right">128kB</td>
   <td><tt>daef5d1d639600b8f14cce262536564833d123c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkdegames-16.04.3.tar.xz">libkdegames-16.04.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>3c175cd51db2251aca5515ad8055d4d0098991b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkdepim-16.04.3.tar.xz">libkdepim-16.04.3</a></td>
   <td align="right">101kB</td>
   <td><tt>fbb84b5c0bf9eceb0f142b6b1785f92b649edddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkeduvocdocument-16.04.3.tar.xz">libkeduvocdocument-16.04.3</a></td>
   <td align="right">87kB</td>
   <td><tt>accf703b7bfa2aeadcc51de3274ecc0d0a189c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkexiv2-16.04.3.tar.xz">libkexiv2-16.04.3</a></td>
   <td align="right">63kB</td>
   <td><tt>267bd0a176ed6a6d95b6c2c03e1c95e81bdff95d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkface-16.04.3.tar.xz">libkface-16.04.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>4e24257c9e967519e01bb3a08f801d8fa7f23d0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkgeomap-16.04.3.tar.xz">libkgeomap-16.04.3</a></td>
   <td align="right">122kB</td>
   <td><tt>9280db3d3b584a84bc1f35774ad0c04451d2d040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkipi-16.04.3.tar.xz">libkipi-16.04.3</a></td>
   <td align="right">101kB</td>
   <td><tt>3108520b32ca7f687e87964fd830b1837466d2d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkleo-16.04.3.tar.xz">libkleo-16.04.3</a></td>
   <td align="right">127kB</td>
   <td><tt>b8505059d8b1fb35d65d0fd240a9c4539a9bfa14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkmahjongg-16.04.3.tar.xz">libkmahjongg-16.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9293887af9845d509b65b4b852ed74f8d4210534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libkomparediff2-16.04.3.tar.xz">libkomparediff2-16.04.3</a></td>
   <td align="right">55kB</td>
   <td><tt>55007b461faa75ed8d18937037c5abd300f55ba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libksane-16.04.3.tar.xz">libksane-16.04.3</a></td>
   <td align="right">79kB</td>
   <td><tt>132bcb1ef3ed684097d907a42ca7aed431ad1604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/libksieve-16.04.3.tar.xz">libksieve-16.04.3</a></td>
   <td align="right">136kB</td>
   <td><tt>b280da46d7deacf814da1b2d009fa41d603f850f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/lokalize-16.04.3.tar.xz">lokalize-16.04.3</a></td>
   <td align="right">934kB</td>
   <td><tt>0dc3b8dfcc7a71f4dadf0f9cae21d26c70c36aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/lskat-16.04.3.tar.xz">lskat-16.04.3</a></td>
   <td align="right">906kB</td>
   <td><tt>01d0054145e550b7905ca68887c68c2018763be1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/mailcommon-16.04.3.tar.xz">mailcommon-16.04.3</a></td>
   <td align="right">169kB</td>
   <td><tt>67461b87d5cc79e2b9a3a518df73fee149e98ebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/mailimporter-16.04.3.tar.xz">mailimporter-16.04.3</a></td>
   <td align="right">363kB</td>
   <td><tt>850147bae7c525809d82051eba415fcd46af9e47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/marble-16.04.3.tar.xz">marble-16.04.3</a></td>
   <td align="right">22MB</td>
   <td><tt>50d022853ccf127cbe98f3e66d83f922a931dc26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/messagelib-16.04.3.tar.xz">messagelib-16.04.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d3c27abcca89107da2dd9cfa891b47c6aec4993f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/minuet-16.04.3.tar.xz">minuet-16.04.3</a></td>
   <td align="right">499kB</td>
   <td><tt>2e277c7614663c1a29d4196cff8c3af9aca15f88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/mplayerthumbs-16.04.3.tar.xz">mplayerthumbs-16.04.3</a></td>
   <td align="right">26kB</td>
   <td><tt>488793ab4449b3b6405b10a58890bc37aa3b8557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/okteta-16.04.3.tar.xz">okteta-16.04.3</a></td>
   <td align="right">493kB</td>
   <td><tt>47e0a2b2f4609b8241965bf30657a1ffb35594b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/okular-16.04.3.tar.xz">okular-16.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7b2f2ef57d65231d369e6c0ba7b450b30e6aa94e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/palapeli-16.04.3.tar.xz">palapeli-16.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c96abe20b12807aeb2023795af162e6c5d004b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/parley-16.04.3.tar.xz">parley-16.04.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>32038fa7007662df1ac736546d9cc86ce58f4629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/picmi-16.04.3.tar.xz">picmi-16.04.3</a></td>
   <td align="right">717kB</td>
   <td><tt>8d3e8506d6ffaaf47436aa0950276ce3e2c44a84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/pimcommon-16.04.3.tar.xz">pimcommon-16.04.3</a></td>
   <td align="right">140kB</td>
   <td><tt>1c0beab52c66221d56ad2c827ce8580b5c45a013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/poxml-16.04.3.tar.xz">poxml-16.04.3</a></td>
   <td align="right">31kB</td>
   <td><tt>d7aea7a174c9eb53063071fe0ae722b956691963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/print-manager-16.04.3.tar.xz">print-manager-16.04.3</a></td>
   <td align="right">91kB</td>
   <td><tt>cbf7890dfcbb9339d8cec22723f48740ef320b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/rocs-16.04.3.tar.xz">rocs-16.04.3</a></td>
   <td align="right">521kB</td>
   <td><tt>468a5b41ca3f6241f3739333e1a855dd9f3238be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/signon-kwallet-extension-16.04.3.tar.xz">signon-kwallet-extension-16.04.3</a></td>
   <td align="right">10kB</td>
   <td><tt>b6ac9b4a82d44853c5f8f1c26a0d3f305e2281e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/spectacle-16.04.3.tar.xz">spectacle-16.04.3</a></td>
   <td align="right">973kB</td>
   <td><tt>3f153c9428fb56d0efcdeefbc5c5257e96cca8d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/step-16.04.3.tar.xz">step-16.04.3</a></td>
   <td align="right">379kB</td>
   <td><tt>210978e4c75b0a1e3b381a8d684962b639757516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/svgpart-16.04.3.tar.xz">svgpart-16.04.3</a></td>
   <td align="right">8kB</td>
   <td><tt>cd50664f0bd5c45e6ebdc50b39313190ff89b82f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/sweeper-16.04.3.tar.xz">sweeper-16.04.3</a></td>
   <td align="right">80kB</td>
   <td><tt>52fa9ec07b47744885bc0a97b5420722417faa1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/syndication-16.04.3.tar.xz">syndication-16.04.3</a></td>
   <td align="right">156kB</td>
   <td><tt>02abfba4d545d204237dea4e46c012d54ada2a47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/umbrello-16.04.3.tar.xz">umbrello-16.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5cf95b6e0b1c0d3a2ccec205fcc23a43f863f20a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/zeroconf-ioslave-16.04.3.tar.xz">zeroconf-ioslave-16.04.3</a></td>
   <td align="right">25kB</td>
   <td><tt>678805f86e5a15fcb6063fa23b262a4e4607e0e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ar-16.04.3.tar.xz">kde-l10n-ar-16.04.3</a></td>
   <td align="right">3.2MB</td>
   <td><tt>bc93d097690ff0a185987eae45e655c68ca5b6a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ast-16.04.3.tar.xz">kde-l10n-ast-16.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>19d4c6ebb21976e199573fc0a8c3548e18c9b43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-bg-16.04.3.tar.xz">kde-l10n-bg-16.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>347f934849bd361aaf30407627a0e138be862348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-bs-16.04.3.tar.xz">kde-l10n-bs-16.04.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>19eb1c44fede054ddbb9f32c920862a3f0c112d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ca-16.04.3.tar.xz">kde-l10n-ca-16.04.3</a></td>
   <td align="right">11MB</td>
   <td><tt>39a095de077b83a9bce9676c2c9cb6e7e084107d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ca@valencia-16.04.3.tar.xz">kde-l10n-ca@valencia-16.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>cdb06475c737316ed80d25719f55a8518995b62b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-cs-16.04.3.tar.xz">kde-l10n-cs-16.04.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>6795a0b1448ad1a2b6cee6eb74dcaa00e932f72a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-da-16.04.3.tar.xz">kde-l10n-da-16.04.3</a></td>
   <td align="right">12MB</td>
   <td><tt>eb252c04a987faea89e06b9fb975e4c62053bf7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-de-16.04.3.tar.xz">kde-l10n-de-16.04.3</a></td>
   <td align="right">33MB</td>
   <td><tt>edc25c227bd6df1117d60d94c5e70fbf4a36585c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-el-16.04.3.tar.xz">kde-l10n-el-16.04.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>911631016f8ec0e58d3049b3853fad7d0ad8dfbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-en_GB-16.04.3.tar.xz">kde-l10n-en_GB-16.04.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c1c0b810ebad1bf7597e8f3cbaa417f97a3fcc6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-eo-16.04.3.tar.xz">kde-l10n-eo-16.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ca0ce161ad2e1375097579a3b697ccf623df9185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-es-16.04.3.tar.xz">kde-l10n-es-16.04.3</a></td>
   <td align="right">20MB</td>
   <td><tt>3c3b35b3914e8780285ab3a094bea6035f0bbce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-et-16.04.3.tar.xz">kde-l10n-et-16.04.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>ebaa3e3ca1b930f608f9643a57d4edf83a7fe2cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-eu-16.04.3.tar.xz">kde-l10n-eu-16.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>623dd4547d239cb8cd084fbe0f33c91ca8782ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-fa-16.04.3.tar.xz">kde-l10n-fa-16.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3cc36b8a44a5b73cff85a0adfcf59f34bd540c4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-fi-16.04.3.tar.xz">kde-l10n-fi-16.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9ad5fd8ff5d7bc09f70e3811f02f1c597d9f08f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-fr-16.04.3.tar.xz">kde-l10n-fr-16.04.3</a></td>
   <td align="right">45MB</td>
   <td><tt>46e59641fe36520f57db84332c0fed6ea1cc762f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ga-16.04.3.tar.xz">kde-l10n-ga-16.04.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c9b9c98cfe42020a516eb8f5919750c8cc46e7d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-gl-16.04.3.tar.xz">kde-l10n-gl-16.04.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>64d54e8df9e5cc783a8abaae33146211a9c690e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-he-16.04.3.tar.xz">kde-l10n-he-16.04.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>973787c7abcbbc35ef0de53e08b02b0b31c72434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-hi-16.04.3.tar.xz">kde-l10n-hi-16.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e5dd524bf75b260b0ba04adfe309d08d86126b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-hr-16.04.3.tar.xz">kde-l10n-hr-16.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3081536bdea12bddcc791b3875437d9075d5f193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-hu-16.04.3.tar.xz">kde-l10n-hu-16.04.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>60866b3947b2b489159c0350583cf35ddb1b6431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ia-16.04.3.tar.xz">kde-l10n-ia-16.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9141f7ffff6a94861784ae4f1d7f888312907068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-id-16.04.3.tar.xz">kde-l10n-id-16.04.3</a></td>
   <td align="right">547kB</td>
   <td><tt>fbe322bfc87fd63dbd30edd5e2e5a73b81223446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-is-16.04.3.tar.xz">kde-l10n-is-16.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1d5dec9884b7d710f68c24c5ca200d7d496ed66c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-it-16.04.3.tar.xz">kde-l10n-it-16.04.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>ee4e0b05b06612d4cb8606e708105a526988aba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ja-16.04.3.tar.xz">kde-l10n-ja-16.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ebe0414b3546effb90a7eb63eda65cb23c7af2b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-kk-16.04.3.tar.xz">kde-l10n-kk-16.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>833a5ef0ed57d6f2bc884fc12144d697e4032c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-km-16.04.3.tar.xz">kde-l10n-km-16.04.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>cec496ec325677a57e35d3576729f54e66435a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ko-16.04.3.tar.xz">kde-l10n-ko-16.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ca85fb3c1587066f169542a0096948b30b34faf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-lt-16.04.3.tar.xz">kde-l10n-lt-16.04.3</a></td>
   <td align="right">12MB</td>
   <td><tt>097b77c6b2dc89fc9c758ffb1fe3801a975f0a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-lv-16.04.3.tar.xz">kde-l10n-lv-16.04.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>fabb6136df3dbf988d748d1f4e2dae35174283ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-mr-16.04.3.tar.xz">kde-l10n-mr-16.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>35a8673fea02b1b02c7285a11b06706b945e4706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-nb-16.04.3.tar.xz">kde-l10n-nb-16.04.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>260977a58a7e885da84755678f49442f001533a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-nds-16.04.3.tar.xz">kde-l10n-nds-16.04.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>7df671a25b9beabca71643ad37d9312b5da59e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-nl-16.04.3.tar.xz">kde-l10n-nl-16.04.3</a></td>
   <td align="right">13MB</td>
   <td><tt>e60f9d3615ee199bc06c5b585fe7cf5ad82d56e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-nn-16.04.3.tar.xz">kde-l10n-nn-16.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>68d2e1a3b45adef35003615daa5286427f673918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-pa-16.04.3.tar.xz">kde-l10n-pa-16.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a22fa17f77e2191dfb9518280c86a23e84afe0e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-pl-16.04.3.tar.xz">kde-l10n-pl-16.04.3</a></td>
   <td align="right">18MB</td>
   <td><tt>49c576120d30badc05db6e47ad7d88c20534c6c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-pt-16.04.3.tar.xz">kde-l10n-pt-16.04.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>3dd8a38adbc23c989a9ece2e4e8b7fa52a027fbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-pt_BR-16.04.3.tar.xz">kde-l10n-pt_BR-16.04.3</a></td>
   <td align="right">20MB</td>
   <td><tt>616059559fa4aa274ead6e1ad515faa72cde8c63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ro-16.04.3.tar.xz">kde-l10n-ro-16.04.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>78660ab0174230c2f90fb3feca4d43d899fbd7a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ru-16.04.3.tar.xz">kde-l10n-ru-16.04.3</a></td>
   <td align="right">22MB</td>
   <td><tt>247e93815dc5fd9538a858310a7022d2599fe754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-sk-16.04.3.tar.xz">kde-l10n-sk-16.04.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>aca94e5712a0044dc14a508c429433117687cbcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-sl-16.04.3.tar.xz">kde-l10n-sl-16.04.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>a5f7fe8ca3b65a6634fdbeabe0fab2da48c2cfdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-sr-16.04.3.tar.xz">kde-l10n-sr-16.04.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>c36d1e0f72f5fd116ec4cacdfe74c00d69141181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-sv-16.04.3.tar.xz">kde-l10n-sv-16.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>0167382a0b76d850ac5490efe5b607fb51028e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-tr-16.04.3.tar.xz">kde-l10n-tr-16.04.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>94dd2bcfca6ce3feec4320591423850b0ef42380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-ug-16.04.3.tar.xz">kde-l10n-ug-16.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1f3be63ab14a1939e9d46e87afd1f52d15890abf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-uk-16.04.3.tar.xz">kde-l10n-uk-16.04.3</a></td>
   <td align="right">25MB</td>
   <td><tt>e13c4bedf49085858ce94f3b669469208945e00b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-wa-16.04.3.tar.xz">kde-l10n-wa-16.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>85c5fd5357b5165037a45b4472da742563093ee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-zh_CN-16.04.3.tar.xz">kde-l10n-zh_CN-16.04.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>fa6eecf098f4b8743918c8b78e1b9d68cb102940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.3/src/kde-l10n/kde-l10n-zh_TW-16.04.3.tar.xz">kde-l10n-zh_TW-16.04.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>4fd99abbd9345d5c51bdac169d16b8a0552935f9</tt></td>
</tr>

</table>
