<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/bluedevil-5.11.3.tar.xz">bluedevil-5.11.3</a></td>
   <td align="right">143kB</td>
   <td><tt>c369581a8fa38ff8885069fdb33d69eb21868fc909b3dd9a8067064dfe90f6e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/breeze-5.11.3.tar.xz">breeze-5.11.3</a></td>
   <td align="right">21MB</td>
   <td><tt>b35fad85367abef968da685f85407a3fd45c48b2366c10db4b000cee524590f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/breeze-grub-5.11.3.tar.xz">breeze-grub-5.11.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>74095af28d9ad77e0d82663f22596ef8ee173f4567726b67679bc099245030ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/breeze-gtk-5.11.3.tar.xz">breeze-gtk-5.11.3</a></td>
   <td align="right">207kB</td>
   <td><tt>eb15d2da9f43eb5261b87fe27bf08940394b3536244714652d22c36a58a53db9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/breeze-plymouth-5.11.3.tar.xz">breeze-plymouth-5.11.3</a></td>
   <td align="right">102kB</td>
   <td><tt>e6e853bfea64ed77d199232d248ab4995cace3bd16aa7b357dd031721e2ba686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/discover-5.11.3.tar.xz">discover-5.11.3</a></td>
   <td align="right">9.7MB</td>
   <td><tt>3d6e8d7c86dabc949afdcf40cdfa1b4111fd8daf8cc0cac569f657eba1e05bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/drkonqi-5.11.3.tar.xz">drkonqi-5.11.3</a></td>
   <td align="right">719kB</td>
   <td><tt>10acaab77de4a771c74f43901e523a00d78d665d20cf2ff9e76fa6f92d810399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kactivitymanagerd-5.11.3.tar.xz">kactivitymanagerd-5.11.3</a></td>
   <td align="right">82kB</td>
   <td><tt>180753a6a8d8b90583673cd511b7d380e437aca5cae20a7610283cb69ecbd7eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kde-cli-tools-5.11.3.tar.xz">kde-cli-tools-5.11.3</a></td>
   <td align="right">558kB</td>
   <td><tt>7133220cf68aea67ddca787103d1bd469386ee86a8ca177da51df4edb5830f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kdecoration-5.11.3.tar.xz">kdecoration-5.11.3</a></td>
   <td align="right">34kB</td>
   <td><tt>8ac80551aef006e405f9de0d85090d437d01716214fb08550d7c25b7d5156646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kde-gtk-config-5.11.3.tar.xz">kde-gtk-config-5.11.3</a></td>
   <td align="right">151kB</td>
   <td><tt>cea150a3c24c223aa10fd8f8ebf9af4199ccdff7541e55c0e4abb0ace1136026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kdeplasma-addons-5.11.3.tar.xz">kdeplasma-addons-5.11.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>01f2fcda7a69da07e4b32c2d1cec12523993a5c4e42cbb4e394bf4376ac9758f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kgamma5-5.11.3.tar.xz">kgamma5-5.11.3</a></td>
   <td align="right">59kB</td>
   <td><tt>26b1d957688a2c0826adb3ddb8f85af119db2e6d8ccccc05e534f84089cce8a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/khotkeys-5.11.3.tar.xz">khotkeys-5.11.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d7b96401f4a06ba272d2d068ad31e5e4f09bf657a8a0ddcbd05a7923b997d3af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kinfocenter-5.11.3.tar.xz">kinfocenter-5.11.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b6e865c839f4de6bdf9aff11185fcfca375fe5dc15c875fe41690744f3fce6c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kmenuedit-5.11.3.tar.xz">kmenuedit-5.11.3</a></td>
   <td align="right">636kB</td>
   <td><tt>46529906262e608412c2fdf9716811adbcabfeb525ff3572e9dcdb1e26057ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kscreen-5.11.3.tar.xz">kscreen-5.11.3</a></td>
   <td align="right">114kB</td>
   <td><tt>b799e53352ed56fbb53a70ea61056ba91b8e671bb379024a3f846b8637ce8c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kscreenlocker-5.11.3.tar.xz">kscreenlocker-5.11.3</a></td>
   <td align="right">115kB</td>
   <td><tt>5ba019d5d002511ec09deb941af1c38b1373b7eac418853f98badbffa7621d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/ksshaskpass-5.11.3.tar.xz">ksshaskpass-5.11.3</a></td>
   <td align="right">20kB</td>
   <td><tt>647c870b4c82e7db6d5e09b2e368ee3ab083e537fd3f8ce9458e32d3aeee42c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/ksysguard-5.11.3.tar.xz">ksysguard-5.11.3</a></td>
   <td align="right">477kB</td>
   <td><tt>69dfe19ff1347b92c59494c17dff32bc3eb3c146b9a86ec409b668555ba3659d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kwallet-pam-5.11.3.tar.xz">kwallet-pam-5.11.3</a></td>
   <td align="right">18kB</td>
   <td><tt>04a6785d0b1e9e716e0f0b8a4625b06a973820efe0551c2b526c6e09c715fa12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kwayland-integration-5.11.3.tar.xz">kwayland-integration-5.11.3</a></td>
   <td align="right">18kB</td>
   <td><tt>cefcc75a967228469bb72dd763655c94cc59ce067e01c0eff1fda25c30fcac48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kwin-5.11.3.tar.xz">kwin-5.11.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>94c66b90f93534068c7cf054e1853c49edee2d734c17a2286ff8d3236c3ffdf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/kwrited-5.11.3.tar.xz">kwrited-5.11.3</a></td>
   <td align="right">19kB</td>
   <td><tt>b1d4f8bbb56762f9b17b0c065d06c7f648dd68e3a3c084515a41470b95e9a362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/libkscreen-5.11.3.tar.xz">libkscreen-5.11.3</a></td>
   <td align="right">91kB</td>
   <td><tt>fc3b8a4ce747a08029e1a09e0ce77e685707a68699034c0b777d6b1b67a08b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/libksysguard-5.11.3.tar.xz">libksysguard-5.11.3</a></td>
   <td align="right">553kB</td>
   <td><tt>be7ea8f477b1da083b4a5a9812e3062300b48adea53aa79697d1b41fac686cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/milou-5.11.3.tar.xz">milou-5.11.3</a></td>
   <td align="right">55kB</td>
   <td><tt>6f24699c0591ac7f9d7f4324d6066ad2a16a6f7822a0842f2eebc1732371460a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/oxygen-5.11.3.tar.xz">oxygen-5.11.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>d76b3f5ce15808805a1b6762c01bf103ded56caf14a80750324d851b6dc3e37d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plasma-desktop-5.11.3.tar.xz">plasma-desktop-5.11.3</a></td>
   <td align="right">7.9MB</td>
   <td><tt>aa94b76cd4cf87100cf034386f1ead086027ef54113c7115198e87233fc2f5c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plasma-integration-5.11.3.tar.xz">plasma-integration-5.11.3</a></td>
   <td align="right">51kB</td>
   <td><tt>a1bf8e27a4b9d7a2e6323a35edd92654ce4a9a7eb4aed13e8eacfb706e2f1c2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plasma-nm-5.11.3.tar.xz">plasma-nm-5.11.3</a></td>
   <td align="right">678kB</td>
   <td><tt>f3ea1fe11684972588bf362a6c80230e2e6e60a06e4894728ef1dd51657914ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plasma-pa-5.11.3.tar.xz">plasma-pa-5.11.3</a></td>
   <td align="right">82kB</td>
   <td><tt>9427630bff958b77a6dc05810a6b683566b5a9991d71e8608b6daf5d2fa63c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plasma-sdk-5.11.3.tar.xz">plasma-sdk-5.11.3</a></td>
   <td align="right">243kB</td>
   <td><tt>dacf6cbfcb81725dd33901d6cca0e5baa87e6e687d04e7d6dee43f358410049e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plasma-tests-5.11.3.tar.xz">plasma-tests-5.11.3</a></td>
   <td align="right">1kB</td>
   <td><tt>637f2e4bfc0907f21d987745557c32ee24a5e1783a1070dcdcdcd7e18c898229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plasma-vault-5.11.3.tar.xz">plasma-vault-5.11.3</a></td>
   <td align="right">88kB</td>
   <td><tt>2a8a6e0dc5eb96ceff9424b19deb3e0d1e888d45a72e6ba81bf1dc4bc318c28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plasma-workspace-5.11.3.tar.xz">plasma-workspace-5.11.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5727270bf5ef01b42f89ee81a520c04efc74155c561f49eb1a1d3e905e1d766a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plasma-workspace-wallpapers-5.11.3.tar.xz">plasma-workspace-wallpapers-5.11.3</a></td>
   <td align="right">43MB</td>
   <td><tt>3483c7b4133526331117d5778f7dc5393a0af098e88fe984c6542eb3207c6ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/plymouth-kcm-5.11.3.tar.xz">plymouth-kcm-5.11.3</a></td>
   <td align="right">35kB</td>
   <td><tt>0638236057a5c18587c067ab6784e7a46d04b32e283faafab78c0a40e2e67de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/polkit-kde-agent-1-5.11.3.tar.xz">polkit-kde-agent-1-5.11.3</a></td>
   <td align="right">40kB</td>
   <td><tt>f4ef70ee29b75976035e60b1c6b3b6fe2c1864ce9f59a01ac5bd46af8f810c21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/powerdevil-5.11.3.tar.xz">powerdevil-5.11.3</a></td>
   <td align="right">369kB</td>
   <td><tt>02597824102e47914854d02f7626dec80c0b43630751dbce8d9b08fcf7e807a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/sddm-kcm-5.11.3.tar.xz">sddm-kcm-5.11.3</a></td>
   <td align="right">58kB</td>
   <td><tt>45ed3312bdbe184e72752cfdcc99700c7c768e048ffdc50cb65ef91410aa2db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/systemsettings-5.11.3.tar.xz">systemsettings-5.11.3</a></td>
   <td align="right">165kB</td>
   <td><tt>c7512fdc714765d8e94dce7bb0dd0d310b92ab278c8e3245a6cdc15631507fa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/user-manager-5.11.3.tar.xz">user-manager-5.11.3</a></td>
   <td align="right">532kB</td>
   <td><tt>79b9ce11120f8c0a291a4a7807714e8191b750b00d9b98461599ef849b1d5134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.3/xdg-desktop-portal-kde-5.11.3.tar.xz">xdg-desktop-portal-kde-5.11.3</a></td>
   <td align="right">29kB</td>
   <td><tt>95bfb76a1be4bd7b903be5f41ffd6d1f464ab9fb6b6395536ac366df8ff24c06</tt></td>
</tr>

</table>
