<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdeaccessibility-4.3.3.tar.bz2">kdeaccessibility-4.3.3</a></td><td align="right">6,3MB</td><td><tt>1c1632f6bbfe47fbe4f57b4416475b4520ebc279</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdeadmin-4.3.3.tar.bz2">kdeadmin-4.3.3</a></td><td align="right">1,8MB</td><td><tt>90c630bb47a6001c07dfa225fb90d9f23ea0afea</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdeartwork-4.3.3.tar.bz2">kdeartwork-4.3.3</a></td><td align="right">63MB</td><td><tt>7265d60a339ea692ccb57483959579a71d7fdfc8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdebase-4.3.3.tar.bz2">kdebase-4.3.3</a></td><td align="right">4,1MB</td><td><tt>7459ea75312961b4802626edd22dc291370be329</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdebase-runtime-4.3.3.tar.bz2">kdebase-runtime-4.3.3</a></td><td align="right">7,0MB</td><td><tt>43f0b96cbb3c61523fbd283d11c2a5eedde0c9a2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdebase-workspace-4.3.3.tar.bz2">kdebase-workspace-4.3.3</a></td><td align="right">60MB</td><td><tt>2839e913cecef8ead0685bd50e9515ccd8bc0a9d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdebindings-4.3.3.tar.bz2">kdebindings-4.3.3</a></td><td align="right">4,7MB</td><td><tt>34ddcfd5d338962b8623b9dd9c2b850a621e4040</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdeedu-4.3.3.tar.bz2">kdeedu-4.3.3</a></td><td align="right">56MB</td><td><tt>fde1b8a7e548077f6327c940ec530db8565b5968</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdegames-4.3.3.tar.bz2">kdegames-4.3.3</a></td><td align="right">49MB</td><td><tt>7f8f84f934e7f8f5321297bbb87a0e656e5e7c17</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdegraphics-4.3.3.tar.bz2">kdegraphics-4.3.3</a></td><td align="right">3,5MB</td><td><tt>f3d3155a6edf4fbf39e4dc07d9a6a52965f3f344</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdelibs-4.3.3.tar.bz2">kdelibs-4.3.3</a></td><td align="right">11MB</td><td><tt>89b55982e007c44835a9da0f540dd57fa096df45</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdelibs-experimental-4.3.3.tar.bz2">kdelibs-experimental-4.3.3</a></td><td align="right">28KB</td><td><tt>68a98febc551a7d98a78798864ff85f556fda12b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdemultimedia-4.3.3.tar.bz2">kdemultimedia-4.3.3</a></td><td align="right">1,6MB</td><td><tt>d4215ebfa119faafd8d91abdfaea7575eceb9a79</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdenetwork-4.3.3.tar.bz2">kdenetwork-4.3.3</a></td><td align="right">7,1MB</td><td><tt>b842f0cfe629a597e74b367037d53d95215efc0c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdepim-4.3.3.tar.bz2">kdepim-4.3.3</a></td><td align="right">11MB</td><td><tt>8d467f7c652631c9955538e57ef846cdb5e8905c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdepimlibs-4.3.3.tar.bz2">kdepimlibs-4.3.3</a></td><td align="right">1,7MB</td><td><tt>a380ec7707433c814d3a196b9bebebd2363ed2e2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdepim-runtime-4.3.3.tar.bz2">kdepim-runtime-4.3.3</a></td><td align="right">728KB</td><td><tt>2c13726ffc64a6975b774af4262914bcc7ad1e66</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdeplasma-addons-4.3.3.tar.bz2">kdeplasma-addons-4.3.3</a></td><td align="right">1,4MB</td><td><tt>c474a193c951fbcb2566d0da1167214b88412ff2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdesdk-4.3.3.tar.bz2">kdesdk-4.3.3</a></td><td align="right">5,4MB</td><td><tt>3b582863935d924854989d541c148387c7f52eba</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdetoys-4.3.3.tar.bz2">kdetoys-4.3.3</a></td><td align="right">1,3MB</td><td><tt>69dc19179b1dfb805d5843c612f5f763dca33696</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdeutils-4.3.3.tar.bz2">kdeutils-4.3.3</a></td><td align="right">2,5MB</td><td><tt>af3bd5c91020ae4fcd27b799eecf06aa161b48b4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/kdewebdev-4.3.3.tar.bz2">kdewebdev-4.3.3</a></td><td align="right">2,5MB</td><td><tt>f84f412a9eabb690c4005e2527f73002e2bbd5fb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.3/src/oxygen-icons-4.3.3.tar.bz2">oxygen-icons-4.3.3</a></td><td align="right">119MB</td><td><tt>a897e02c2b37fa4c6c7146ea7773f56060d4465a</tt></td></tr>
</table>
