<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/bluedevil-5.9.95.tar.xz">bluedevil-5.9.95</a></td>
   <td align="right">141kB</td>
   <td><tt>2700f216c97e732655192e015466191c2aa4d3514905a8e19f62f10b3a82a0f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/breeze-5.9.95.tar.xz">breeze-5.9.95</a></td>
   <td align="right">16MB</td>
   <td><tt>2011d35a6d756aa01c7cdb1bcb8f779f0e7c014c9deb4d2d96e19e72f4b28ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/breeze-grub-5.9.95.tar.xz">breeze-grub-5.9.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e9b733ed65857d70f7c6abc789780e8b12209888d852a43d6ca7f71d42f03ab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/breeze-gtk-5.9.95.tar.xz">breeze-gtk-5.9.95</a></td>
   <td align="right">206kB</td>
   <td><tt>14ef0c09f2ab0fe5eb4504847b8addaac2ea09f47e0767aa73c2f6f6e80b832c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/breeze-plymouth-5.9.95.tar.xz">breeze-plymouth-5.9.95</a></td>
   <td align="right">102kB</td>
   <td><tt>a085bf425de00e304cdeba8cdc1f286ff13f5dc2f0a56eaf8af13279919d197c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/discover-5.9.95.tar.xz">discover-5.9.95</a></td>
   <td align="right">9.2MB</td>
   <td><tt>90d9899f48b6483c85768ae661d7fee6378fa400b3f36cdf8dddd916e25f583e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kactivitymanagerd-5.9.95.tar.xz">kactivitymanagerd-5.9.95</a></td>
   <td align="right">82kB</td>
   <td><tt>2c9bf9884e3fef924e76ea59aa38523067cb8ffadc8b80c1e4b610b01a31dced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kde-cli-tools-5.9.95.tar.xz">kde-cli-tools-5.9.95</a></td>
   <td align="right">491kB</td>
   <td><tt>0c3eacf826c5fc6e6ca694a29b62fd0fc2816a02a879d0332e5fc4e8ae649bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kdecoration-5.9.95.tar.xz">kdecoration-5.9.95</a></td>
   <td align="right">34kB</td>
   <td><tt>1da6826f73eefccc6fba83b0041f3fc65b61f4abec8bc26c717b7fc543665e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kde-gtk-config-5.9.95.tar.xz">kde-gtk-config-5.9.95</a></td>
   <td align="right">148kB</td>
   <td><tt>a235ede515617a766f59def8dac75420faac702c354efd028db961b4ec3795d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kdeplasma-addons-5.9.95.tar.xz">kdeplasma-addons-5.9.95</a></td>
   <td align="right">1.4MB</td>
   <td><tt>dbcb6fe7b6548705044858a061e88032de4d10278663aeb7c6c10ad1da4e2797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kgamma5-5.9.95.tar.xz">kgamma5-5.9.95</a></td>
   <td align="right">58kB</td>
   <td><tt>52bb9e08a9a5211fd470a324d533f2aff27059fff55aa9b5c51ab814b4e73f8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/khotkeys-5.9.95.tar.xz">khotkeys-5.9.95</a></td>
   <td align="right">682kB</td>
   <td><tt>3073af7834a3c6bc59958818e581f55d16d93369db213e107b711e4a19f5944b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kinfocenter-5.9.95.tar.xz">kinfocenter-5.9.95</a></td>
   <td align="right">1.2MB</td>
   <td><tt>324ae3935cd672ca12c531204b690fad55bf29f661ea79e570e7da3d95699205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kmenuedit-5.9.95.tar.xz">kmenuedit-5.9.95</a></td>
   <td align="right">640kB</td>
   <td><tt>0e9da0bdebc5899709162a60b686efb01787b4766ab935a34c431030fb1217b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kscreen-5.9.95.tar.xz">kscreen-5.9.95</a></td>
   <td align="right">112kB</td>
   <td><tt>c6084083f1a76153a1ac7424b9c661feed4cd7e6fa045b8eb5c1290b332879cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kscreenlocker-5.9.95.tar.xz">kscreenlocker-5.9.95</a></td>
   <td align="right">107kB</td>
   <td><tt>05876e1874d072e34f3c52e06efa6e74774314363287e6080ae37582d1de80fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/ksshaskpass-5.9.95.tar.xz">ksshaskpass-5.9.95</a></td>
   <td align="right">19kB</td>
   <td><tt>baf7d99b96a847825ed7c67d9a9fe200613ed2461638f0a4f3b35f72376a95c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/ksysguard-5.9.95.tar.xz">ksysguard-5.9.95</a></td>
   <td align="right">479kB</td>
   <td><tt>2c0ecab75b8e7986630e45d629190621779beefc112492f70c4269ae88e36436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kwallet-pam-5.9.95.tar.xz">kwallet-pam-5.9.95</a></td>
   <td align="right">17kB</td>
   <td><tt>cfa598ab819d872aa9534c62dc80101c9742adaee1a237e8af9ec58377d63640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kwayland-integration-5.9.95.tar.xz">kwayland-integration-5.9.95</a></td>
   <td align="right">18kB</td>
   <td><tt>4d023f42f70c383a87e6df14af2ae50c9b960570a25bc769c3d01683880cf25e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kwin-5.9.95.tar.xz">kwin-5.9.95</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a655bf60e2c1cb914d19fb6640082422cc589c074b9045f197974da22ee03555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/kwrited-5.9.95.tar.xz">kwrited-5.9.95</a></td>
   <td align="right">19kB</td>
   <td><tt>cef9675dfd5d708729f85a7bcde24065a76ee5babbf783edd10cb1178195ea0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/libkscreen-5.9.95.tar.xz">libkscreen-5.9.95</a></td>
   <td align="right">91kB</td>
   <td><tt>498bc7b3e84a3293219f8980e9baad218a3ea05bb234dfbbe30511e0438ae52e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/libksysguard-5.9.95.tar.xz">libksysguard-5.9.95</a></td>
   <td align="right">550kB</td>
   <td><tt>a054ba464d082e48d246837257538709e69cf11accdae7f3e559a52f177c40b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/milou-5.9.95.tar.xz">milou-5.9.95</a></td>
   <td align="right">54kB</td>
   <td><tt>b6cf9f8fb58e4e6a77da7f272466f11524605be268aed442d328ef07f6a528cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/oxygen-5.9.95.tar.xz">oxygen-5.9.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6eb9e0b70c0f79294734e8d4d04e914d7ff458553462e9ae76b529b60c1d5d24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/plasma-desktop-5.9.95.tar.xz">plasma-desktop-5.9.95</a></td>
   <td align="right">5.8MB</td>
   <td><tt>e20bea00b6b1267109e08247528f07336e32ebd3b9173d56eec7ec726bc474e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/plasma-integration-5.9.95.tar.xz">plasma-integration-5.9.95</a></td>
   <td align="right">50kB</td>
   <td><tt>b744ae1eb48ae14250fe168a4b4c5d70d6cdd82b8dce2b2ed0c21b20b01eaa40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/plasma-nm-5.9.95.tar.xz">plasma-nm-5.9.95</a></td>
   <td align="right">670kB</td>
   <td><tt>5894ae38b5250b554ce7df16d97a19a3f3812a140a5ac6453181c7d1b5411101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/plasma-pa-5.9.95.tar.xz">plasma-pa-5.9.95</a></td>
   <td align="right">76kB</td>
   <td><tt>0f70465e430f123bb97a009114eaffe31dbbd21bd29d5734a00dedf05ca16009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/plasma-sdk-5.9.95.tar.xz">plasma-sdk-5.9.95</a></td>
   <td align="right">709kB</td>
   <td><tt>3cfd49421d18f91717fbba02fa1e4825ebffb763eecb06ba5b1454441a086260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/plasma-tests-5.9.95.tar.xz">plasma-tests-5.9.95</a></td>
   <td align="right">1kB</td>
   <td><tt>c365616c89d2b49b6a3d9f0a34704c671af439b568e13c24cd031ba965540f3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/plasma-workspace-5.9.95.tar.xz">plasma-workspace-5.9.95</a></td>
   <td align="right">6.6MB</td>
   <td><tt>2bcbe4c6e984f56ec837f83d7805b7a6e96028cdfc843e31108738345e711274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/plasma-workspace-wallpapers-5.9.95.tar.xz">plasma-workspace-wallpapers-5.9.95</a></td>
   <td align="right">43MB</td>
   <td><tt>73d72a5f2a6adfa772edc4bff3f1a91aaf0353b024c33d2ace840f90b4d16bd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/plymouth-kcm-5.9.95.tar.xz">plymouth-kcm-5.9.95</a></td>
   <td align="right">30kB</td>
   <td><tt>36311a26d3f8beb6850ec8864784caaba1fcd92d2d924c027a6658dec1dd4f3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/polkit-kde-agent-1-5.9.95.tar.xz">polkit-kde-agent-1-5.9.95</a></td>
   <td align="right">40kB</td>
   <td><tt>ab6a4e9f5bd805f25d8c41fac8b2843da264c8841efe0510339fd4b10df89ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/powerdevil-5.9.95.tar.xz">powerdevil-5.9.95</a></td>
   <td align="right">352kB</td>
   <td><tt>9512cf809e6ebd461199736dc96f43da52a057498ef743006e3519f3fcc5fef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/sddm-kcm-5.9.95.tar.xz">sddm-kcm-5.9.95</a></td>
   <td align="right">56kB</td>
   <td><tt>296c097c1cd50c91490fd96162566cf9a994bdb1d9aa7af294ab87de7c344d9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/systemsettings-5.9.95.tar.xz">systemsettings-5.9.95</a></td>
   <td align="right">154kB</td>
   <td><tt>5696fc3e7a1b3ca6c40db53ed04a741be55610432fc6e7fdf751e3587bfa9a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/user-manager-5.9.95.tar.xz">user-manager-5.9.95</a></td>
   <td align="right">531kB</td>
   <td><tt>b0d07e83bd111433dd3de57ba40ab42256dcfb2b6cd35333bcaba5035c97124c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.9.95/xdg-desktop-portal-kde-5.9.95.tar.xz">xdg-desktop-portal-kde-5.9.95</a></td>
   <td align="right">24kB</td>
   <td><tt>1370dabb6c07eeed5386cd1c6bdd1edc2a864fed82db8f77b5f4e9a285d8fc3d</tt></td>
</tr>

</table>
