<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Digest</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akonadi-19.08.0.tar.xz">akonadi-19.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>593f26b212286deac789ca0b8edf78a862d07e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akonadi-calendar-19.08.0.tar.xz">akonadi-calendar-19.08.0</a></td>
   <td align="right">325kB</td>
   <td><tt>d69442aa58dc98760bcdcf77e614f239fd0f85e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akonadi-calendar-tools-19.08.0.tar.xz">akonadi-calendar-tools-19.08.0</a></td>
   <td align="right">218kB</td>
   <td><tt>b7d997936ef26f381bd0e60988c50876966fe9fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akonadiconsole-19.08.0.tar.xz">akonadiconsole-19.08.0</a></td>
   <td align="right">189kB</td>
   <td><tt>bd0b0aefe1adafad3471443aa92b6db70a26a2f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akonadi-contacts-19.08.0.tar.xz">akonadi-contacts-19.08.0</a></td>
   <td align="right">376kB</td>
   <td><tt>a12d529dd544a75d555bd7e2412aec55e7a35f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akonadi-import-wizard-19.08.0.tar.xz">akonadi-import-wizard-19.08.0</a></td>
   <td align="right">428kB</td>
   <td><tt>ef143fe3ecf44e8e3dccd7a6fd4422f8227a767f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akonadi-mime-19.08.0.tar.xz">akonadi-mime-19.08.0</a></td>
   <td align="right">129kB</td>
   <td><tt>ddb72db7050706e249c54e2993722f8566e80faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akonadi-notes-19.08.0.tar.xz">akonadi-notes-19.08.0</a></td>
   <td align="right">23kB</td>
   <td><tt>2d195af0223b0eda056113d3004baa5210a7cb1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akonadi-search-19.08.0.tar.xz">akonadi-search-19.08.0</a></td>
   <td align="right">80kB</td>
   <td><tt>a8c92e5df86539668ce7e434ef3208a95c847366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/akregator-19.08.0.tar.xz">akregator-19.08.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>79a9f6e216673518497fc6eb0a5c1ed73d08e1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/analitza-19.08.0.tar.xz">analitza-19.08.0</a></td>
   <td align="right">324kB</td>
   <td><tt>423a9882678a42361397334b1cb48f8c608b4ea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ark-19.08.0.tar.xz">ark-19.08.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>740c0211ab6d977f201df332adf7350a1ad09784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/artikulate-19.08.0.tar.xz">artikulate-19.08.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>0ff6209a3de8eb8f28628d39936151e0bc19dc8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/audiocd-kio-19.08.0.tar.xz">audiocd-kio-19.08.0</a></td>
   <td align="right">347kB</td>
   <td><tt>cddc4de3c1dbf8d79477fe63c6061fbfd3f7e10a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/baloo-widgets-19.08.0.tar.xz">baloo-widgets-19.08.0</a></td>
   <td align="right">255kB</td>
   <td><tt>999f99a3f9a7c7ce946b1c26fc708047263c3b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/blinken-19.08.0.tar.xz">blinken-19.08.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c68a88df9c990270830a463560319fe7d0e687cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/bomber-19.08.0.tar.xz">bomber-19.08.0</a></td>
   <td align="right">801kB</td>
   <td><tt>9a9be021fabf56a325deadc747fe3654cf1aecfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/bovo-19.08.0.tar.xz">bovo-19.08.0</a></td>
   <td align="right">194kB</td>
   <td><tt>ab67173e9bfbf2c431c5e76f21d7a54bbe36b1e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/calendarsupport-19.08.0.tar.xz">calendarsupport-19.08.0</a></td>
   <td align="right">631kB</td>
   <td><tt>bc3f4ca5219765fc6859059ece119eb698b171c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/cantor-19.08.0.tar.xz">cantor-19.08.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c62624b36e1e977c713be594f160705ecc564f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/cervisia-19.08.0.tar.xz">cervisia-19.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>17ceddf4f86c38b4a7aa2c0ae8366b6691465824</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/dolphin-19.08.0.tar.xz">dolphin-19.08.0</a></td>
   <td align="right">5.0MB</td>
   <td><tt>680f7e1133244125e5bf5cd32065c1249fa32617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/dolphin-plugins-19.08.0.tar.xz">dolphin-plugins-19.08.0</a></td>
   <td align="right">187kB</td>
   <td><tt>892e03193bae6e4d4742be62e13ab65b7a75f9d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/dragon-19.08.0.tar.xz">dragon-19.08.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>4d120cae68ba1aaf5fe3898ee9274c95871f2870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/eventviews-19.08.0.tar.xz">eventviews-19.08.0</a></td>
   <td align="right">432kB</td>
   <td><tt>09752a7a522fac3f32b61103d4b7dcf3d038404a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ffmpegthumbs-19.08.0.tar.xz">ffmpegthumbs-19.08.0</a></td>
   <td align="right">24kB</td>
   <td><tt>800a5a8e96a0f62abcbefc8316a02389fb17d7e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/filelight-19.08.0.tar.xz">filelight-19.08.0</a></td>
   <td align="right">645kB</td>
   <td><tt>fd6e89e5082267a7581c7d939a4daadc904e46e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/granatier-19.08.0.tar.xz">granatier-19.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>202eb1bd236a018212526bc36c6698756a8e3790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/grantlee-editor-19.08.0.tar.xz">grantlee-editor-19.08.0</a></td>
   <td align="right">108kB</td>
   <td><tt>9ae7b323c509fa5bba5a75957f4245f6287115a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/grantleetheme-19.08.0.tar.xz">grantleetheme-19.08.0</a></td>
   <td align="right">50kB</td>
   <td><tt>2a5e9a5b8385fff8e63ec562ab8c166240a6deec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/gwenview-19.08.0.tar.xz">gwenview-19.08.0</a></td>
   <td align="right">5.4MB</td>
   <td><tt>5eb125f41a8297fdf6ac69bdb8c59c1718fe6d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/incidenceeditor-19.08.0.tar.xz">incidenceeditor-19.08.0</a></td>
   <td align="right">537kB</td>
   <td><tt>01c4b58f01ebeae6ea1db6c0ae4f794bdb549d20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/juk-19.08.0.tar.xz">juk-19.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>af1866317cfe00e51c033261a03bc9f4436e3f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/k3b-19.08.0.tar.xz">k3b-19.08.0</a></td>
   <td align="right">10MB</td>
   <td><tt>58ccefb3a8d1f5455c16fc779bdf193988e3f168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kaccounts-integration-19.08.0.tar.xz">kaccounts-integration-19.08.0</a></td>
   <td align="right">70kB</td>
   <td><tt>b874a475738c77290c60a1fe20657e025b06e292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kaccounts-providers-19.08.0.tar.xz">kaccounts-providers-19.08.0</a></td>
   <td align="right">31kB</td>
   <td><tt>0ab6efa902ff37ce998c4aa67f40608925c279ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kaddressbook-19.08.0.tar.xz">kaddressbook-19.08.0</a></td>
   <td align="right">463kB</td>
   <td><tt>d56acdeec5db166507d047495b2f99e6d2c0f193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kajongg-19.08.0.tar.xz">kajongg-19.08.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>8a9f835bc6634b6d423afed5714ecac0fcf0aefa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kalarm-19.08.0.tar.xz">kalarm-19.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4427688c85f843b08da97fa927f9019835f74740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kalarmcal-19.08.0.tar.xz">kalarmcal-19.08.0</a></td>
   <td align="right">559kB</td>
   <td><tt>eb1f2c8744a95028c566c07712695e63ade97e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kalgebra-19.08.0.tar.xz">kalgebra-19.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>30dd90a680a3ebc0201beaffe23d38335b21671f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kalzium-19.08.0.tar.xz">kalzium-19.08.0</a></td>
   <td align="right">25MB</td>
   <td><tt>21d597ab175aba6802cefcd09ed64978cd46bfa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kamera-19.08.0.tar.xz">kamera-19.08.0</a></td>
   <td align="right">97kB</td>
   <td><tt>0a538ca3140bb63bde5c5b92ab2a72d9d5fb39b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kamoso-19.08.0.tar.xz">kamoso-19.08.0</a></td>
   <td align="right">196kB</td>
   <td><tt>9c7944673566286656376e831dc041ad8a1e6cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kanagram-19.08.0.tar.xz">kanagram-19.08.0</a></td>
   <td align="right">7.6MB</td>
   <td><tt>3b0c9bc236938257780d4b8f4fd8ea1889c22c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kapman-19.08.0.tar.xz">kapman-19.08.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>88a5b283282a806ddb8023c1d2ed4363f1a1dae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kapptemplate-19.08.0.tar.xz">kapptemplate-19.08.0</a></td>
   <td align="right">309kB</td>
   <td><tt>82014171a80de6d414368314295c27357aba55ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kate-19.08.0.tar.xz">kate-19.08.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>308872eb33e01693662d35e93a1e4ffa33640f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/katomic-19.08.0.tar.xz">katomic-19.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7d822d8f6b654a128e2824c726674c349319f278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kbackup-19.08.0.tar.xz">kbackup-19.08.0</a></td>
   <td align="right">349kB</td>
   <td><tt>e84a3e3b488182c5ccb48c37cdb0dc767bd66804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kblackbox-19.08.0.tar.xz">kblackbox-19.08.0</a></td>
   <td align="right">433kB</td>
   <td><tt>024d2d4f9f5595f0358b259984f4515e2d7c8834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kblocks-19.08.0.tar.xz">kblocks-19.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9006fd479b96b6eab2111bd4b2cb7de282c5e66d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kblog-19.08.0.tar.xz">kblog-19.08.0</a></td>
   <td align="right">71kB</td>
   <td><tt>60458685ae016821dd781c5eed359d521d82ffc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kbounce-19.08.0.tar.xz">kbounce-19.08.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>e43dd2873a8f76642745a3ceea76f6a017ec1b4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kbreakout-19.08.0.tar.xz">kbreakout-19.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>994a81567c49fe9193005869d94353e3e53c6d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kbruch-19.08.0.tar.xz">kbruch-19.08.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>f2e279b3b9cfe2cfe6eb7ca33dc3e8fd46d8d75e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kcachegrind-19.08.0.tar.xz">kcachegrind-19.08.0</a></td>
   <td align="right">789kB</td>
   <td><tt>35f2f9e9117ca96eb6130293159bf037b59b8b6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kcalc-19.08.0.tar.xz">kcalc-19.08.0</a></td>
   <td align="right">363kB</td>
   <td><tt>bf05f2351f8bc7af96a5d43e5d19e655b4e0214e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kcalcore-19.08.0.tar.xz">kcalcore-19.08.0</a></td>
   <td align="right">241kB</td>
   <td><tt>40b8a4af6964471b58101ad7e99f04c64815ea2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kcalutils-19.08.0.tar.xz">kcalutils-19.08.0</a></td>
   <td align="right">316kB</td>
   <td><tt>2fc2617c088c494d280b0c487e9ef1f66cc3433e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kcharselect-19.08.0.tar.xz">kcharselect-19.08.0</a></td>
   <td align="right">326kB</td>
   <td><tt>b79bfafc2180ac22fe281b40fa0903cbdc2d8ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kcolorchooser-19.08.0.tar.xz">kcolorchooser-19.08.0</a></td>
   <td align="right">20kB</td>
   <td><tt>c8eb18810fbf03be73df48cd907d080ef18e6525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kcontacts-19.08.0.tar.xz">kcontacts-19.08.0</a></td>
   <td align="right">534kB</td>
   <td><tt>3c4a0f71b1d7850e5476d8cfe972a0c8d65bf5dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kcron-19.08.0.tar.xz">kcron-19.08.0</a></td>
   <td align="right">867kB</td>
   <td><tt>63afa4f7bcc9b479b6889e579e0f11ad5942cfbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdav-19.08.0.tar.xz">kdav-19.08.0</a></td>
   <td align="right">48kB</td>
   <td><tt>4ba947c97eb46c81463be4880af67c7b4662ce83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdebugsettings-19.08.0.tar.xz">kdebugsettings-19.08.0</a></td>
   <td align="right">54kB</td>
   <td><tt>5e5feb29599238c0b7be11fd8f3692460527249d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kde-dev-scripts-19.08.0.tar.xz">kde-dev-scripts-19.08.0</a></td>
   <td align="right">369kB</td>
   <td><tt>21f4d3407249f7194fc93ff8ad141d95aab2b316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kde-dev-utils-19.08.0.tar.xz">kde-dev-utils-19.08.0</a></td>
   <td align="right">60kB</td>
   <td><tt>f1f57375f9280c2fec4443fc705b76be1bc9f1b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdeedu-data-19.08.0.tar.xz">kdeedu-data-19.08.0</a></td>
   <td align="right">319kB</td>
   <td><tt>1c7e3aa00ae37a0af8e8288aafa829dfdb008518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdegraphics-mobipocket-19.08.0.tar.xz">kdegraphics-mobipocket-19.08.0</a></td>
   <td align="right">13kB</td>
   <td><tt>5c689177101d38e6425dc13c3faf1afef541ca0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdegraphics-thumbnailers-19.08.0.tar.xz">kdegraphics-thumbnailers-19.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>5f6d89ce9a9fe86411935ba31ca33b715e9c2a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdenetwork-filesharing-19.08.0.tar.xz">kdenetwork-filesharing-19.08.0</a></td>
   <td align="right">308kB</td>
   <td><tt>87e615804c274485fb852899390aeaf2df477c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdenlive-19.08.0.tar.xz">kdenlive-19.08.0</a></td>
   <td align="right">11MB</td>
   <td><tt>1317e870ad4bbc4d2510f5e2d2573a53375661d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdepim-addons-19.08.0.tar.xz">kdepim-addons-19.08.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>99716aeff8aec46358422c56a76a8c68f6c6469c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdepim-apps-libs-19.08.0.tar.xz">kdepim-apps-libs-19.08.0</a></td>
   <td align="right">80kB</td>
   <td><tt>cb65e16d7d4bb6f2d9b5c3c29906614eb3e6ac50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdepim-runtime-19.08.0.tar.xz">kdepim-runtime-19.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d6ceb2a6351c3a1c3ceb6e690ac903cab57f98fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdesdk-kioslaves-19.08.0.tar.xz">kdesdk-kioslaves-19.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>fe714d122e41d87e8fccde0df17379cd26aa6c3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdesdk-thumbnailers-19.08.0.tar.xz">kdesdk-thumbnailers-19.08.0</a></td>
   <td align="right">17kB</td>
   <td><tt>298f69cc23c1816fbef9af92377b141c0f1c84d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdf-19.08.0.tar.xz">kdf-19.08.0</a></td>
   <td align="right">451kB</td>
   <td><tt>40e0987c3448259f88260b5ee61731194e29bf9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdialog-19.08.0.tar.xz">kdialog-19.08.0</a></td>
   <td align="right">100kB</td>
   <td><tt>02a1714ee99a8346278b9c08245e19195abc376e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kdiamond-19.08.0.tar.xz">kdiamond-19.08.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>31398ce85ccfb7f23562729481e70b98b2067734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/keditbookmarks-19.08.0.tar.xz">keditbookmarks-19.08.0</a></td>
   <td align="right">182kB</td>
   <td><tt>010a6a3cf5c2570e903de03d9fdd05a272f31a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kfind-19.08.0.tar.xz">kfind-19.08.0</a></td>
   <td align="right">263kB</td>
   <td><tt>80790c5a046564567f7b9b8d13e09c9e7b91c2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kfloppy-19.08.0.tar.xz">kfloppy-19.08.0</a></td>
   <td align="right">194kB</td>
   <td><tt>088d848153b1be76e47dcf9b67e850161f474ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kfourinline-19.08.0.tar.xz">kfourinline-19.08.0</a></td>
   <td align="right">621kB</td>
   <td><tt>cbfeff9da4fda0a8a57903fce28129720dbed710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kgeography-19.08.0.tar.xz">kgeography-19.08.0</a></td>
   <td align="right">10MB</td>
   <td><tt>20db9ebcac9b67744865dc3ea3da53165663bb7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kget-19.08.0.tar.xz">kget-19.08.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>146e3b9b76ff04e4e085dc84f05999de55ec1220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kgoldrunner-19.08.0.tar.xz">kgoldrunner-19.08.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>d2c2c16988106b6223812a90e06837cfcee1397d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kgpg-19.08.0.tar.xz">kgpg-19.08.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c45a416ef6d4fab75334fc413eca6f5f24cdf909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/khangman-19.08.0.tar.xz">khangman-19.08.0</a></td>
   <td align="right">6.7MB</td>
   <td><tt>87885434d738a576f65a06d96724b34e475632ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/khelpcenter-19.08.0.tar.xz">khelpcenter-19.08.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>fe4c7df3eca0d59e83ed8ed39027f4edac5a4f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kidentitymanagement-19.08.0.tar.xz">kidentitymanagement-19.08.0</a></td>
   <td align="right">145kB</td>
   <td><tt>743d0ff88417e609df83642c128dde0dc24b685b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kig-19.08.0.tar.xz">kig-19.08.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3c81303f004ba6fd7eebcb10ca7605a2021aa28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kigo-19.08.0.tar.xz">kigo-19.08.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>4679ba570d887944a019a612eb10386aaae1c79b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/killbots-19.08.0.tar.xz">killbots-19.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c8d6108899629a6ceaeb511a662cdc8e91586846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kimagemapeditor-19.08.0.tar.xz">kimagemapeditor-19.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8889ce544ce21e5a08854dd8fb5de5c0b9721a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kimap-19.08.0.tar.xz">kimap-19.08.0</a></td>
   <td align="right">116kB</td>
   <td><tt>3b96c31f69ab08afae52bf8a0f7b408a2fa6f7c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kio-extras-19.08.0.tar.xz">kio-extras-19.08.0</a></td>
   <td align="right">564kB</td>
   <td><tt>f527fee70a15a8d4931c12781d807c2aa897013d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kipi-plugins-19.08.0.tar.xz">kipi-plugins-19.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>50b4d425351317e840aab3ef8d15113a40b641fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kirigami-gallery-19.08.0.tar.xz">kirigami-gallery-19.08.0</a></td>
   <td align="right">267kB</td>
   <td><tt>2c5ce90b69fc3d0edab108678795fce98f01f54d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kiriki-19.08.0.tar.xz">kiriki-19.08.0</a></td>
   <td align="right">363kB</td>
   <td><tt>f59a5b0a8c7ef8aace915c10348b8f39254b8e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kiten-19.08.0.tar.xz">kiten-19.08.0</a></td>
   <td align="right">10MB</td>
   <td><tt>b85c88b26ecad040c40c917d7f93f05a7a3b6708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kitinerary-19.08.0.tar.xz">kitinerary-19.08.0</a></td>
   <td align="right">928kB</td>
   <td><tt>ae3983546fe269ffd4f564d346aa7bbd3a6141c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kjumpingcube-19.08.0.tar.xz">kjumpingcube-19.08.0</a></td>
   <td align="right">281kB</td>
   <td><tt>26045075ab03b006691c06b781c6f8ce2ae109d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kldap-19.08.0.tar.xz">kldap-19.08.0</a></td>
   <td align="right">152kB</td>
   <td><tt>8e6f322344f245334fd7f28d747157aae1959ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kleopatra-19.08.0.tar.xz">kleopatra-19.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>862cc0beb038afa9a0d0116dac0313da928c289e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/klettres-19.08.0.tar.xz">klettres-19.08.0</a></td>
   <td align="right">38MB</td>
   <td><tt>c24a13d158df0719d95b33a12a1a4b30221dbba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/klickety-19.08.0.tar.xz">klickety-19.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a0f7aee128cbda527d2e32a146e2dd06bb46ecb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/klines-19.08.0.tar.xz">klines-19.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2d1b6ab9cbb1ffb1133433cdec7872a87a811363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmag-19.08.0.tar.xz">kmag-19.08.0</a></td>
   <td align="right">657kB</td>
   <td><tt>e9653e27ca027c1dd349b1abe2f6739715b3a962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmahjongg-19.08.0.tar.xz">kmahjongg-19.08.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>8aa0cad68a583b0b3a3b2857bcb433dc237069ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmail-19.08.0.tar.xz">kmail-19.08.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d9abf3cbcde1ac96fd9f17244055e7d04571cd4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmail-account-wizard-19.08.0.tar.xz">kmail-account-wizard-19.08.0</a></td>
   <td align="right">154kB</td>
   <td><tt>c2eb0b59c536b633943ae1058a004d90c6adbb3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmailtransport-19.08.0.tar.xz">kmailtransport-19.08.0</a></td>
   <td align="right">162kB</td>
   <td><tt>d8d7efbb5fdbf7ce3d561e633771b48e8c3fd055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmbox-19.08.0.tar.xz">kmbox-19.08.0</a></td>
   <td align="right">24kB</td>
   <td><tt>6e71719fa95cdd4f42d47ce7481e6863e9fd96ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmime-19.08.0.tar.xz">kmime-19.08.0</a></td>
   <td align="right">143kB</td>
   <td><tt>14b93c91e0973b6e1fa9b5bc24e503b1238bf334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmines-19.08.0.tar.xz">kmines-19.08.0</a></td>
   <td align="right">877kB</td>
   <td><tt>b908c1e10f7fa3fc69f007d05aba728caaea0790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmix-19.08.0.tar.xz">kmix-19.08.0</a></td>
   <td align="right">980kB</td>
   <td><tt>69bd399316c49d649ecebdbd326516bfc3bdc448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmousetool-19.08.0.tar.xz">kmousetool-19.08.0</a></td>
   <td align="right">110kB</td>
   <td><tt>ed1871b1b3cf2fc799f08c78e3084290bc427f9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmouth-19.08.0.tar.xz">kmouth-19.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>34f4a828afcc8e293d9def8cefa233e239a0bf3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kmplot-19.08.0.tar.xz">kmplot-19.08.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>033a935ce255d3e57e06af1bedd399000c71559c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/knavalbattle-19.08.0.tar.xz">knavalbattle-19.08.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>dd043e833b794f9e6bc6f9a2cced813ccd344115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/knetwalk-19.08.0.tar.xz">knetwalk-19.08.0</a></td>
   <td align="right">1013kB</td>
   <td><tt>07414313f116ea157d56a133e4bdf16401b579c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/knights-19.08.0.tar.xz">knights-19.08.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>8b5a89cb76fd57441b1aba323ab72280382e1100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/knotes-19.08.0.tar.xz">knotes-19.08.0</a></td>
   <td align="right">312kB</td>
   <td><tt>2ad92eadc3e399b34c48cbaa74e36abc53b147e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kolf-19.08.0.tar.xz">kolf-19.08.0</a></td>
   <td align="right">1000kB</td>
   <td><tt>32e5e51f808249916594b020ebcea9f27be56d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kollision-19.08.0.tar.xz">kollision-19.08.0</a></td>
   <td align="right">274kB</td>
   <td><tt>c332d12798d091bcbc2bcd6ad93c28025795ce71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kolourpaint-19.08.0.tar.xz">kolourpaint-19.08.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>752ee7f250d86446dd58a94c7b8084630a862fc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kompare-19.08.0.tar.xz">kompare-19.08.0</a></td>
   <td align="right">783kB</td>
   <td><tt>5d1be1cbbe4d19a2dfb0c618746a18a9b848f88a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/konqueror-19.08.0.tar.xz">konqueror-19.08.0</a></td>
   <td align="right">7.2MB</td>
   <td><tt>88981b77db87dffd0e81d6eb7def31464345ca59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/konquest-19.08.0.tar.xz">konquest-19.08.0</a></td>
   <td align="right">643kB</td>
   <td><tt>7d6cd4d398dcead42e4b70fdc48b626436a51af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/konsole-19.08.0.tar.xz">konsole-19.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d6c7e5e11fdbc04208811c56c5b5a4540dd962b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kontact-19.08.0.tar.xz">kontact-19.08.0</a></td>
   <td align="right">776kB</td>
   <td><tt>9d047985ac02d6af511ce798d7611e3e3ab263cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kontactinterface-19.08.0.tar.xz">kontactinterface-19.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>661e3871e2e44b74fce2a877bb389423ac83c860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kopete-19.08.0.tar.xz">kopete-19.08.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>3ae14a5f61f7029680961ccc8c89e218ded61295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/korganizer-19.08.0.tar.xz">korganizer-19.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0b2b611fd5d71c6377e3d8faa0129f77edac3436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kpat-19.08.0.tar.xz">kpat-19.08.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>e197a97c1e402694e0cc21411d950fe7c2d3786d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kpimtextedit-19.08.0.tar.xz">kpimtextedit-19.08.0</a></td>
   <td align="right">150kB</td>
   <td><tt>7c9dc03a2e0a1baa5c3120ee34a23c58f12f039d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kpkpass-19.08.0.tar.xz">kpkpass-19.08.0</a></td>
   <td align="right">22kB</td>
   <td><tt>db815343941d6762756fd2f47f97aac22323ccb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kqtquickcharts-19.08.0.tar.xz">kqtquickcharts-19.08.0</a></td>
   <td align="right">25kB</td>
   <td><tt>99493b32954b53c73fde78adf363e6243b2e5203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/krdc-19.08.0.tar.xz">krdc-19.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ab2aff3eeec1465b14151795bc7f7f98b4da01be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kreversi-19.08.0.tar.xz">kreversi-19.08.0</a></td>
   <td align="right">921kB</td>
   <td><tt>467749ccb0c4d3c91d655c67a5230a62b9e6230f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/krfb-19.08.0.tar.xz">krfb-19.08.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>4dc8b4096a8e6904e5bb09ad33ef06b63aa97dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kross-interpreters-19.08.0.tar.xz">kross-interpreters-19.08.0</a></td>
   <td align="right">148kB</td>
   <td><tt>6e1c08e5b8f3d2281a518500faa4876a46a4ffb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kruler-19.08.0.tar.xz">kruler-19.08.0</a></td>
   <td align="right">243kB</td>
   <td><tt>6be2e19ba6f3e00e3ec9dea75c93fc872b1fad3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kshisen-19.08.0.tar.xz">kshisen-19.08.0</a></td>
   <td align="right">803kB</td>
   <td><tt>04402f3fe1cfd5a54a328e9e5ea50adfe94d6baf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ksirk-19.08.0.tar.xz">ksirk-19.08.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>239fcb9b28fadb338c224bd20e9918043d8d1176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ksmtp-19.08.0.tar.xz">ksmtp-19.08.0</a></td>
   <td align="right">39kB</td>
   <td><tt>93e247a629c25b3845c01efc32e71e16415d020f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ksnakeduel-19.08.0.tar.xz">ksnakeduel-19.08.0</a></td>
   <td align="right">591kB</td>
   <td><tt>be0e6850f176b4c5e6e8bdabaf6f749b8780a191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kspaceduel-19.08.0.tar.xz">kspaceduel-19.08.0</a></td>
   <td align="right">596kB</td>
   <td><tt>8accbf57dde402a56dc1c207e57dca635db46e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ksquares-19.08.0.tar.xz">ksquares-19.08.0</a></td>
   <td align="right">254kB</td>
   <td><tt>ac24d8d781a3060cc34b7841ccb8d5cf9f408468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ksudoku-19.08.0.tar.xz">ksudoku-19.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2f086d44ed21c81f8f9e67f063097f1a231bdc35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ksystemlog-19.08.0.tar.xz">ksystemlog-19.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2b1f1919653b57b03a533345648107c6db51c572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kteatime-19.08.0.tar.xz">kteatime-19.08.0</a></td>
   <td align="right">279kB</td>
   <td><tt>9c109d6686d0a09f1c994bcee4717917af73b970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktimer-19.08.0.tar.xz">ktimer-19.08.0</a></td>
   <td align="right">368kB</td>
   <td><tt>b7a3d8c9a2bd03833c9104cc4c8cd6989a8e45a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktnef-19.08.0.tar.xz">ktnef-19.08.0</a></td>
   <td align="right">292kB</td>
   <td><tt>183307ef49d87e8ac31ea379e77743bff9ac8034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktouch-19.08.0.tar.xz">ktouch-19.08.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>8f4ddcf024b11d0fa3d45b7ac54eef0142119718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-accounts-kcm-19.08.0.tar.xz">ktp-accounts-kcm-19.08.0</a></td>
   <td align="right">258kB</td>
   <td><tt>c3c7c9768a4e3c4524c613fa72f2f810c9056b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-approver-19.08.0.tar.xz">ktp-approver-19.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>72c89eac81582a3a29d68c4658d721a6e20a95b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-auth-handler-19.08.0.tar.xz">ktp-auth-handler-19.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>fa8713be48aeb7934ac2f18b554d3ba25165a93c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-call-ui-19.08.0.tar.xz">ktp-call-ui-19.08.0</a></td>
   <td align="right">95kB</td>
   <td><tt>3e130b17b74d829a843b85a919d63ab99d72ac0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-common-internals-19.08.0.tar.xz">ktp-common-internals-19.08.0</a></td>
   <td align="right">434kB</td>
   <td><tt>cc20643d50284144cdd76ea5fe3004d9d74584c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-contact-list-19.08.0.tar.xz">ktp-contact-list-19.08.0</a></td>
   <td align="right">144kB</td>
   <td><tt>c6b9cb4cd26992313db23d2f4ebe584e82a35b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-contact-runner-19.08.0.tar.xz">ktp-contact-runner-19.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>0cf0e0554359fbe201f33b7adaf268e1c2cbabdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-desktop-applets-19.08.0.tar.xz">ktp-desktop-applets-19.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>4e42231f789e1569d407ae467e3d65448f2630b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-filetransfer-handler-19.08.0.tar.xz">ktp-filetransfer-handler-19.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>9d9ddcec8a17fad9377735cd1ab4466a45bd5796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-kded-module-19.08.0.tar.xz">ktp-kded-module-19.08.0</a></td>
   <td align="right">93kB</td>
   <td><tt>8cd947bce3cd51210ef94efc8e1540434f9282cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-send-file-19.08.0.tar.xz">ktp-send-file-19.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>c05e574022b9238f87cb88c9cd114d4072ae272b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktp-text-ui-19.08.0.tar.xz">ktp-text-ui-19.08.0</a></td>
   <td align="right">460kB</td>
   <td><tt>cc804293482c19137628b03647e25bde9e0a5e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/ktuberling-19.08.0.tar.xz">ktuberling-19.08.0</a></td>
   <td align="right">31MB</td>
   <td><tt>f5cf24e2ec12048cab0d111baad7fd7056371b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kturtle-19.08.0.tar.xz">kturtle-19.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7ca6f850c9cd956cabe6337af1d22d1842497434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kubrick-19.08.0.tar.xz">kubrick-19.08.0</a></td>
   <td align="right">306kB</td>
   <td><tt>e3a626c2233f691c436a0ac071072919865a70b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kwalletmanager-19.08.0.tar.xz">kwalletmanager-19.08.0</a></td>
   <td align="right">768kB</td>
   <td><tt>52e3a82bb3f4856f5759c7720a2f0b3d1c81bc74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kwave-19.08.0.tar.xz">kwave-19.08.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>6db7c1c32aa5e0b52e5b3f87f7bec91f9e5e69a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/kwordquiz-19.08.0.tar.xz">kwordquiz-19.08.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>5fd91c3c0abe340a617e5539ce3eb52bd5a10dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libgravatar-19.08.0.tar.xz">libgravatar-19.08.0</a></td>
   <td align="right">30kB</td>
   <td><tt>4408733fed3054e0c37039fb1660123e648d24b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkcddb-19.08.0.tar.xz">libkcddb-19.08.0</a></td>
   <td align="right">414kB</td>
   <td><tt>1ab95a2ba844d0f23a756ecb779e3c20cf457c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkcompactdisc-19.08.0.tar.xz">libkcompactdisc-19.08.0</a></td>
   <td align="right">86kB</td>
   <td><tt>55e47cb8325263ce2488759cca710beb2161f061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkdcraw-19.08.0.tar.xz">libkdcraw-19.08.0</a></td>
   <td align="right">41kB</td>
   <td><tt>1144686bcf42094b14484591f7ddbaff8c82ef54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkdegames-19.08.0.tar.xz">libkdegames-19.08.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>347d65c577debc202da17cf290ea7597f8bbb909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkdepim-19.08.0.tar.xz">libkdepim-19.08.0</a></td>
   <td align="right">325kB</td>
   <td><tt>0718679ae6f9fcb4c2b6684921aa4c8aa639d853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkeduvocdocument-19.08.0.tar.xz">libkeduvocdocument-19.08.0</a></td>
   <td align="right">205kB</td>
   <td><tt>0bbafa7408a732efe2ef73e802a3afb5393ebf4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkexiv2-19.08.0.tar.xz">libkexiv2-19.08.0</a></td>
   <td align="right">63kB</td>
   <td><tt>71dcea15f91016cb6a357fcf26a753f9ba941787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkgapi-19.08.0.tar.xz">libkgapi-19.08.0</a></td>
   <td align="right">229kB</td>
   <td><tt>1015a1d78aa3528d9302b75fb40145dd7a64b32d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkgeomap-19.08.0.tar.xz">libkgeomap-19.08.0</a></td>
   <td align="right">147kB</td>
   <td><tt>413fea484e9faa89069f313d32fcec3277a27efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkipi-19.08.0.tar.xz">libkipi-19.08.0</a></td>
   <td align="right">101kB</td>
   <td><tt>f242bc8dc361da768b503c16bc1da6fb725e9aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkleo-19.08.0.tar.xz">libkleo-19.08.0</a></td>
   <td align="right">329kB</td>
   <td><tt>a1cf5f33ae4eae45999f6cad958fbc72e0b60ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkmahjongg-19.08.0.tar.xz">libkmahjongg-19.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3c148c13c563d690f22842234d1374d6ad87ceac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libkomparediff2-19.08.0.tar.xz">libkomparediff2-19.08.0</a></td>
   <td align="right">168kB</td>
   <td><tt>f432e54699f25545ce7d4b2d7f1d861b5e0f0d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libksane-19.08.0.tar.xz">libksane-19.08.0</a></td>
   <td align="right">135kB</td>
   <td><tt>200534134f59af8acd54618b968f33028df91757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/libksieve-19.08.0.tar.xz">libksieve-19.08.0</a></td>
   <td align="right">536kB</td>
   <td><tt>6956573c61d72b8f4050696f16cf1e0f237ac346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/lokalize-19.08.0.tar.xz">lokalize-19.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b8f56990378a095db66f4a14910db387bee2b7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/lskat-19.08.0.tar.xz">lskat-19.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ef973928638a8f38e8f347a79b92b116c97d84eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/mailcommon-19.08.0.tar.xz">mailcommon-19.08.0</a></td>
   <td align="right">676kB</td>
   <td><tt>7291507c016637874d1c2fcffd66ecf40a20229d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/mailimporter-19.08.0.tar.xz">mailimporter-19.08.0</a></td>
   <td align="right">526kB</td>
   <td><tt>c0782914fc74d748f6a6e2e886c3fef8666716a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/marble-19.08.0.tar.xz">marble-19.08.0</a></td>
   <td align="right">49MB</td>
   <td><tt>887644404af5ef502b8feaa02676a11051947e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/mbox-importer-19.08.0.tar.xz">mbox-importer-19.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>6de8e2760af566b7d3e7029b70e72d061ec87b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/messagelib-19.08.0.tar.xz">messagelib-19.08.0</a></td>
   <td align="right">9.8MB</td>
   <td><tt>f4f04feb1257a2788321b26b4ddc8924ab5e6678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/minuet-19.08.0.tar.xz">minuet-19.08.0</a></td>
   <td align="right">26MB</td>
   <td><tt>0d3eaa87447177e126bb6f0755a449a1f005d4ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/okular-19.08.0.tar.xz">okular-19.08.0</a></td>
   <td align="right">6.7MB</td>
   <td><tt>3dbd852bfe19da6a55e68a4ad376818dba709ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/palapeli-19.08.0.tar.xz">palapeli-19.08.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6170d6b3c8279d56b9bbb8076a4613832ab37c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/parley-19.08.0.tar.xz">parley-19.08.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>3880e43ef594c0d458f909ad7a4f843876b53ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/picmi-19.08.0.tar.xz">picmi-19.08.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>6363523e4feaeffe0931ba96ef8aa20bf7f4f80a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/pimcommon-19.08.0.tar.xz">pimcommon-19.08.0</a></td>
   <td align="right">285kB</td>
   <td><tt>4d75bdf35a891eb91c2a0756f7c3a5557abf8d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/pim-data-exporter-19.08.0.tar.xz">pim-data-exporter-19.08.0</a></td>
   <td align="right">198kB</td>
   <td><tt>922c66f2b7a72cb5f7bc05bca577f960ec78af23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/pim-sieve-editor-19.08.0.tar.xz">pim-sieve-editor-19.08.0</a></td>
   <td align="right">440kB</td>
   <td><tt>5d05e052f71ac72a3cad662c6c5b6095ddcee65c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/poxml-19.08.0.tar.xz">poxml-19.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>2f100e6466520a23fe88381ad78525c632ff10a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/print-manager-19.08.0.tar.xz">print-manager-19.08.0</a></td>
   <td align="right">235kB</td>
   <td><tt>724381383a89c8673a070213080f45df3f78e203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/rocs-19.08.0.tar.xz">rocs-19.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e9b973670a2547c4a212d379a1845da5fb34ad3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/signon-kwallet-extension-19.08.0.tar.xz">signon-kwallet-extension-19.08.0</a></td>
   <td align="right">10kB</td>
   <td><tt>ed94a41fa9aa9a7bd443adc21835147a6c880688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/spectacle-19.08.0.tar.xz">spectacle-19.08.0</a></td>
   <td align="right">942kB</td>
   <td><tt>bb7ff159ec7489b0d3daf8af7b17864a6e5c76f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/step-19.08.0.tar.xz">step-19.08.0</a></td>
   <td align="right">851kB</td>
   <td><tt>7b675240c0293db9b372d6de2603c63b059de723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/svgpart-19.08.0.tar.xz">svgpart-19.08.0</a></td>
   <td align="right">20kB</td>
   <td><tt>d56d7df3f54e6aed0f3b15a95470df2f1fa4a658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/sweeper-19.08.0.tar.xz">sweeper-19.08.0</a></td>
   <td align="right">360kB</td>
   <td><tt>0a89644330d13e42c7ca6b7c707aea34b89c1471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/umbrello-19.08.0.tar.xz">umbrello-19.08.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>b9a83c091a67972b64eae09ea2f21a7771cf83fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/yakuake-19.08.0.tar.xz">yakuake-19.08.0</a></td>
   <td align="right">361kB</td>
   <td><tt>06eaa2a4b719fb8eebdb92556178a1e50b578842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.0/src/zeroconf-ioslave-19.08.0.tar.xz">zeroconf-ioslave-19.08.0</a></td>
   <td align="right">38kB</td>
   <td><tt>012fb6a036ba00478acccdb609ccc7eed57f53fb</tt></td>
</tr>

</table>
