{{ define "main" }}
<style>

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: 1fr;
}
.bg-red {
  background-image: linear-gradient(-135deg, rgba(218,68,83,0.2), rgba(231,76,60, 0.2));
}

.bg-blue {
  background-image: linear-gradient(-135deg, rgba(61,174,233,0.2), rgba(29,153,243, 0.2));
}

.bg-green {
  background-image: linear-gradient(-135deg, rgba(39,174,96,0.2), rgba(46,204,113, 0.2));
}

.bg-yellow {
  background-image: linear-gradient(-135deg, rgba(253,188,75,0.2), rgba(246,116,0, 0.2));
}

.bg-orange {
  background-color: rgba(246,116,0,.05)
}

.bg-purple {
  background-image: linear-gradient(-135deg, #9b59b611, #8e44ad11);
}
</style>
<main>
  <section style="background: radial-gradient(circle, #c203c5 0%, #4e02a7 80%); color: white" class="mt-0">
    <div class="container py-5 mt-0">
      <h1 class="text-center mt-0">{{ .Params.plasma.title }}</h1>
      <div class="laptop-with-overlay mt-3 mb-3 w-75 ml-auto mr-auto">
        <img class="laptop img-fluid mb-3" src="/content/plasma-desktop/laptop.png" alt="">
        <div class="laptop-overlay">
          <img class="img-fluid mb-3" src="/announcements/plasma-5.20/plasma.jpg" alt="{{ .Params.plasma.screenshot }}" />
        </div>
      </div>
      <p style="max-width: 600px;" class="ml-auto mr-auto text-center h5 my-3">
        {{ .Params.plasma.text }}
      </p>
      <p style="max-width: 800px" class="ml-auto mr-auto d-flex flex-wrap justify-content-center">
        <a href="{{"/plasma-desktop" | relLangURL}}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button mb-2 ml-1 mr-1">{{ .Params.plasma.learn_more }}</a>
        <a href="/distributions" class="learn-more button mb-2 ml-1 mr-1">{{ .Params.plasma.view }}</a>
      </p>
    </div>
  </section>
  <div class="container-fluid">
    <section class="grid" id="productsRow">
      {{ $languagePrefix := .Site.LanguagePrefix }} 
      {{ range .Params.products }}
        <article class="text-center {{ with .color }}bg-{{ . }}{{ end }} p-4">
            <h2><a href="{{ .link }}{{ if .externi18n }}{{ $languagePrefix }}{{ end }}">{{ .title }}</a></h2>
          <h3 class="mb-3 h5 mx-auto" style="max-width:400px">{{ .description | markdownify }}</h3>
          <a href="{{ .link }}"><img src="{{ .image }}" class="w-100 my-4" style="max-width: 140px;" /></a>
        </article>
      {{ end }}
    </section>
  </div>
</main>
{{ end }}
