<footer id="kFooter" class="footer">
  <section id="kPatrons" class="container">
    <h3>KDE Patrons</h3>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center">
      <span><img src="/aether/media/patrons/canonical.svg" alt="Logo of KDE Patron: Canonical"></span>
      <span><img src="/aether/media/patrons/google.svg" alt="Logo of KDE Patron: Google"></span>
      <span><img src="/aether/media/patrons/suse.svg" alt="Logo of KDE Patron: SUSE"></span>
      <span><img src="/aether/media/patrons/qt-company.svg" alt="Logo of KDE Patron: The Qt Company"></span>
      <span><img src="/aether/media/patrons/blue-systems.png" alt="Logo of KDE Patron: Blue System"></span>
      <span><img src="/aether/media/patrons/enioka-haute-couture-logo.svg" alt="Logo of KDE Patron: enioka Haute Couture"></span>
    </div>
  </section>

  <section id="kFooterIncome" class="container">
    <div id="kDonateForm">
      <div class="center">
          <h3>{{ i18n "donate-to-kde" }} <a href="https://kde.org/community/donations/index.php#money" target="_blank">{{ i18n "why-donate" }}</a></h3>
        <form action="https://www.paypal.com/en_US/cgi-bin/webscr" method="post" onsubmit="return amount.value >= 2 || window.confirm('Your donation is smaller than 2€. This means that most of your donation\nwill end up in processing fees. Do you want to continue?');">
          <input type="hidden" name="cmd" value="_donations">
          <input type="hidden" name="lc" value="GB">
          <input type="hidden" name="item_name" value="Development and communication of KDE software">
          <input type="hidden" name="custom" value="//kde.org/index/donation_box">
          <input type="hidden" name="currency_code" value="EUR">
          <input type="hidden" name="cbt" value="Return to kde.org">
          <input type="hidden" name="return" value="https://kde.org/community/donations/thanks_paypal">
          <input type="hidden" name="notify_url" value="https://kde.org/community/donations/notify.php">
          <input type="hidden" name="business" value="kde-ev-paypal@kde.org">
          <label class="sr-only" for="donateAmountField">{{ i18n "amount" }}</label><input type="text" name="amount" value="20.00" id="donateAmountField" data-kpxc-id="donateAmountField"> €
          <button type="submit" id="donateSubmit">{{ i18n "donate-via-paypal" }}</button>
        </form>

        <a href="https://kde.org/community/donations/others" id="otherWaysDonate" target="_blank">{{ i18n "other-donate" }}</a>
      </div>
    </div>
    <div id="kMetaStore">
      <div class="center">
        <h3>{{ i18n "visit-kde-metastore" }}</h3>
        <p>{{ i18n "show-love-store" }}</p>
        <a href="https://kde.org/stuff/metastore" class="button">{{ i18n "click-store" }}</a>
      </div>
    </div>
  </section>

  <section id="kLinks" class="container">
    <div class="row">
      <nav class="col-sm">
        <h3>{{ i18n "products" }}</h3>
        <a href="/{{ .Site.LanguagePrefix }}/plasma-desktop" hreflang="{{ .Site.LanguagePrefix }}" >Plasma</a>
        <a href="https://apps.kde.org/{{ .Site.LanguagePrefix }}" hreflang="{{ .Site.LanguagePrefix }}" >{{ i18n "kde-applications" }}</a>
        <a href="https://develop.kde.org/products/frameworks/">KDE Frameworks</a>
        <a href="https://plasma-mobile.org/overview/">Plasma Mobile</a>
        <a href="https://neon.kde.org/">KDE neon</a>
        <a href="https://wikitolearn.org/" rel="noopener" target="_blank">WikiToLearn</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "develop" }}</h3>
        <a href="https://techbase.kde.org/">TechBase Wiki</a>
        <a href="https://api.kde.org/">{{ i18n "api-doc" }}</a>
        <a href="https://doc.qt.io/" rel="noopener" target="_blank">Qt Documentation</a>
        <a href="https://inqlude.org/" rel="noopener" target="_blank">Inqlude Documentation</a>
        <a href="/goals">Goals</a> 
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "news-and-press" }}</h3>
        <a href="{{ .Site.LanguagePrefix }}/announcements/">Announcements</a>
        <a href="https://dot.kde.org/">KDE.news</a>
        <a href="https://planet.kde.org/">Planet KDE</a>
        <a href="/screenshots">{{ i18n "screenshots" }}</a>
        <a href="/contact/">{{ i18n "press-contact" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "ressources" }}</h3>
        <a href="https://community.kde.org/Main_Page">Community Wiki</a>
        <a href="https://userbase.kde.org/">UserBase Wiki</a>
        <a href="/stuff/">Miscellaneous Stuff</a>
        <a href="/support/">{{ i18n "support" }}</a>
        <a href="/support/international/">{{ i18n "international-websites" }}</a>
        <a href="/download/">{{ i18n "download-kde" }}</a>
        <a href="/code-of-conduct/">{{ i18n "code-of-conduct" }}</a>
        <a href="/privacypolicy">{{ i18n "privacy-policy" }}</a>
        <a href="/privacypolicy-apps">{{ i18n "privacy-policy-apps" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "destinations" }}</h3>
        <a href="https://store.kde.org/">KDE Store</a>
        <a href="https://ev.kde.org/">KDE e.V.</a>
        <a href="/community/whatiskde/kdefreeqtfoundation">KDE Free Qt Foundation</a>
        <a href="https://timeline.kde.org/">{{ i18n "timeline" }}</a>
      </nav>
    </div>
  </section>

  <div id="kSocial" class="container kSocialLinks">
    <a class="shareFacebook" href="https://www.facebook.com/kde/" rel="nofollow">{{ i18n "post-facebook" }}</a>
    <a class="shareTwitter" href="https://twitter.com/kdecommunity" rel="nofollow">{{ i18n "share-twitter" }}</a>
    <a class="shareDiaspora" href="https://joindiaspora.com/people/9c3d1a454919ef06" rel="nofollow">{{ i18n "share-diaspora" }}</a>
    <a class="shareMastodon" href="https://mastodon.technology/@kde" rel="me nofollow">{{ i18n "share-mastodon" }}</a>
    <a class="shareLinkedIn" href="https://www.linkedin.com/company/29561/" rel="nofollow">{{ i18n "share-reddit" }}</a>
    <a class="shareReddit" href="https://www.reddit.com/r/kde/" rel="nofollow">{{ i18n "share-reddit" }}</a>
    <a class="shareYouTube" href="https://www.youtube.com/channel/UCF3I1gf7GcbmAb0mR6vxkZQ" rel="nofollow">{{ i18n "share-youtube" }}</a>
    <a class="sharePeerTube" href="https://peertube.mastodon.host/accounts/kde/videos" rel="nofollow">{{ i18n "share-peertube" }}</a>
    <a class="shareVK" href="https://vk.com/kde_ru" rel="nofollow">{{ i18n "share-vk" }}</a>
    <a class="shareInstagram" href="https://www.instagram.com/kdecommunity/" rel="nofollow">{{ i18n "share-instagram" }}</a>
  </div>

  <div id="kLegal" class="container">
    <div class="row">
      <small class="col-4">
        Maintained by <a href="mailto:kde-webmaster@kde.org">KDE Webmasters</a>
      </small>
      <small class="col-8" style="text-align: right;">
        KDE<sup>®</sup> and <a href="/media/images/trademark_kde_gear_black_logo.png">the K Desktop Environment<sup>®</sup> logo</a> are registered trademarks of <a href="https://ev.kde.org/" title="Homepage of the KDE non-profit Organization">KDE e.V.</a> |
        <a href="https://www.kde.org/community/whatiskde/impressum">Legal</a>
      </small>
    </div>
  </div>
  <script>
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['disableCookies']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://stats.kde.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
</footer>
