<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="KDE is an open community of friendly people who want to create a world in which everyone has control over their digital life and enjoys freedom and privacy.">
<meta name="author" content="">
<title>{{ .Title }} : KDE.org</title>
<link rel="canonical" href="{{ .Permalink }}">
{{ $title := .Title }}
{{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />{{ end }}


{{ template "_internal/opengraph.html" . }}

{{ template "_internal/twitter_cards.html" . }}

<!-- Icons -->
<link rel="apple-touch-icon" href="/aether/media/180x180.png">
<link rel="shortcut icon" href="/aether/media/192x192.png">
<link rel="icon" href="/favicon.ico?v=2"> 

{{ if .IsTranslated }}
  {{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
{{ end }}

{{ $manifest := getJSON "https://cdn.kde.org/aether-devel/version/manifest.json?cache_force=1" }}
<!-- Bootstrap core CSS -->
<link href="https://cdn.kde.org/{{ index $manifest "aether-devel/version/bootstrap.css" }}" rel="stylesheet" />
<link rel="preload" href="https://cdn.kde.org/{{ index $manifest "aether-devel/version/images/glyph.svg" }}" as="font" >
<link rel="preload" href="https://cdn.kde.org/{{ index $manifest "aether-devel/version/fonts/noto-sans.woff2" }}" as="font">
{{ range .Params.cssFiles }}
  <link href="{{ . }}" rel="stylesheet">
{{ end }}
{{ range .Params.cdnCssFiles }}
  <link href="https://cdn.kde.org/{{ index $manifest (printf "%s%" "aether-devel/version/" .) }}" rel="stylesheet" />
{{ end }}
{{ range .Params.sassFiles }}
{{ $style := resources.Get . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ if eq .Type "announcements" }}
    {{ $style := resources.Get "sass/releaseAnnouncement.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
<style>
.dropdonw-trans {
  max-height: 500px;
  overflow-y: scroll;
}
.translation-list a:after {
  content: ' | ';
}

.translation-list a:last-child:after {
  content: '';
}
</style>

<!-- Standard JS Files, bootstrap Async -->
<script src="https://cdn.kde.org/{{ index $manifest "aether-devel/version/bootstrap.js" }}" defer=""></script>
