{{ define "main" }}
<style>
.release-framework-heading {
  background: #01d486;
  background: linear-gradient(128deg, #01d486 0%, #3daee8 100%);
  text-shadow: 0 0 0px #fff;
  color: white;
  padding-bottom: 20px;
}
.release-framework-heading a, .release-framework-heading a:hover {
  color: white;
}
.release-framework-heading::after {
  width: 0;
  height:0;
}

.kde-logo-big {
  background-color: inherit;
  font-family: glyph;
  font-size: 7em;
}
</style>
{{ $scratch := newScratch }}
{{ $scratch.Set "url" "https://kdesrc-build.kde.org/" }}
{{ $scratch.Set "version" .Params.version }}
{{ $scratch.Set "qtversion" .Params.qtversion }}
{{ $scratch.Set "inqlude" "https://inqlude.org" }}
{{ $scratch.Set "apiurl" "https://api.kde.org/frameworks" }}
{{ $scratch.Set "frameworkurl" "https://invent.kde.org/frameworks" }}
{{ $scratch.Set "frameworkmail" "https://mail.kde.org/mailman/listinfo/kde-frameworks-devel" }}
{{ $scratch.Set "wiki" "https://community.kde.org/Get_KDE_Software_on_Your_Linux_Distro" }}
<header class="release-framework-heading pt-5 mb-5">
  <div class="container text-center">
    <span class="kde-logo-big">K</span>
    <h2 class="mt-0"><a href="/announcements/">{{ i18n "release-announcements" }}</a><h2>
    <h1>{{ i18n "kde-framework" . }}</h1>
  </div>
</header>
<main class="releaseAnnouncment container">
  {{ .Content }}
  <h2>{{ i18n "binary-package" }}</h2>
  <p>{{ i18n "binary-package-text" $scratch | markdownify }}</p>

  <h2>{{ i18n "sources" }}</h2>
  <p>{{ i18n "sources-text" $scratch | markdownify }}</p>
  <p>{{ i18n "sources-instructions" $scratch | markdownify }}</p>
  <p>{{ i18n "source-details" $scratch | markdownify }}</p>
  <h2>{{ i18n "get-involved" }}</h2>
  <p>{{ i18n "get-involed-framework" $scratch | markdownify }}

  <h2>{{ i18n "feedback-apprciated" }}</h2>
  <p>{{ i18n "whatiskde" | markdownify }}</p>
</main>
{{ end }}
