{{ define "main" }}
<main class="container">
  <nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item ml-3 mr-5" aria-current="page"><a href="/announcements">{{ i18n "announcements" }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    </ol>
  </nav>
  {{ if .IsTranslated }}
    <h4>{{ i18n "Translations" }}</h4>
    <div class="translation-list">
      {{ range .Translations }}
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{ end }}
    </div>
  {{ end }} 
    <h1>{{ .Title | safeHTML }} </h1>
    {{if .Date }}
      {{ .Date.Format "Mon, 02 Jan 2006" | safeHTML }}
    {{end}}
    <br>
    <br>
    {{ .Content }}

    {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
          <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    {{ end }}

    {{ if $.Param "socialShare" }}
        <hr/>
        <section id="social-share">
          <div class="list-inline footer-links">
            {{ partial "share-links" . }}
          </div>
        </section>
    {{ end }}

    {{ if .Site.Params.showRelatedPosts }}
      {{ $related := .Site.RegularPages.Related . | first 3 }}
      {{ with $related }}
      <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
      <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
      {{ end }}
    {{ end }}
  </article>
</main>
{{ end }}
