---
---

<h2>
  {{% translate "about-kde" %}}
</h2>
<p align="justify">
  {{% translate "about-kde-text" %}}
</p>

<hr />

<p align="justify">
  <font size="2">
    <em>{{% translate "trademark-notices" %}}</em><br/> <br/>
    {{% translate "kde-trademark" %}} <br/>
    {{% translate "linux-trademark" %}} {{% translate "unix-trademark" %}}<br/>
    {{% translate "other-trademarks" %}}
  </font>
</p>
<hr />
