<figure class="text-center embed-responsive embed-responsive-16by9">
    <video {{ with .Get "poster" }}poster="{{ . }}"{{ end }} controls>
    {{ with .Get "src-webm"}}
      <source src="{{ . }}" type="video/webm" />
    {{ end }}
    {{ with .Get "src" }}
      <source src="{{ . }}" type="video/mp4" />
    {{ end }}
    {{ with .Get "src-ogb" }}
      <source src="{{ . }}" type="video/ogv" />
    {{ end }}
  </video>
  {{ with .Get "caption" }}
    <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>
